<template name="inbox">

  {{#if separator}}
    <div class="separator">
      {{{_ label}}}
      {{#if count}}
        <span class="separator-count">({{count}})</span>
      {{/if}}
    </div>
  {{else}}
    <a id='menuButton' href="{{url}}" ontouchstart="">
      <li id='sidebar-button-{{id}}' class="menu-item {{selected}} w-clearfix" feed="{{feed}}">
        {{#if isAvatar}}
          <img class="icon-inbox" src="{{icon}}">
        {{/if}}
        <div class="sidebar-label">
          {{{_ label}}}
        </div>
      </li>
    </a>
  {{/if}}

</template>
