<template name="inbox">

  {{#if separator}}
    <div class="separator">
      {{{_ label}}}
      {{#if count}}
        <span class="separator-count">({{count}})</span>
      {{/if}}
    </div>
  {{else}}
    <a id='menuButton' href="{{url}}" ontouchstart="">
      <li id='sidebar-button-{{id}}' class="menu-item {{selected}} w-clearfix" feed="{{feed}}">
        {{#unless isAvatar}}
          {{#if selected}}
            <img class="icon-inbox" src="{{pathFor route='home'}}{{iconActivated}}">
          {{else}}
            <img class="icon-inbox" src="{{pathFor route='home'}}{{icon}}">
          {{/if}}
        {{else}}
          {{#with currentUser}}
            <div class="sidebar-avatar">
              {{> avatar size=20 profile=currentUser._id loginMode=true includeName=false includeNation=false editable=false microFont=true disabled=true includeRole=false}}
            </div>
          {{/with}}
        {{/unless}}
        <div class="sidebar-label">
          {{{_ label}}}
        </div>
        {{#if reserve}}
          <div class="sidebar-tag">
            {{#with tokens}}
              {{> balance}}
            {{/with}}
          </div>
        {{/if}}
      </li>
    </a>
  {{/if}}

</template>
