<template name="avatar">
  {{#if placeholder}}
    <div class="w-clearfix avatar-editor">
      <div class="symbol profile-pic profile-pic-placeholder" style="{{pictureSize size includeName}}">
      </div>
      <div class="identity-peer {{classStyle smallFont}} {{pending}}">
          <div class="option-placeholder identity-placeholder"></div>
      </div>
    </div>
  {{else}}
    <div class="w-clearfix avatar-editor {{sidebarIcon}}" style="{{styleContext}}">
      {{#if editor}}
        {{#if Meteor.settings.public.app.config.profile.uploadAvatarToCloud}}
          <img src="{{profilePicture}}" class="symbol profile-pic profile-pic-edit" ontouchstart="">
          <div class="avatar-description">
            <div class="login-label">{{_ 'profile-picture'}}</div>
          </div>
          <form id="upload">
            <div class="">
              <label class="button button-upload upload-button-label">
                <input type="file">
                <img src="{{getImage 'camera'}}" class="upload-icon">
                <span class='uploader-button'>{{_ 'upload-picture'}}</span>
              </label>
            </div>
          </form>
        {{/if}}
      {{else}}
        {{#if editable}}
          <div id="toggleEditor" class="symbol profile-pic profile-edit" ontouchstart="">
            <div class="label">{{_ 'edit'}}</div>
          </div>
        {{/if}}
        {{#if profile}}
          <img id="{{elementId}}" src="{{blockiePicture profile}}" class="symbol profile-pic {{classStyle smallFont}} {{pending}}" style="{{pictureSize size includeName}}" ontouchstart="">
        {{else}}
          <img id='avatar-pic-{{elementId}}' src="{{blockiePicture}}" class="symbol profile-pic {{classStyle smallFont}}" style="{{pictureSize size includeName}}" ontouchstart="">
        {{/if}}
        <div class="identity-peer {{classStyle smallFont}} {{pending}}">
          {{#if verifiedIdentity}}
            <div class="identity-verified">
              <img src="{{getImage 'white-tick'}}" class="identity-verified-tick">
            </div>
          {{/if}}
          {{#if includeName}}
            {{#if microFont}}
              {{#if includeNation}}
                <a href="{{geoURL profile}}" class="identity-label identity-label-micro">
                  {{flag profile}}
                </a>
              {{/if}}
              <a href="{{url}}" title="{{fullName profile}}" class="identity-label identity-label-micro">
                {{username profile}}
              </a>
            {{else}}
              {{#if smallFont}}
                {{#if includeNation}}
                  {{flag profile}}
                {{/if}}
                <a href="{{url}}" title="{{fullName profile}}" class="identity-label identity-label-small">
                  {{username profile}}
                </a>
              {{else}}
                <a href="{{url}}" title="{{fullName profile}}" class="identity-label">
                  {{username profile}}
                </a>
              {{/if}}
              {{#if includeNation}}
                {{#unless smallFont}}
                  <div class="identity-nation">{{nationality profile}}</div>
                {{/unless}}
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if includeAddress}}
            {{> chain ticker=ticker address=address}}
          {{/if}}
        </div>
        {{#if includeRole}}
          <div class="signature-role {{roleStyle}}">
            {{{roleStatus}}}
            {{#if allowRemove}}
              {{#if myself}}
                {{#unless isPhone}}
                  <div id="removeSignature" title="{{_ 'remove-signature-tooltip'}}" class="signature-remove"></div>
                {{/unless}}
              {{/if}}
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>
