body {
  padding: 70px 0px 20px;
  background-color: #ddd;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  color: #000;
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
  letter-spacing: -2px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted silver;
  color: silver;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

p {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0px;
}

a {
  border-bottom: 1px none #00c091;
  color: #00c091;
  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
}

strong {
  font-weight: 400;
}

blockquote {
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #aaa;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0px;
}

.paper {
  display: block;
  margin: 15px auto 20px;
  padding: 20px 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 12px -10px #000;
}

.paper.paper-execute {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e6f9f4;
  box-shadow: 0 0 12px -10px #000, inset 0 0 2px -1px #000;
}

.paper.paper-execute.disabled {
  background-color: #e6e6e6;
  opacity: 0.97;
}

.kind {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: 120px;
  padding: 10px;
  float: right;
  border-bottom: 1px none #000;
  border-radius: 3px 0px;
  background-color: #e6f9f4;
  box-shadow: none;
  font-family: Lato, sans-serif;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

.kind:hover {
  border-bottom-style: none;
  text-decoration: underline;
}

.contract {
  position: relative;
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.icon {
  width: 32px;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

.declaration {
  position: relative;
  display: inline;
  line-height: 45px;
}

.declaration:hover {
  background-color: rgba(0, 191, 143, .1);
}

.label.bitcoin-address {
  margin-top: -10px;
  font-size: 10px;
}

.label.title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #00c091;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}

.label.label-corner {
  margin-top: 5px;
  line-height: 16px;
}

.description {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.description.date {
  margin-top: 15px;
  text-align: left;
}

.description.editor {
  height: 80px;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px none #00c091;
  border-radius: 5px;
  background-color: rgba(0, 191, 143, .1);
  box-shadow: none;
  font-size: 18px;
  line-height: 28px;
}

.description.input {
  height: 100px;
  font-size: 14px;
  line-height: 22px;
}

.section {
  margin-top: 0px;
  margin-bottom: 20px;
}

.section.rights {
  margin-right: -30px;
  margin-left: -30px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fafafa;
  box-shadow: inset 0 0 14px 0 #000;
}

.card {
  width: 100%;
  margin-bottom: 10px;
  float: left;
  border-radius: 10px;
  background-color: #e6f9f4;
  box-shadow: 0 9px 20px -17px #000;
  font-family: Inconsolata, monospace;
  color: #00c091;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
}

.fingerprint {
  display: block;
  width: 120px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.power {
  width: 50%;
  padding: 10px;
  float: left;
  border-bottom: 1px none #000;
  text-align: center;
}

.power.hundred {
  width: 100%;
}

.power.hundred.power-election {
  padding-top: 0px;
  padding-bottom: 10px;
}

.elements {
  margin: 10px -10px;
}

.detail {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 300;
}

.text {
  display: inline-block;
  padding-right: 10px;
}

.text.setting-label {
  overflow: hidden;
  max-height: 35px;
  max-width: 60%;
  float: left;
  clear: both;
}

.calendar-menu {
  padding: 5px;
  border-radius: 3px;
  background-color: #00bf8f;
  color: #fff;
  cursor: pointer;
}

.calendar-menu:active {
  background-color: #00c091;
  color: #fff;
}

.calendar-menu:focus {
  background-color: #00c091;
  color: #fff;
}

.calendar-menu.w--open {
  background-color: #e6f9f4;
  color: #00bf8f;
}

.calendar-menu.calendar-menu-active {
  background-color: #e6f9f4;
  color: #00bf8f;
}

.setting {
  display: block;
  height: 50px;
  margin-bottom: 2px;
  padding: 10px 5px;
  background-color: #f5f5f5;
}

.dropdown {
  margin-top: 5px;
}

.dropdown.combo {
  display: inline-block;
  max-width: 120px;
  margin-top: 0px;
  border: 1px solid #e6f9f4;
  border-radius: 3px;
  background-color: #e6f9f4;
  color: #00bf8f;
  font-size: 18px;
}

.dropdown.combo:focus {
  border-color: #00bf8f;
}

.dropdown.combo.combo-day {
  max-width: 80px;
}

.dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px none #000;
  border-radius: 3px;
  color: #00c091;
}

.dropdown-link.calendar {
  padding-right: 0px;
  padding-left: 5px;
  font-size: 14px;
  text-align: center;
}

.dropdown-list {
  background-color: #00c091;
}

.dropdown-list.w--open {
  padding-right: 0px;
  padding-left: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #e6f9f4;
  box-shadow: 0 3px 13px -9px #000;
}

.qr-code {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid #fff;
  text-align: center;
}

.qr-code.qr-sign {
  display: block;
  width: 100%;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
}

.bitcoin {
  display: block;
  margin: 10px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.amount {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}

.parameter {
  margin: 20px;
}

.kind-label {
  font-weight: 700;
}

.symbol {
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.symbol.profile-pic {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  float: left;
  border: 2px solid #e6f9f4;
  border-radius: 100px;
  background-color: #e6f9f4;
  box-shadow: 0 1px 7px -4px #000;
  cursor: pointer;
}

.symbol.profile-pic.profile-pic-navbar {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  margin-right: 0px;
  float: right;
}

.symbol.profile-pic.tag-delegate {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.symbol.profile-pic.tag-delegate.off {
  opacity: 0.3;
}

.symbol.profile-pic.id-profile {
  display: block;
  width: 250px;
  height: 250px;
  margin: 10px auto;
  float: none;
  border-radius: 250px;
}

.symbol.profile-pic.kind-identity {
  display: none;
}

.symbol.profile-pic.profile-thumb {
  width: auto;
  border-radius: 10px;
}

.symbol.profile-pic.profile-sign {
  width: auto;
  padding-right: 20px;
  border-style: none;
  text-decoration: none;
  cursor: default;
}

.semantics {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  border-top: 1px none #ccc;
}

.tag {
  margin: 5px;
  padding: 10px;
  float: left;
  border-bottom-style: none;
  border-radius: 3px;
  background-color: #e6f9f4;
  color: #00c091;
  font-size: 18px;
  line-height: 22px;
  cursor: -webkit-grab;
}

.tag.input {
  width: 250px;
  height: 44px;
  margin: 5px -10px 0px 0px;
  padding: 10px 50px 10px 42px;
  border: 1px dotted #00bf8f;
  border-radius: 3px;
  background-color: #fff;
  font-size: 18px;
  line-height: 40px;
  text-transform: none;
  cursor: text;
}

.tag.input:active {
  color: #00c091;
}

.tag.input.custom-tag {
  width: auto;
  margin-bottom: 5px;
}

.tag.unauthorized {
  border-bottom-color: #f10000;
  background-color: #fae6e6;
  color: #ff2752;
  text-transform: none;
}

.tag.off {
  opacity: 0.5;
}

.tag.ui-sortable-helper {
  box-shadow: 0 1px 3px -2px #000;
}

.tag.tag-placeholder {
  height: 42px;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(0, 191, 143, .32);
  background-color: transparent;
}

.tag.tag-empty {
  background-color: #f5f5f5;
}

.hash-icon {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 10px;
  float: left;
}

.hash-icon.hash-icon-custom {
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.hash-tag {
  display: inline-block;
  text-transform: capitalize;
}

.hash-tag.hash-tag-empty {
  color: #aaa;
}

.selector {
  position: static;
  display: block;
  overflow: scroll;
  height: 115px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px;
  clear: both;
  border-radius: 0px 0px 5px 5px;
  background-color: #e6e6e6;
  box-shadow: inset 0 -1px 7px -4px #000;
}

.selector.identity-list {
  height: 76px;
  padding: 10px;
}

.selector.selector-proposals {
  height: 235px;
  padding: 3px 5px;
  background-color: #e6e6e6;
}

.cover {
  display: none;
  height: 300px;
  margin: -30px -30px 20px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url('../images/Screen Shot 2015-11-17 at 6.03.27 PM.png');
  background-position: 50% 0px;
  background-size: cover;
  box-shadow: inset 0 0 40px -20px #000;
}

.button {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #00bf8f;
  border-radius: 3px;
  background-color: #00c091;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.button.execute {
  display: block;
  max-width: 1000px;
  margin: 0px auto;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  cursor: pointer;
}

.button.execute:active {
  border: 1px solid #00bf8f;
  background-color: #e6f9f4;
  color: #00bf8f;
}

.button.execute.disabled {
  border-color: #666;
  background-color: #666;
  opacity: 0.4;
  color: #cacaca;
}

.button-label {
  float: left;
}

.button-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  float: left;
}

.button-icon.execute-icon {
  width: 40px;
  height: 40px;
  margin-right: 0px;
  float: right;
}

.extra {
  display: block;
  margin-right: -5px;
  margin-left: -5px;
}

.extra.identity-list {
  margin-top: 11px;
}

.extra.extra-ten {
  margin: -5px -10px;
}

.extra.extra-score {
  text-align: left;
}

.location {
  margin: 10px;
}

.map {
  display: block;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  border-radius: 5px;
}

.signature {
  margin-top: 40px;
  margin-bottom: 10px;
}

.handwrite {
  height: 150px;
  margin-right: -20px;
  margin-left: -20px;
  padding: 10px;
  border-bottom: 2px solid #00c091;
  background-color: #f5f5f5;
  font-family: Inconsolata, monospace;
  color: #c3c3c3;
  font-size: 12px;
  text-align: center;
}

.highlight {
  position: absolute;
  left: 0px;
  display: inline-block;
  margin-top: 30px;
  margin-left: -15px;
  padding-right: 10px;
  padding-left: 15px;
  float: left;
  border-radius: 5px;
  background-color: #ffe079;
  box-shadow: 0 2px 10px -6px #000;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 36px;
  font-weight: 900;
}

.arrow {
  margin-left: 10px;
  float: right;
}

.highlight-label {
  float: left;
}

.vote {
  display: block;
  width: 475px;
  margin: 0px;
  padding: 10px;
  float: left;
  border: 5px solid #fff;
  border-radius: 8px;
  text-align: left;
}

.vote.vote-authorize {
  background-color: #e6f9f4;
  color: #00bf8f;
}

.vote.vote-authorize.unauthorized {
  background-color: #fae6e6;
  color: #ff2752;
}

.vote.vote-edit {
  padding: 10px;
  border: 1px dotted #00bf8f;
  border-radius: 3px;
}

.vote.vote-edit.vote-custom {
  border: 1px solid #fff;
  border-radius: 3px;
}

.vote.vote-edit.vote-custom:hover {
  background-color: hsla(0, 0%, 95%, .5);
}

.vote.vote-edit.vote-custom.unauthorized {
  border-color: #ff2752;
}

.vote.vote-edit.vote-custom.vote-rejected {
  border-color: #ff2752;
}

.vote.vote-alternative {
  background-color: #fff;
  box-shadow: inset 0 0 1px 0 #d3d3d3;
  cursor: -webkit-grab;
}

.vote.vote-alternative:hover {
  background-color: #f9f9f9;
}

.vote.vote-alternative.unauthorized {
  background-color: #fae6e6;
}

.vote.vote-alternative.vote-authorize:hover {
  background-color: #e6f9f4;
}

.vote.vote-alternative.vote-search {
  width: 100%;
  margin: 0px 0px 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  border-color: #f8f8f8;
  border-radius: 0px;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 1px 0 #dfdfdf;
  cursor: default;
}

.vote.vote-alternative.ui-sortable-helper {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none;
  border-radius: 3px;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 1px 0 #dfdfdf, 0 2px 14px -7px #000;
}

.vote.vote-custom {
  width: 100%;
  clear: both;
  background-color: #e6e6e6;
  box-shadow: inset 0 0 4px -2px #000;
}

.vote.vote-search {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  min-height: 60px;
  padding: 10px;
  border: 5px solid #e6e6e6;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: inset 0 0 1px 0 #dfdfdf;
}

.vote.vote-placeholder {
  width: 50%;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
  box-shadow: inset 0 0 7px -3px #000;
}

.option {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 0px;
  margin-left: 10px;
  float: right;
  border: 1px solid #00c091;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 9px -5px #000;
  cursor: pointer;
}

.option.unauthorized {
  border-color: #ff2752;
}

.option.disabled {
  border-color: #aaa;
  cursor: default;
}

.option.kind-decision {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.option-title {
  display: inline-block;
  max-width: 85%;
  margin-top: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0px;
  text-transform: none;
}

.option-title.input {
  width: 80%;
  height: 60px;
  margin-bottom: 0px;
  padding: 0px;
  float: left;
  border-style: none;
  color: #00bf8f;
  text-align: left;
}

.option-title.input.option-input {
  background-color: #fff;
  font-size: 32px;
  line-height: 40px;
}

.option-title.option-link {
  display: inline-block;
  overflow: hidden;
  max-width: 365px;
  float: left;
  border-bottom: 1px solid transparent;
  color: #00bf8f;
  text-align: left;
  cursor: pointer;
}

.option-title.option-link:hover {
  border-bottom: 1px solid #00bf8f;
  text-decoration: none;
}

.option-title.option-link.option-edit {
  color: #000;
}

.option-title.option-link.option-edit.unauthorized {
  color: #ff2752;
}

.option-title.option-link.option-edit.unauthorized:hover {
  border-bottom-color: #ff2752;
}

.option-title.option-link.option-edit.option-title-long {
  margin-top: 0px;
  font-size: 20px;
  line-height: 25px;
}

.option-title.option-link.unauthorized {
  color: #ff2752;
}

.option-title.option-link.unauthorized:hover {
  border-bottom-color: #ff2752;
}

.option-title.option-link.option-long {
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
}

.option-title.option-link.option-search {
  display: inline-block;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
}

.checkbox {
  display: block;
}

.checkbox.checkbox-custom {
  display: inline-block;
  width: 90%;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  border-radius: 3px;
  box-shadow: none;
}

.date {
  display: inline-block;
  text-align: center;
}

.tick {
  display: inline-block;
  background-color: #00c091;
}

.tick.unathorized {
  background-color: #ff2752;
}

.tick.unauthorized {
  background-color: #ff2752;
}

.tick-image {
  display: block;
  width: 48px;
  height: 48px;
  max-width: none;
  border-radius: 2px;
}

.tick-image.hover {
  background-color: #fff;
  cursor: pointer;
}

.tick-image.hover:hover {
  background-color: #e9e9e9;
}

.tick-image.tick-disabled {
  background-color: #aaa;
}

.execution {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.block {
  margin: 0px -30px -20px;
  padding: 5px 25px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #e6f9f4;
  box-shadow: none;
  text-align: left;
}

.field {
  display: inline-block;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 20px;
  border-style: none;
  border-width: 0px 5px;
  border-color: #fff;
}

.field.headline-field {
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field.headline-field.split {
  padding-right: 110px;
}

.field.split {
  border-right: 0px solid #fff;
  border-left: 20px solid #fff;
}

.field.bio {
  width: 100%;
  border-left: 20px solid #fff;
}

.search-custom {
  position: relative;
  left: 0px;
  right: 0px;
  z-index: 2000;
  display: block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  border-bottom: 1px none #dadada;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: inset 0 1px 8px -5px #000, 0 2px 4px -4px #000;
  color: #aaa;
  font-size: 16px;
  line-height: 30px;
  cursor: text;
}

.search-custom:focus {
  color: #000;
}

.search-custom.search-active {
  background-color: #fdfdfd;
  opacity: 1;
  color: #000;
}

.editor {
  margin-bottom: 0px;
}

.status {
  display: block;
  height: 65px;
  max-width: 1000px;
  margin: -3px auto 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.progress {
  height: 25px;
  margin-top: 15px;
  margin-bottom: -15px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .25);
}

.milestone {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding-top: 1px;
  float: none;
  border: 2px solid #00bf8f;
  border-radius: 100px;
  background-color: #00bf8f;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.milestone.disabled {
  border-color: silver;
  background-color: silver;
}

.milestone.current {
  background-color: rgba(0, 191, 143, .1);
  color: #00bf8f;
}

.milestone.milestone-tick-white {
  margin-top: 10px;
  margin-left: 5px;
  border: 1px none #fff;
  background-color: transparent;
  color: #fff;
  font-size: 23px;
}

.progress-bar {
  display: inline-block;
  width: 20%;
  height: 5px;
  border-top: 2px dotted silver;
}

.progress-bar.completed {
  border-top: 2px solid #00bf8f;
}

.milestone-text {
  position: absolute;
  width: 70px;
  margin-top: 2px;
  margin-left: -20px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 10px;
  font-weight: 300;
}

.input {
  height: 50px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 191, 143, .1);
  background-color: #e6f9f4;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 45px;
}

.input:focus {
  border-bottom-color: #00bf8f;
}

.input.headline-input {
  height: auto;
  min-height: 65px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
}

.input.headline-input.input-active {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: -30px;
  border-left: 5px solid #fff;
  font-weight: 300;
  letter-spacing: -1px;
  cursor: text;
}

.input.headline-input.input-active:hover {
  border-left-color: #e6f9f4;
}

.input.headline-input.input-active:focus {
  border-left-color: #00bf8f;
}

.input.input-active {
  border-bottom: 1px none #00bf8f;
  background-color: #fff;
  cursor: pointer;
}

.input.monetary {
  width: 80px;
  height: 38px;
  margin-right: -5px;
  padding-right: 15px;
  float: left;
  border: 1px solid #00bf8f;
  border-radius: 5px;
  color: #00bf8f;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
}

.action {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: -10px -10px -10px 10px;
  padding: 10px 10px 0px;
  float: right;
  border-style: none none none solid;
  border-width: 1px;
  border-left-color: rgba(0, 191, 143, .1);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #e6f9f4;
  color: #00bf8f;
  text-align: center;
  cursor: pointer;
}

.action:hover {
  background-color: #00bf8f;
  color: #fff;
}

.action.undefined {
  background-color: #fae6e6;
  color: #ff2752;
}

.action.undefined:hover {
  background-color: #ff2752;
  color: #fff;
}

.action.hash-action {
  margin-top: 5px;
  margin-left: 0px;
  padding-top: 8px;
  float: left;
  border-top: 1px dotted #00bf8f;
  border-right: 1px dotted #00bf8f;
  border-bottom: 1px dotted #00bf8f;
}

.action.vote-action {
  width: 40px;
  height: 40px;
  margin: -25px -25px 0px 0px;
  padding-top: 0px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 38px;
}

.action.vote-action:hover {
  background-color: #00bf8f;
}

.action.vote-action.undefined:hover {
  background-color: #ff2752;
}

.action.action-search {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 3px;
  margin-right: -1px;
  margin-left: 0px;
  padding-top: 2px;
  border-style: solid;
  border-color: #00bf8f;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 1px 1px 9px -5px #000;
  font-size: 50px;
  line-height: 40px;
  font-weight: 200;
}

.action.action-search:hover {
  background-color: #00bf8f;
}

.action.action-search.action-search-disabled {
  border-color: #ccc;
  color: #ccc;
}

.action.action-search.action-search-disabled:hover {
  background-color: #fff;
}

.hash-link {
  border-bottom: 0px none #000;
}

.hash-link:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid #00bf8f;
}

.hash-link.undefined {
  border-bottom-color: #ff2752;
  color: #ff2752;
}

.hash-link.twitter-link:hover {
  border-bottom-color: #fff;
}

.hash-link.facebook-link:hover {
  border-bottom-color: #fff;
}

.hash-link.bitcoin-fund {
  float: none;
}

.warning {
  display: inline-block;
  overflow: hidden;
  margin: 0px 5px 5px;
  padding: 3px 10px;
  border-radius: 5px 5px 3px;
  background-color: #ffe079;
  color: #af8d1e;
  font-size: 14px;
  line-height: 30px;
}

.warning.score-label {
  margin-bottom: 0px;
  background-color: #00bf8f;
  color: #fff;
}

.warning.awaiting {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fae6e6;
  color: #ff2752;
  text-align: center;
}

.warning.authorized {
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #e6f9f4;
  color: #00bf8f;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 9000;
  height: 60px;
  background-color: #256bd5;
  box-shadow: 0 0 8px -2px #000;
  color: #fff;
}

.navlink {
  border-bottom: 0px none #000;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 17px;
  line-height: 19px;
  font-weight: 300;
  text-align: right;
}

.navcontainer {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.logo-pic {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

.logo {
  display: inline-block;
  padding: 5px 10px 5px 0px;
  border-bottom: 0px none #000;
  cursor: pointer;
}

.jurisdiction {
  position: relative;
  display: inline-block;
  width: 60%;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
  font-family: Lato, sans-serif;
}

.settings {
  overflow: hidden;
  clear: both;
}

.value {
  margin-top: -5px;
  margin-bottom: -5px;
  float: right;
}

.control {
  margin-right: 5px;
  float: left;
}

.toggle {
  width: 80px;
  height: 40px;
  float: right;
  border-radius: 100px;
  background-color: #ccc;
  cursor: pointer;
}

.toggle.toggle-activated {
  background-color: #00bf8f;
}

.toggle-button {
  width: 36px;
  height: 36px;
  margin: 2px;
  border-radius: 100px;
  background-color: #fff;
}

.toggle-button.toggle-activated {
  width: 36px;
  height: 36px;
  margin: 2px;
  float: right;
  border-style: none;
  border-color: #00bf8f;
}

.identity {
  display: inline-block;
  margin: 10px 15px 10px 5px;
  padding-left: 0px;
  float: left;
  border-radius: 5px;
  text-align: left;
}

.identity.facebook {
  background-color: #256bd5;
}

.identity.twitter {
  background-color: #08bdff;
}

.identity.twitter.identity-logged {
  padding-right: 0px;
  padding-left: 0px;
}

.identity-label {
  display: inline-block;
  color: #00bf8f;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
}

.identity-label:hover {
  border-bottom: 1px solid #00bf8f;
  line-height: 25px;
}

.identity-label.twitter-link {
  color: #fff;
}

.identity-label.facebook-link {
  color: #fff;
  cursor: pointer;
}

.identity-label.facebook-link:hover {
  border-bottom: 1px none #fff;
}

.identity-label.hash-link {
  cursor: pointer;
}

.option-link:hover {
  border-bottom-style: none;
}

.portrait-pic {
  width: 200px;
  height: 200px;
  max-width: 200px;
  margin-bottom: 10px;
  padding-top: 20px;
  float: left;
  border-bottom: 1px none #000;
  border-radius: 5px;
  background-color: #e6f9f4;
  text-align: center;
}

.credentials {
  margin-top: 15px;
}

.user {
  max-width: 740px;
  padding-right: 0px;
  float: left;
}

.portrait-icon {
  width: 150px;
}

.verifier {
  margin-top: 5px;
  padding-left: 0px;
  clear: both;
  font-size: 12px;
  line-height: 20px;
}

.verifier.verifier-live {
  display: inline-block;
}

.available {
  margin-right: 2px;
  margin-left: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
  background-color: #00bf8f;
  color: #fff;
  font-weight: 300;
}

.portrait {
  width: 200px;
  margin-bottom: 20px;
  float: left;
  text-align: center;
}

.mask {
  display: none;
}

.score-bar {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  float: left;
}

.score-bar.score-bar-default {
  width: 250px;
  margin-bottom: 0px;
}

.score-bar.score-bar-default.hide {
  display: none;
}

.score-block {
  width: 9%;
  height: 10px;
  margin-right: 1%;
  float: left;
  border: 1px solid rgba(0, 191, 143, .1);
  background-color: rgba(0, 191, 143, .1);
}

.score-block.score-complete {
  border-color: #00bf8f;
  background-color: #00bf8f;
}

.score {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.score.score-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.score.score-vote {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
  float: left;
}

.score-board {
  width: 60px;
  height: 60px;
  float: right;
  border: 1px solid #00bf8f;
  border-radius: 5px;
  color: #00bf8f;
  font-size: 22px;
  text-align: center;
}

.capital {
  display: block;
  width: 100%;
  margin-bottom: -5px;
  clear: both;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: hsla(0, 0%, 100%, .5);
}

.capital-field {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 22px;
}

.capital-value {
  display: block;
  float: right;
  color: #fff;
}

.capital-label {
  float: left;
}

.capital-scores {
  padding-top: 5px;
  padding-bottom: 5px;
}

.identity-list {
  margin-top: -5px;
  padding: 0px 5px 10px;
}

.budget {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vote-capital-label {
  font-size: 10px;
  font-weight: 300;
}

.search {
  width: 100%;
  height: 40px;
  margin-top: -5px;
  margin-bottom: -6px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.rich-text {
  margin-bottom: 0px;
  margin-left: -30px;
  padding-bottom: 0px;
  padding-left: 25px;
  clear: both;
}

.rich-text:hover {
  border-left: 5px solid #e6f9f4;
}

.rich-text:focus {
  border-left-color: #00bf8f;
}

.rich-text.editor-draft {
  border-left: 5px solid #fff;
}

.rich-text.editor-draft:hover {
  border-left-style: solid;
  border-left-color: #e6f9f4;
}

.rich-text.editor-draft:focus {
  border-left-style: solid;
  border-left-color: #00bf8f;
}

.rich-text.rich-text-preview {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
}

.rich-text.rich-text-preview:hover {
  border-left-style: none;
}

.tag-bitcoin {
  display: none;
  margin: -4px -5px -5px 10px;
  padding: 5px 10px;
  float: left;
  border-radius: 3px;
  background-color: #00bf8f;
  color: #f5f5f5;
  font-size: 16px;
}

.tag-bitcoin.unauthorized {
  background-color: #ff2752;
  text-transform: none;
}

.result {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #d1d1d1;
  box-shadow: inset 0 2px 10px -5px rgba(0, 0, 0, .5);
}

.result.score-bar {
  max-width: 250px;
  min-width: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.result.vote-bar {
  width: 100%;
  height: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.result-bar {
  width: 43%;
  height: 30px;
  padding-left: 5px;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #00bf8f;
  line-height: 30px;
}

.result-bar.unauthorized {
  background-color: #ff2752;
}

.result-bar.result-hundred {
  width: 100%;
  border-radius: 3px;
}

.result-bar.vote-bar {
  width: 52%;
  height: 100%;
}

.result-bar.vote-bar.vote-bar-allocated {
  width: 26%;
  float: right;
  border-radius: 0px 3px 3px 0px;
  background-color: #ccc;
  background-image: url('../images/pattern-pinstripes-diagonal_svg_med.png');
  background-position: 100% 0px;
  background-size: 50px;
  background-repeat: repeat-x;
  opacity: 0.25;
}

.result-total {
  position: relative;
  display: block;
  margin-left: 5px;
  float: left;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

.result-percentage {
  margin-right: 10px;
  font-weight: 700;
}

.result-score {
  position: absolute;
}

.election {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  float: none;
}

.fact {
  display: inline-block;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 5px 10px;
  float: left;
  border-radius: 5px;
  background-color: rgba(0, 191, 143, .1);
  box-shadow: none;
  color: #00bf8f;
  text-align: center;
}

.fact.fact-timer {
  margin-top: 5px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 28px;
  font-weight: 300;
}

.fact.fact-timer.vote-value {
  position: absolute;
  height: 60px;
  margin-top: -35px;
  margin-left: -105px;
  float: right;
}

.fact.fact-identity {
  margin-right: -15px;
  margin-left: -5px;
  padding: 0px;
  float: left;
  background-color: transparent;
}

.fact.fact-delegation {
  margin-bottom: -5px;
  padding-left: 20px;
  background-color: transparent;
}

.stat-label {
  display: block;
  margin-top: 8px;
  font-size: 9px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.election-label {
  display: block;
  margin-bottom: 5px;
  float: none;
  color: #000;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.identity-nation {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  clear: both;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

.identity-peer {
  margin-top: 5px;
  float: left;
}

.fact-votes {
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.fact-tags {
  display: block;
}

.stat-data {
  margin-top: 3px;
  margin-bottom: -3px;
  font-size: 28px;
}

.stat-taglist {
  margin-top: -2px;
  padding-left: 0px;
}

.delegation {
  float: right;
}

.delegation-icon {
  width: 40px;
  height: 40px;
}

.navmenu {
  margin-top: 5px;
  margin-bottom: 5px;
}

.stat {
  margin-right: 15px;
  margin-left: 15px;
  float: left;
}

.stat.stat-votes {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.score-details {
  clear: both;
}

.score-icon {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

.score-agreement {
  display: inline-block;
  margin-top: 5px;
  float: left;
  clear: both;
  font-size: 14px;
  line-height: 20px;
}

.score-agreement:hover {
  text-decoration: underline;
}

.identity-verified {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 35px;
  margin-left: -25px;
  border-radius: 100px;
  background-color: #6bccfa;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .33);
}

.identity-verified-tick {
  width: 8px;
  height: 8px;
  margin-top: -17px;
  margin-left: 4px;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .85);
}

.modal.hide {
  display: none;
  overflow: scroll;
  padding-top: 10px;
  background-color: #fff;
  text-align: center;
}

.param {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}

.command {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.awaiting {
  display: inline-block;
  background-color: #ff2752;
}

.delegates {
  display: inline-block;
  margin: 5px;
}

.politics {
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border: 0px solid #000;
}

.rosca {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

.login {
  font-size: 14px;
  line-height: 22px;
}

.id-card {
  position: static;
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  text-align: center;
}

.id-card.hide {
  display: none;
}

.title {
  padding-right: 20px;
  padding-left: 20px;
}

.handle {
  position: relative;
  z-index: 999;
  width: 40px;
  height: 40px;
  margin-top: -12px;
  margin-right: -15px;
  float: right;
  border: 7px solid #fff;
  border-radius: 100px;
  background-color: #f5f5f5;
  box-shadow: 0 0 11px -5px #000, inset 0 0 3px -2px rgba(0, 0, 0, .75);
}

.handle:hover {
  background-color: #e6f9f4;
}

.handle:active {
  background-color: #00bf8f;
}

.close {
  width: 40px;
  height: 40px;
  margin-top: -5px;
  margin-right: 5px;
  padding: 5px;
  float: right;
  opacity: 0.5;
  font-size: 8px;
  line-height: 8px;
  text-align: center;
  text-transform: uppercase;
}

.close:hover {
  opacity: 1;
}

.setup {
  padding-top: 10px;
}

.vote-available {
  display: inline-block;
  text-align: left;
}

.vote-allocated {
  display: inline-block;
  float: right;
}

.vote-count {
  display: block;
  width: 120px;
  height: 65px;
  margin-top: -85px;
  margin-left: -47px;
  padding-top: 3px;
  padding-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 8px -4px #000;
  color: #00bf8f;
  font-weight: 200;
  text-align: center;
}

.rosca-connector {
  width: 3px;
  height: 13px;
  margin-left: 11px;
  background-color: #fff;
  box-shadow: 0 0 2px -1px #000;
}

.vote-logic {
  margin: 20px -5px 15px;
}

.vote-action {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.os-icon {
  width: 30px;
  height: 30px;
  margin-top: -3px;
  margin-right: 5px;
  float: left;
}

.os-download {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 30px;
}

.link:hover {
  padding-bottom: 1px;
  border-bottom-style: solid;
}

.kind-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
}

.kind-value {
  display: block;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  text-align: center;
}

.url-icon {
  width: 16px;
  height: 16px;
}

.data {
  display: inline-block;
  margin-right: 10px;
}

.contract-collapse {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
}

.contract-win-icon {
  width: 30px;
}

.contract-win {
  opacity: 0.5;
}

.contract-win:hover {
  opacity: 1;
}

.stage {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  margin: 20px 30px 20px 5px;
  padding: 0px 5px 5px;
  border: 1px dashed #46dfb8;
  border-radius: 3px;
  background-color: transparent;
  color: #00bf8f;
  font-size: 10px;
  text-transform: uppercase;
}

.stage.stage-live {
  display: inline-block;
  border-style: solid;
  border-color: #ffe079;
  background-color: #ffe079;
  color: #af8d1e;
}

.stage.stage-draft {
  display: inline-block;
}

.stage.stage-finish-approved {
  display: inline-block;
  border-style: solid;
  border-color: #00bf8f;
  background-color: #00bf8f;
  color: #fff;
}

.stage.stage-finish-alternative {
  display: inline-block;
  border-style: solid;
  border-color: #e6f9f4;
  background-color: #e6f9f4;
  color: #00bf8f;
}

.stage.stage-finish-rejected {
  display: inline-block;
  border-color: #ff2752;
  background-color: #ff2752;
  color: #fff;
}

.profile-thumb {
  width: 60px;
  height: 60px;
}

.meta {
  display: inline-block;
  margin-bottom: 10px;
  clear: both;
}

.meta.meta-search {
  display: block;
  margin-bottom: 0px;
  clear: both;
  opacity: 1;
  color: #9c9c9c;
}

.meta.meta-search.meta-search-new {
  opacity: 1;
}

.state {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0px 5px;
  border-radius: 3px;
  font-weight: 300;
}

.state.verifying {
  background-color: #ffe079;
  color: #af8d1e;
  font-weight: 300;
}

.state.unavailable {
  background-color: #ff2752;
  color: #fff;
}

.context {
  position: fixed;
  left: 30%;
  right: 30%;
  z-index: 9000;
  display: block;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  padding: 3px 10px;
  border-bottom: 2px solid #ffe079;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  float: left;
  opacity: 0.66;
}

.search-input {
  padding-left: 35px;
}

.sample {
  display: block;
  color: #cacaca;
}

.tag-label {
  display: inline-block;
}

.selector-modal {
  position: absolute;
  left: 30px;
  right: 30px;
  display: block;
  height: 110px;
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: #e6e6e6;
  box-shadow: inset 0 0 4px -2px #000;
  color: #000;
  font-size: 12px;
  text-align: center;
}

.selector-modal.selector-proposals-modal {
  display: block;
  height: 240px;
  padding: 10px;
}

.selector-warning {
  display: inline-block;
  text-transform: uppercase;
}

.selector-warning.selector-warning-large {
  margin-top: 55px;
  margin-bottom: 55px;
}

.icon-trash {
  width: 55px;
  height: 55px;
}

.icon-trash.icon-trash-large {
  width: 80px;
  height: 80px;
}

.selector-create {
  padding-left: 10px;
  text-align: left;
}

.selector-create.selector-create-modal {
  padding-left: 0px;
}

.selector-modal-label {
  color: #777;
  font-size: 14px;
}

.references {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px 5px 5px 30px;
  float: left;
  color: #d1d1d1;
  font-size: 10px;
  line-height: 28px;
  text-transform: uppercase;
}

.options {
  display: block;
  padding-right: 5px;
  padding-left: 5px;
}

.calendar-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  float: left;
  opacity: 0.75;
}

.calendar-icon.calendar-icon-active {
  opacity: 1;
}

.calendar {
  position: absolute;
  right: 35px;
  display: block;
  padding: 10px 0px 10px 10px;
  border-radius: 3px 0px 3px 3px;
  background-color: #e6f9f4;
  box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, .25);
  color: #00bf8f;
  font-size: 14px;
  line-height: 22px;
}

.proposal {
  display: inline-block;
  width: 100%;
  padding: 0px 10px 10px;
}

.vote-placeholder {
  display: inline-block;
  width: 100%;
}

.option-proposal {
  display: block;
}

.option-proposal:hover {
  border-bottom-style: none;
}

.title-input {
  display: block;
  margin-bottom: 5px;
  margin-left: -30px;
  padding: 3px 25px;
  border-left: 5px solid #fff;
  font-size: 45px;
  line-height: 55px;
  font-weight: 300;
  letter-spacing: -1px;
}

.title-input:hover {
  border-left-color: #e6f9f4;
}

.title-input:focus {
  border-left-color: #00bf8f;
}

.paper-header {
  margin: -20px -30px 15px;
  padding: 20px 35px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: inset 0 -4px 12px -8px rgba(0, 0, 0, .5);
  color: dimgrey;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.shadow-fake {
  position: absolute;
  left: 33px;
  right: 33px;
  height: 10px;
  margin-top: -10px;
  background-color: #fff;
  box-shadow: 0 -3px 3px -2px rgba(0, 0, 0, .15);
}

.section-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: -5px;
  margin-left: -10px;
  float: left;
  opacity: 0.65;
}

.warning-list {
  min-height: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .contract {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section {
    clear: both;
  }
  .power {
    width: 100%;
  }
  .power.hundred.power-election {
    margin-left: -5px;
    text-align: left;
  }
  .power.power-auto {
    width: 100%;
  }
  .extra.extra-ten {
    margin: -10px -5px;
    text-align: left;
  }
  .vote.vote-authorize {
    width: 100%;
  }
  .vote.vote-alternative {
    width: 100%;
  }
  .vote.vote-custom {
    width: 100%;
  }
  .vote.vote-search {
    width: 100%;
  }
  .vote.vote-placeholder {
    display: block;
    width: 100%;
  }
  .option-title.input {
    max-width: 75%;
  }
  .option-title.input.option-input {
    font-size: 28px;
  }
  .option-title.option-link {
    display: inline-block;
    max-width: 100%;
  }
  .option-title.option-link.option-edit.option-title-long {
    max-width: 85%;
  }
  .option-title.option-link.option-long {
    max-width: 90%;
  }
  .progress-bar {
    width: 15%;
  }
  .option-link {
    max-width: 70%;
  }
  .profile {
    position: absolute;
    left: 230px;
    right: 30px;
    float: left;
  }
  .user {
    position: relative;
    max-width: 100%;
    float: left;
  }
  .portrait {
    width: 200px;
  }
  .mask {
    display: block;
    width: 100%;
    height: 450px;
    background-color: #fff;
  }
  .mask.interest-profile {
    height: 350px;
  }
  .election {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    clear: both;
  }
  .fact {
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  body {
    padding-bottom: 0px;
  }
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 14px;
  }
  .paper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paper.paper-execute {
    border-radius: 0px;
  }
  .kind {
    width: 100px;
  }
  .contract {
    margin-right: 0px;
    margin-left: 0px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
  .declaration {
    line-height: 40px;
  }
  .power {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .elements {
    margin-right: 0px;
    margin-left: 0px;
  }
  .text.setting-label {
    font-size: 16px;
    line-height: 30px;
  }
  .vote.vote-search {
    padding-right: 5px;
    padding-left: 5px;
  }
  .option-title.option-link {
    max-width: 100%;
  }
  .option-title.option-link.option-edit {
    max-width: 295px;
  }
  .option-title.option-link.option-edit.option-title-long {
    max-width: 85%;
  }
  .option-title.option-link.option-long {
    max-width: 80%;
  }
  .checkbox.checkbox-custom {
    width: 85%;
  }
  .field.headline-field.split {
    padding-right: 0px;
  }
  .field.split {
    border-left-width: 0px;
  }
  .field.split.field-left {
    padding-right: 5px;
  }
  .field.split.field-right {
    padding-left: 5px;
  }
  .field.bio {
    border-left: 1px none #000;
  }
  .input.headline-input {
    font-size: 36px;
  }
  .input.headline-input.input-active {
    line-height: 50px;
  }
  .option-link {
    max-width: 85%;
  }
  .profile {
    position: static;
    width: 100%;
    text-align: center;
  }
  .portrait-pic {
    width: 200px;
    float: none;
  }
  .user {
    width: 100%;
    max-width: 100%;
    float: none;
    clear: both;
    text-align: left;
  }
  .verifier {
    line-height: 20px;
  }
  .portrait {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .mask {
    display: none;
  }
  .score-block {
    height: 15px;
  }
  .election {
    float: left;
    text-align: center;
  }
  .election-label {
    float: none;
  }
  .data {
    display: inline-block;
  }
  .selector-modal {
    left: 20px;
    right: 20px;
  }
  .references {
    margin-left: 20px;
  }
  .options {
    margin-right: -5px;
    margin-left: -5px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .calendar {
    right: 25px;
  }
  .title-input {
    font-size: 30px;
    line-height: 40px;
  }
  .shadow-fake {
    left: 25px;
    right: 25px;
  }
}

@media (max-width: 479px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .paper {
    margin-top: 10px;
    padding: 20px 15px 10px;
    box-shadow: 0 0 25px -10px #000;
  }
  .kind {
    width: 50px;
    padding: 5px;
    box-shadow: 0 2px 18px -13px #000;
  }
  .declaration {
    position: static;
    display: inline;
    font-size: 26px;
    line-height: 32px;
  }
  .label.label-corner {
    font-size: 8px;
    line-height: 12px;
  }
  .description.editor {
    font-size: 16px;
  }
  .description.input {
    height: 100px;
    font-size: 14px;
    line-height: 22px;
  }
  .text.setting-label {
    overflow: hidden;
    max-height: none;
    max-width: 75%;
  }
  .setting {
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .amount {
    font-size: 32px;
  }
  .symbol.profile-pic.tag-delegate {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .semantics {
    width: 100%;
  }
  .tag {
    clear: both;
  }
  .tag.input {
    font-size: 16px;
  }
  .tag.input.custom-tag {
    max-width: 211px;
  }
  .selector {
    position: relative;
    height: 200px;
  }
  .button {
    clear: both;
  }
  .button.execute {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    line-height: 32px;
  }
  .button-icon.execute-icon {
    width: 32px;
    height: 32px;
  }
  .handwrite {
    height: 160px;
  }
  .highlight {
    margin-top: 30px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 36px;
  }
  .vote.vote-search {
    padding-right: 5px;
    padding-left: 5px;
  }
  .option {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .option-title {
    margin-top: 0px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .option-title.input {
    height: 40px;
    max-width: 75%;
  }
  .option-title.input.option-input {
    font-size: 20px;
  }
  .option-title.option-link {
    margin-top: 0px;
    font-size: 18px;
  }
  .option-title.option-link.option-edit {
    max-width: 80%;
  }
  .option-title.option-link.option-edit.option-title-long {
    font-size: 16px;
  }
  .checkbox.checkbox-custom {
    width: 75%;
  }
  .tick-image {
    width: 38px;
    height: 38px;
  }
  .block {
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .field.split {
    width: 100%;
    border-left: 1px none #000;
  }
  .field.split.field-left {
    padding-right: 0px;
  }
  .status {
    overflow: hidden;
  }
  .progress-bar {
    width: 11%;
  }
  .input {
    height: 45px;
  }
  .input.headline-input {
    height: 50px;
    font-size: 30px;
  }
  .input.headline-input.input-active {
    line-height: 40px;
  }
  .action.hash-action {
    margin-left: -30px;
  }
  .action.vote-action {
    width: 30px;
    height: 30px;
    max-width: 45px;
    margin-right: -20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
  }
  .warning {
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
  }
  .value {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .identity-label {
    font-size: 15px;
  }
  .option-link {
    margin-bottom: -5px;
  }
  .user {
    margin-left: 0px;
  }
  .verifier {
    font-size: 10px;
    line-height: 18px;
  }
  .election {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .fact {
    font-size: 20px;
  }
  .fact.fact-timer {
    float: left;
  }
  .election-label {
    float: none;
    clear: both;
  }
  .identity-nation {
    font-size: 12px;
  }
  .score-details {
    margin-top: 20px;
  }
  .selector-modal {
    left: 0px;
    right: 0px;
    height: 200px;
  }
  .selector-warning {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .references {
    margin-left: 15px;
  }
  .calendar {
    right: 20px;
  }
  .title-input {
    font-size: 25px;
    line-height: 35px;
  }
  .shadow-fake {
    left: 20px;
  }
}