.off-screen {
  opacity:0;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
