<template name="liquid">
  {{#if editable}}
    {{#if rightToVote}}
      <div class="w-clearfix rosca rosca-setter">
        {{> capital _id=_id user=user isDelegation=isDelegation hideBar=hideBar}}
        {{#unless hideBar}}
          {{> bar _id=_id editable=editable}}
        {{/unless}}
      </div>
    {{else}}
      <div class="w-clearfix rosca rosca-setter">
        {{> capital _id=_id user=user isDelegation=isDelegation hideBar=hideBar}}
        {{#unless hideBar}}
          {{> bar _id=_id editable=false}}
        {{/unless}}
      </div>
    {{/if}}
  {{else}}
    <div class="w-clearfix rosca rosca-setter">
      {{> capital _id=_id user=user isDelegation=isDelegation editable=editable hideBar=hideBar}}
      {{#unless hideBar}}
        {{> bar _id=_id editable=editable}}
      {{/unless}}
    </div>
  {{/if}}
</template>

<template name="capital">
  {{#if isDelegation}}
    {{> transaction this}}
    <div class='bar-labels'></div>
      <!--<div class='vote-available label-votes'>
        <div class="stage {{style 'inBallot'}}">

          <div class='label label-corner' title="{{_ 'sent-votes-tip'}}">
            {{{getVotes 'inBallot'}}}
          </div>
        </div>
        <div class="stage {{style 'allocateQuantity'}}">
          <div class='label label-corner'>
            {{{getVotes 'allocateQuantity'}}}
          </div>
        </div>
        {{#if hideBar}}
          <div class="stage {{style 'received'}}" title="{{_ 'received-votes-tip'}}">
            <div class='label label-corner'>
              {{{getVotes 'received'}}}
            </div>
          </div>
        {{/if}}
      </div>
      {{#unless hideBar}}
        <div class='vote-allocated label-votes'>
          <div class="stage {{style 'received'}}" title="{{_ 'received-votes-tip'}}">
            <div class='label label-corner'>
              {{{getVotes 'received'}}}
            </div>
          </div>
        </div>
      {{/unless}}-->
  {{else}}
    <div class='bar-labels'>
      <div class='vote-available label-votes'>
        <div class="stage {{style 'inBallot'}}">
          <div class='label label-corner'>
            {{{getVotes 'inBallot'}}}
          </div>
        </div>
        <div class="stage {{style 'allocateQuantity'}}">
          <div class='label label-corner'>
            {{{getVotes 'allocateQuantity'}}}
          </div>
        </div>
        <div class="stage {{style 'available'}}">
          <div class='label label-corner'>
            <a href="{{getURL 'placed'}}">{{{getVotes 'available'}}}</a>
          </div>
        </div>
        {{#if hideBar}}
          <div class="stage {{style 'placed'}}">
            <div class='label label-corner'>
              <a href="{{getURL 'placed'}}">{{{getVotes 'placed'}}}</a>
            </div>
          </div>
        {{/if}}
      </div>
      {{#unless hideBar}}
        <div class='vote-allocated label-votes'>
          <div class="stage {{style 'placed'}}">
            <div class='label label-corner'>
              <a href="{{getURL 'placed'}}">{{{getVotes 'placed'}}}</a>
            </div>
          </div>
        </div>
     {{/unless}}
    </div>
  {{/if}}
</template>

<template name="bar">
  <div id="voteBar-{{_id}}" class="w-clearfix result vote-bar">
    <div id="voteSlider-{{_id}}" class="result-bar vote-bar {{fixed 'available'}} {{unanimous 'inBallot'}}" style=" width: {{available}} ">
      {{#if editable}}
        <div id="voteHandle-{{_id}}" class="handle" style="{{positionHandle}}"></div>
      {{/if}}
    </div>
    <div id="votePlaced-{{_id}}" class="result-bar vote-bar vote-bar-allocated {{unanimous 'placed'}} {{fixed 'placed'}}"  style=" width: {{placed}}; {{min}}"></div>
  </div>
</template>
