<template name="ballot">
  <div id="ballot-{{contract._id}}" class="section section-mobile {{ballotStyle}}">
    {{#if ballotEnabled}}
      <div class="section">
        <div class="w-clearfix elements">
          <ul id="ballotOption" class="w-list-unstyled w-clearfix options connectedBallot">
            {{#if editorMode}}
              {{#if ballotEnabled}}
                {{#if executiveDecision}}
                  {{> fork executive=true mode="AUTHORIZE" contract=contract placeholder=placeholder}}
                  {{> fork executive=true mode="REJECT" contract=contract placeholder=placeholder}}
                {{/if}}
              {{/if}}
            {{else}}
              {{#if executiveDecision}}
                {{#with voteSettings}}
                  {{> fork executive=true mode="AUTHORIZE" _id=1 ballot=this.forks voteId=this.voteId contract=contract placeholder=placeholder rightToVote=rightToVote candidateBallot=candidateBallot displayResults=displayResults}}
                  {{> fork executive=true mode="REJECT" _id=0 ballot=this.forks voteId=this.voteId contract=contract placeholder=placeholder rightToVote=rightToVote candidateBallot=candidateBallot displayResults=displayResults}}
                {{/with}}
              {{/if}}
            {{/if}}
            {{#each options}}
              {{#with voteSettings}}
                {{> fork _id=this._id label=this.label mode=this.mode rank=this.rank url=this.url alternative=true editorMode=this.editorMode voteId=this.voteId contract=contract placeholder=placeholder}}
              {{/with}}
            {{/each}}
          </ul>
        </div>
      </div>
      {{#if editorMode}}
        <div class="extra">
          {{#if backdating}}
            {{> warning label="backdating"}}
          {{/if}}
          {{#if disabledCheckboxes}}
            {{> warning label="disabled-checkboxes"}}
          {{/if}}
          {{#if duplicateFork}}
            {{> warning label="duplicate-fork"}}
          {{/if}}
          {{#if unauthorizedFork}}
            {{> warning label="unauthorized-fork"}}
          {{/if}}
          {{#if emptyBallot}}
            {{> warning label="empty-ballot" style='forbidden'}}
          {{/if}}
          {{#if draftOptions}}
            {{> warning label="draft-options-ballot" style='forbidden'}}
          {{/if}}
        </div>
      {{else}}
        {{#with feedWarning}}
          <div class="extra">
            {{> warning label=label style=style}}
          </div>
        {{/with}}
      {{/if}}
    {{/if}}
  </div>
  {{#unless editorMode}}
    {{#if currentUser}}
      {{#if postView}}
        <div class="execution" id="execution-{{this.voteId}}">
          <div class="block" style={{displayBar}}>
            {{#with voteSettings}}
              {{> liquid _id=this.voteId sourceId=this.sourceId targetId=this.targetId wallet=this.wallet editable=true contract=contract candidateBallot=candidateBallot}}
            {{/with}}
          </div>
        </div>
      {{else}}
        <div class="block">
          <div class="micro-menu">
            <a href="{{contract.url}}" class="micro">
              <img src="{{pathFor route='home'}}images/editor-ballot-enabled.png" class="micro-icon">
              <span class="micro-button">{{_ 'vote'}}</span>
            </a>
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{/unless}}
</template>
