<template name="emailLogin">
  {{#if currentUser}}
    SHOW USER
  {{else}}
    {{#if loginScreen}}
      <div class="login">
        <div class="w-form">
          <form id="email-form-3" name="email-form-3" data-name="Email Form 3">
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "email"}}</label>
              <img src="{{pathFor route='home'}}images/mail-closed.png" class="login-icon">
              <input type="text" placeholder="{{_ 'email-sample'}}" class="w-input login-input">
            </div>
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "password"}}</label>
              <img src="{{pathFor route='home'}}images/lock.png" class="login-icon">
              <input type="password" placeholder="{{_ 'password-sample'}}" class="w-input login-input">
            </div>
            <input type="submit" value="{{_ 'sign-in'}}" data-wait="{{_ 'please-wait'}}" class="w-button button login-button">
          </form>
        </div>
        <div>{{_ "dont-have-account"}} <a id='signup' href="#">{{_ "sign-up"}}</a>.</div>
        <div class="w-clearfix extra">
          <div class="button button-social facebook">{{_ 'facebook'}}</div>
          <div class="button button-social twitter">{{_ 'twitter'}}</div>
        </div>
      </div>
    {{else}}
      <div class="login">
        <div class="w-form">
          <form id="email-form-3" name="email-form-3" data-name="Email Form 3">
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "email"}}</label>
              <img src="{{pathFor route='home'}}images/mail-closed.png" class="login-icon">
              <input type="text" placeholder="{{_ 'email-sample'}}" class="w-input login-input">
            </div>
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "password"}}</label>
              <img src="{{pathFor route='home'}}images/lock.png" class="login-icon">
              <input type="password" placeholder="{{_ 'password-sample'}}" class="w-input login-input">
            </div>
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "password-again"}}</label>
              <img src="{{pathFor route='home'}}images/lock.png" class="login-icon">
              <input type="password" placeholder="{{_ 'password-sample-again'}}" class="w-input login-input">
            </div>
            <input type="submit" value="{{_ 'sign-in'}}" data-wait="{{_ 'please-wait'}}" class="w-button button login-button">
          </form>
        </div>
        <div>{{_ "already-have-account"}} <a id='signup' href="#">{{_ "sign-in"}}</a>.</div>
      </div>
    {{/if}}
  {{/if}}
</template>
