<template name="login">
  {{#if currentUser}}
    <div class="w-clearfix paper-header card-header">
      <img src="{{pathFor route='home'}}images/fingerprint-white.png" class="section-icon">
      <div>{{_ "identity"}}</div>
      <div class="stage stage-finish-approved stage-card">
        <div class="label label-corner">{{_ "logged-in"}}</div>
      </div>
    </div>
    {{> profile}}
  {{else}}
    <div class="w-clearfix paper-header card-header">
      <img src="{{pathFor route='home'}}images/fingerprint-white.png" class="section-icon">
      <div>{{_ "identity"}}</div>
      <div class="stage stage-finish-approved stage-card stage-anon">
        <div class="label label-corner">{{_ "anonymous-mode"}}</div>
      </div>
    </div>
    {{> logger}}
  {{/if}}
</template>
