<template name="authors">

  <div class="signature">

    <h5>{{_ "signatures"}}</h5>
    <div class="w-clearfix highlight">
      <div class="highlight-label">{{_ 'sign-here'}}</div>
      <div class="arrow"></div>
    </div>

    <ul class="w-list-unstyled w-clearfix extra">
      <li class="w-clearfix identity identity-sign"><img class="symbol profile-pic" src="{{pathFor route='home'}}images/fingerprint.png">
        <div class="identity-peer">
          <div class="identity-label identity-label-sign">{{_ "sign-author"}}</div>
        </div>
      </li>
    </ul>

  </div>

</template>
