<template name="collective">
  <div class="collective">
    <img class="collective-icon" src="{{pathFor route='home'}}{{picture}}">
      <div class="collective-title">{{title}}</div>
      <div>{{description}}</div>

      <!-- TODO: stats of collective
      <div class="collective-info">
        <div class="collective-stat w-clearfix"><img class="collective-stat-icon" src="images/member-card.png">
          <div>
            <a wf-temp-elem="">
              45&nbsp;members
            </a>
          </div>
        </div>
      </div>
    -->

  </div>
</template>
