<template name="agora">
  <div class="agora">
    <div class="content content-agora">
      <h5>{{_ 'debate'}}</h5>
      <div class="comment-editor w-clearfix">
        <div class="power power-small"></div>
      </div>
      {{#if currentUser}}
        <div class="event w-clearfix">
          {{> postComment}}
        </div>
      {{else}}
        <div class="agora-logger extra">
          {{> socialMediaLogin agoraMode=true}}
        </div>
      {{/if}}

      {{#unless emptyThread}}
        <div class="feed-events">
          {{#each event}}
            {{> thread}}
            <div class="agora-separator"></div>
          {{/each}}
        </div>
      {{else}}
        <div class="menu menu-empty">
          <div>
            {{{_ 'no-comments-found'}}}
          </div>
        </div>
      {{/unless}}

    </div>
  </div>
</template>
