<template name="agora">
  <div class="agora">
    <div class="content content-agora">
      <h5>{{_ 'argument'}}</h5>
      <div class="paper">
        <div class="title-input"></div>
        <div class="editor-draft rich-text w-richtext">
        </div>
      </div>
      <div class="agora-speak w-clearfix">
        <div class="power power-small">
          <a class="button button-small execute w-inline-block" href="#">
            <div>{{_ 'speak'}}</div>
          </a>
        </div>
      </div>
      <h5>{{_ 'agora'}}</h5>
    </div>
  </div>

  <!-- TODO implement conversation threads
    {{> thread}}
  -->
</template>
