<template name="agora">
  <div class="agora">
    <div class="content content-agora">
      <h5>{{_ 'debate'}}</h5>
      <div class="comment-editor w-clearfix">
        <div class="power power-small"></div>
      </div>
      <div class="event w-clearfix">
        {{> postComment}}
      </div>

      {{#unless emptyThread}}
        {{#each event}}
          {{> thread}}
        {{/each}}
      {{else}}
        <div class="menu menu-empty">
          <div>
            {{{_ 'no-comments-found'}}}
          </div>
        </div>
      {{/unless}}
      
    </div>
  </div>
</template>
