<template name="feedButton">

  <a id='{{id}}' class="button button-small execute w-clearfix w-inline-block feedButton">
    <div class="execution-label">
      {{{_ label}}}
    </div>

    <!-- Hover Icon -->
    <img id='button-hover-{{id}}' class="button-icon execute-icon execute-icon-hover" src="{{pathFor route='home'}}images/access-hover.png">
    <!-- Idle Icon -->
    <img id='button-{{id}}' class="button-icon execute-icon {{display}} " src="{{pathFor route='home'}}images/access.png">
  </a>

</template>
