<template name="feed">
  <div class="feed">
    <ul class="type w-clearfix w-list-unstyled">
      {{#if editorMode}}
        {{> editor contractId=newContractId}}
      {{/if}}
      <div id="non-editable-feed">
        {{#each item}}
          {{> feedItem}}
        {{/each}}
      </div>
    </ul>
    {{#if emptyFeed}}
      {{> feedEmpty emptyContent}}
    {{else}}
      <div id="feed-bottom" class="feed-footer">
        <img src="{{pathFor route='home'}}images/arrow-up.png" class="back-top">
        <div>
          {{_ 'back-to-top'}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
