<template name="feedItem">
  {{#if placeholder}}
    <div id="feedItem-placeholder" class="vote vote-search vote-feed nondraggable">
      <div class="checkbox checkbox-custom">
        <div class="meta meta-search">
          <div class="w-list-unstyled w-clearfix identity-list identity-feed-item extra">
            <div class="w-clearfix identity">
              {{> avatar placeholder=true size=24}}
            </div>
            <div class="data data-feed">
              <div class="verifier verifier-live verifier-feed">
                <div class="option-placeholder short"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-inline-block w-clearfix option-proposal">
          <div class="option-title option-link option-search title-input">
             <div class="title-input title-feed">
               <div class="option-placeholder"></div>
               <div class="option-placeholder"></div>
               <div class="option-placeholder fifty"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{#if delegationMode}}
      {{> transaction contract=this senderId=senderId receiverId=receiverId}}
    {{else}}
      {{#unless pollContent}}
        {{#if contextHere}}
          <a href="#debate" id="focusedItem"></a>
        {{/if}}
        <div id="feedItem-{{_id}}" class="vote vote-search vote-feed nondraggable {{pollStyle}}" href="{{this.url}}">
          <div class="checkbox checkbox-custom">
            <div class="meta meta-search meta-bar">
              <div class="w-list-unstyled w-clearfix identity-list identity-feed-item extra">
                {{#each signatures}}
                  <div class="w-clearfix identity">
                    {{> avatar size=24 profile=this._id includeName=true includeNation=true editable=false microFont=true disabled=false includeRole=false}}
                  </div>
                {{else}}
                  {{> avatar placeholder=true size=24}}
                {{/each}}
                <!--<div class="data data-feed data-identity">
                  <div class="margin-both">
                    <img src="{{getImage 'key'}}" class="clock-icon">
                    <a id="blockchain-explorer" title="{{blockchainFullAddress}}" href="{{blockchainLink}}" target="_blank">
                      <div class="verifier verifier-live verifier-feed verifier-mini verifier-key">{{blockchainAddress}}</div>
                    </a>
                  </div>
                </div>-->
                <div class="data data-feed">
                  <img class="url-icon" src="{{daoIcon}}">
                  <a href="{{daoUrl}}" class="verifier verifier-live verifier-feed">
                    {{daoName}}
                  </a>
                  <!--
                  {{#if ragequit}}
                      <img class="url-icon" src="{{getImage 'ragequit-icon'}}">
                      <a href="/?period=ragequit" class="verifier verifier-live verifier-feed">
                        {{_ 'moloch-period-ragequit'}}
                      </a>
                  {{else}}
                    {{#if electionData}}
                      <img class="url-icon" src="{{getImage 'vote-icon-black'}}">
                      <a href="{{url}}#votes" class="verifier verifier-live verifier-feed">
                        {{voters}}
                      </a>
                    {{else}}
                      <div class="verifier verifier-live verifier-feed">
                        <div class="option-placeholder short"></div>
                      </div>
                    {{/if}}
                  {{/if}}
                  -->
                </div>
              </div>
            </div>
            <div class="w-inline-block w-clearfix option-proposal">
              <div class="option-title option-link option-search title-input">
                <div class="title-input title-feed {{focused}}">
                  {{#if moloch}}
                    {{#if summon}}
                      {{> warning label="moloch-summon-dao" style='summon'}}
                      <div class="date-info">
                        <div class="verifier verifier-live verifier-feed">{{{sinceDate createdAt}}}</div>
                      </div>
                      <div class="smart-contract">
                        <div class="parameter">
                          <div class="parameter-name">
                            {{_ 'moloch-summoner'}}
                          </div>
                          <div class="parameter-value parameter-avatar">
                            {{#with applicant}}
                              {{> avatar size=36 profile=this._id includeName=true includeAddress=true includeNation=false editable=false microFont=true disabled=false includeRole=false}}
                            {{/with}}
                          </div>
                        </div>
                        <div class="parameter-line">
                          <div class="parameter">
                            <div class="parameter-name">
                              {{_ 'moloch-summoner-share'}}
                            </div>
                            <div class="parameter-value parameter-token">
                              {{#with request}}
                                {{> balance}}
                              {{/with}}
                            </div>
                          </div>
                        </div>
                      </div>
                    {{else}}
                      {{#if ragequit}}
                        {{> warning label="moloch-contract-ragequit" style='summon'}}
                        <div class="date-info">
                          <div class="verifier verifier-live verifier-feed">{{{sinceDate createdAt}}}</div>
                        </div>
                        <div class="smart-contract">
                          <div class="parameter-line">
                            <div class="parameter">
                              <div class="parameter-name">
                                {{_ 'moloch-ragequit-shares-burn'}}
                              </div>
                              <div class="parameter-value parameter-token">
                                {{#with burn}}
                                  {{> balance}}
                                {{/with}}
                              </div>
                            </div>
                            <!-- NOTE: to be done soon
                            <div class="parameter">
                              <div class="parameter-name">
                                {{_ 'moloch-ragequit-funds-withdraw'}}
                              </div>
                              <div class="parameter-value parameter-token">
                                {{#with withdraw}}
                                  {{> balance}}
                                {{/with}}
                              </div>
                            </div>
                            -->
                          </div>
                        </div>
                      {{else}}
                        {{{description}}}
                        <div class="date-info">
                          <div class="verifier verifier-live verifier-feed">{{{sinceDate createdAt}}}</div>
                        </div>
                        <div class="smart-contract">
                          <div class="parameter">
                            <div class="parameter-name">
                              {{_ 'moloch-applicant'}}
                            </div>
                            <div class="parameter-value parameter-avatar">
                              {{#with applicant}}
                                {{> avatar size=36 profile=this._id includeName=true includeAddress=true includeNation=false editable=false microFont=true disabled=false includeRole=false}}
                              {{/with}}
                            </div>
                          </div>
                          <div class="parameter-line">
                            <div class="parameter">
                              <div class="parameter-name">
                                {{_ 'moloch-request'}}
                              </div>
                              <div class="parameter-value parameter-token">
                                {{#with request}}
                                  {{> balance}}
                                {{/with}}
                              </div>
                            </div>
                            <div class="parameter">
                              <div class="parameter-name">
                                {{_ 'moloch-tribute'}}
                              </div>
                              <div class="parameter-value parameter-token">
                                {{#with tribute}}
                                  {{> balance}}
                                {{/with}}
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/if}}
                    {{/if}}
                  {{else}}
                    {{{title}}}
                  {{/if}}
                </div>
              </div>
            </div>
            {{#unless nonvoting}}
              {{#if requiresClosing}}
                {{#with closingData}}
                  {{> countdown}}
                {{/with}}
              {{/if}}   
              {{#if pollingEnabled}}
                {{> poll list=pollList pollId=pollId rules=rules pollTotals=pollTotals quadratic=quadraticEnabled balance=balanceEnabled}}
              {{else}}
                {{> poll list=pollList placeholder=true}}
              {{/if}}
              {{#if tally}}
                {{> ballot editorMode=false feedMode=true contract=feedContract url=url rightToVote=rightToVote candidateBallot=candidateBallot displayResults=displayResults readOnly=readOnly displayActions=displayActions rules=rules}}
              {{/if}}
            {{else}}
              {{> ballot twitterOnly=true editorMode=false feedMode=true contract=feedContract url=url rightToVote=rightToVote candidateBallot=candidateBallot displayResults=displayResults readOnly=readOnly displayActions=displayActions rules=rules}}
            {{/unless}}
          </div>
        </div>
        {{#unless isPhone}}
          {{#if replyEditor}}
            {{#with replyData}}
              {{> compose}}
            {{/with}}
          {{/if}}
        {{/unless}}
      {{/unless}}
    {{/if}}
  {{/if}}
</template>
