<template name="feed">
  {{#if Template.subscriptionsReady}}
    {{#if refresh}}
      {{#unless empty}}
        {{#each placeholderItem}}
          {{> feedItem placeholder=true}}
        {{/each}}
      {{else}}
        {{> warning label="empty-feed"}}
      {{/unless}}
    {{else}}
      {{#each item}}
        {{> feedItem}}
      {{/each}}
      {{#if empty}}
        {{> warning label="empty-feed"}}
      {{/if}}
      {{#unless single}}
        {{> paginator options=options count=count subfeed=subfeed lastItem=lastItem}}
      {{/unless}}
    {{/if}}
  {{else}}
    {{#if beginning}}
      {{#each placeholderItem}}
        {{> feedItem placeholder=true}}
      {{/each}}
    {{else}}
      {{> feedLoad}}
    {{/if}}
  {{/if}}
</template>
