<template name="feed">
  {{#if Template.subscriptionsReady}}
    {{#if refresh}}
      {{#each placeholderItem}}
        {{> feedItem placeholder=true}}
      {{/each}}
    {{else}}
      {{#each item}}
        {{> feedItem}}
      {{else}}
        {{> feedEmpty emptyContent}}
      {{/each}}
      {{> paginator options=options count=count}}
    {{/if}}
  {{else}}
    {{#if beginning}}
      {{#each placeholderItem}}
        {{> feedItem placeholder=true}}
      {{/each}}
    {{else}}
      {{> feedLoad}}
    {{/if}}
  {{/if}}
</template>
