<template name="paginator">
  <div id="page-{{identifier}}" class="page">
    {{#if end}}
      {{#unless empty}}
        <div id="feed-bottom" class="feed-footer">
          <img src="{{pathFor route='home'}}images/arrow-up.png" class="back-top">
          <div>
            {{_ 'back-to-top'}}
          </div>
        </div>
      {{/unless}}
    {{else}}
      {{#if visible}}
        {{> feed skip=nextSkip query=query options=options view=view limit=limit count=count}}
      {{else}}
        <div id="spinner-feed"></div>
      {{/if}}
    {{/if}}
  </div>
</template>
