<template name="ledger">
  <div class="agora">
    {{#if peerFeed}}
      <div class="content content-agora">
        <a href="#delegations"></a>
        <div class="ledger-title">
          <h5>{{_ 'delegations'}}</h5>
        </div>
        <div id="non-editable-feed" class="ledger">
          {{> feed options=options kind=kind singlePost=singlePost}}
        </div>
        <a href="#votes"></a>
        <div class="ledger-title">
          <h5>{{_ 'votes'}}</h5>
        </div>
        <div id="non-editable-feed" class="ledger">
          {{> tally peerVotes hidePost=hidePost}}
        </div>
        {{> footnote}}
      </div>
    {{/if}}
    {{#if postFeed}}
      <div class="content content-agora">
        <a href="#votes"></a>
        <div class="ledger-title">
          <h5>{{_ 'votes'}}</h5>
        </div>
        <div id="non-editable-feed" class="ledger">
          {{#if postReady}}
            {{#if ballotEnabled}}
              {{> tally postVotes hidePost=true}}
            {{/if}}
          {{/if}}
        </div>
        {{> footnote noGrant=true}}
      </div>
    {{/if}}
    {{#if homeFeed}}
      <div class="content content-agora">
        <a href="#votes"></a>
        <div class="ledger-title">
          <h5>{{_ 'recent-activity'}}</h5>
        </div>
        <div id="non-editable-feed" class="ledger">
          {{#if postReady}}
            {{> tally homeVotes hidePost=true}}
          {{/if}}
        </div>
        {{> footnote}}
      </div>
    {{/if}}
    <div id="resizable" class="resize"></div>
  </div>
</template>

<template name="footnote">
  <div class="foot">
    <div class="foot-note">
      <div class="foot-note-dot"></div>
      <div class="foot-note-label">
        {{_ 'cast-votes'}}
      </div>
    </div>
    <div class="foot-note">
      <div class="foot-note-dot revoke"></div>
      <div class="foot-note-label">
        {{_ 'revoked-votes'}}
      </div>
    </div>
    {{#unless noGrant}}
      <div class="foot-note">
        <div class="foot-note-dot grant"></div>
        <div class="foot-note-label">
          {{_ 'granted-votes'}}
        </div>
      </div>
    {{/unless}}
  </div>
</template>
