<template name="ledger">
  <div class="agora">
    {{#if postFeed}}
      <div class="content content-agora">
        <a href="#votes"></a>
        <div class="ledger-title">
          <h5>{{_ 'thread-votes'}}</h5>
        </div>
        <div id="non-editable-feed" class="ledger">
          {{#if postReady}}
            {{> tally postVotes}}
          {{else}}
            {{> tally placeholder=true}}
          {{/if}}
        </div>
      </div>
    {{/if}}
    {{#if homeFeed}}
      <div class="content content-agora">
        <a href="#votes"></a>
        <div class="ledger-title">
          <h5>{{ledgerTitle}}</h5>
        </div>
        <div id="non-editable-feed" class="ledger">
          {{#if postReady}}
            {{> tally homeVotes}}
          {{else}}
            {{> tally placeholder=true}}
          {{/if}}
        </div>
      </div>
    {{/if}}
    <div id="resizable" class="resize"></div>
  </div>
</template>

<template name="footnote">
  <div class="foot">
    <div class="foot-note">
      <div class="foot-note-dot"></div>
      <div class="foot-note-label">
        {{_ 'cast-votes'}}
      </div>
    </div>
    <div class="foot-note">
      <div class="foot-note-dot revoke"></div>
      <div class="foot-note-label">
        {{_ 'revoked-votes'}}
      </div>
    </div>
    <!--
    {{#unless noGrant}}
      <div class="foot-note">
        <div class="foot-note-dot grant"></div>
        <div class="foot-note-label">
          {{_ 'granted-votes'}}
        </div>
      </div>
    {{/unless}}
    -->
  </div>
</template>
