<template name="avatar">
  <div class="w-clearfix avatar-editor">
    {{#if editor}}
      <img src="{{profilePicture}}" class="symbol profile-pic profile-pic-edit">
      <div class="avatar-description">
        <div class="login-label">{{_ 'profile-picture'}}</div>
      </div>
      <form id="upload">
        <div class="">
          <label class="button button-upload upload-button-label">
            <input type="file">
            <img src="{{pathFor route='home'}}images/camera.png" class="upload-icon">
            <span class='uploader-button'>{{_ 'upload-picture'}}</span>
          </label>
        </div>
      </form>
    {{else}}
      {{#if editable}}
        <div id="toggleEditor" class="symbol profile-pic profile-edit">
          <div class="label">{{_ 'edit'}}</div>
        </div>
      {{/if}}

      {{#if profile}}
        <img id="{{elementId}}" src="{{profilePicture profile}}" class="symbol profile-pic {{classStyle smallFont}}" style="{{pictureSize size includeName}}">
      {{else}}
        <img src="{{profilePicture}}" class="symbol profile-pic {{classStyle smallFont}}" style="{{pictureSize size includeName}}">
      {{/if}}

      <div class="identity-peer {{classStyle smallFont}}">

        {{#if verifiedIdentity}}
          <div class="identity-verified">
            <img src="{{pathFor route='home'}}images/white-tick.png" class="identity-verified-tick">
          </div>
        {{/if}}

        {{#if includeName}}
          {{#if smallFont}}
            <a href="#" class="identity-label identity-label-small">{{fullName profile}}</a>
          {{else}}
            <a href="#" class="identity-label">{{fullName profile}}</a>
          {{/if}}

          {{#if includeNation}}
            <div class="identity-nation">{{nationality profile}}</div>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</template>
