<template name="contract">
    {{#if isDelegation}}
      <div class="content">
        <div class="contract">
          <div class="paper">
            {{> title editorMode=false}}
            {{> agreement editorMode=false dynamicMode=true}}
            <!--{{> conditions}}-->
            {{> semantics editorMode=true}}
            {{> signatures delegationMode=true editorMode=false}}
            {{> vote user=currentUser._id editable=true}}
          </div>
        </div>
      </div>
    {{else}}
      {{#if editorMode}}
        <!-- Editable -->
        <div class="content">
          <div class="contract">
            <div class="paper">
              {{> title editorMode=true}}
              {{> agreement editorMode=true}}
              {{> semantics editorMode=true}}
              {{> signatures authorMode=true editorMode=true}}
            </div>
            <div class="paper {{ballotToggle}}">
              {{> ballot editorMode=true}}
            </div>
            <div class="paper paper-execute">
              {{> action label='launch-vote' enabled=true}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="split">
          <!-- Votable -->
          <div class="contract">
            <div class="paper">
              {{> title editorMode=false}}
              {{> agreement editorMode=false}}
              {{> semantics editorMode=false}}
              {{> signatures authorMode=true editorMode=false}}
            </div>
            <div class="paper">
              {{> ballot editorMode=false}}
            </div>
            {{#if pollClosed}}
              <div class="paper">
                {{> results}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class="split split-right">
          {{> agora}}
        </div>
      {{/if}}
    {{/if}}
</template>
