<template name='main'>
  <!-- App -->

  {{> modal}}

  {{#each popupList}}
    {{> popup id=this}}
  {{/each}}

  {{#if isPhone}}
    <div id='mobileKeyboard' contenteditable="true" style="opacity: 0; width: 0px; height:0px;"></div>
  {{/if}}

  {{> sidebar}}

  <div id='content' class='right {{landingMode}}'>

    {{#if loggedWithPhone}}
      {{> navigation}}
      <div class='inhibitor' style='display: none;'></div>
    {{/if}}

    {{> yield}}

  </div>

  {{#if showNotice}}
    {{> notice}}
  {{/if}}

</template>
