<template name='main'>
  <!-- App -->

  {{> modal}}
  {{#each popupList}}
    {{> popup id=this}}
  {{/each}}

  {{#if isPhone}}
    <div id='mobileKeyboard' contenteditable="true" style="opacity: 0; width: 0px; height:0px;"></div>
  {{/if}}


  <div id='menu' class='left'>
    {{> sidebar}}
  </div>

  <div id='content' class='right'>

    {{#if isPhone}}
      <div class='inhibitor' style='display: none;'></div>
    {{/if}}

    {{> navigation}}
    {{> yield}}

    <!--
    NOTE: we will go for navigation without a touch menu and reconcile mobile with desktop ux
    {{#if isPhone}}
      {{> touchmenu}}
    {{/if}}
    -->

  </div>

  {{#if showNotice}}
    {{> notice}}
  {{/if}}

</template>
