<template name='main'>
  <!-- App -->

  {{> modal}}

  {{#each popupList}}
    {{> popup id=this}}
  {{/each}}

  {{#if isPhone}}
    <div id='mobileKeyboard' contenteditable="true" style="opacity: 0; width: 0px; height:0px;"></div>
  {{/if}}

  {{> sidebar}}

  {{> preloader}}

  <div id='content' class='right {{landingMode}}'>

    {{#if loggedWithPhone}}
      {{> navigation}}
      <div class='inhibitor' style='display: none;'></div>
    {{/if}}

    {{> yield}}

  </div>  

  {{#if showNotice}}
    {{> notice}}
  {{/if}}

</template>

<template name='preloader'>
  <div id="preloader-splash" class="preloader">
    <div class="preloader-icon"
      style="font-family:-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; text-align: center; color: #ccc; font-size: 15px;">
      <img class="preloader-image" style="opacity: 0;" src="{{appIcon}}">
      <div class="preloader-label">{{_ 'loading'}}</div>
    </div>
  </div>
</template>