<template name="modal">
  {{#if showModal}}
    {{> modalWindow}}
  {{/if}}
</template>

<template name="modalWindow">
  <div id="modalToggle" class="w-clearfix modal">
    <div class="w-clearfix alert">
      <div class="alert-header">
        <img class="alert-icon" src="{{pathFor route='home'}}{{icon}}">
        <div class="modal-title">{{{title}}}</div>
      </div>
      <div>{{{message}}}</div>
      {{#if displayProfile}}
        <div class='card-element'>
          <div class="w-clearfix identity identity-center">
            {{> avatar profile=profileId includeName=true includeNation=true editable=false disabled=true}}
          </div>
        </div>
      {{/if}}
      {{#if displayBallot}}
        <p>
          <ul class="{{mini 'options'}}">
            <li class="title-input title-input-mini">
              {{contractTitle}}
            </li>
            {{#each ballot}}
              {{> fork _id=_id label=label executive=false mode=mode rank=rank url=url editorMode=false mini=true contract=contract}}
            {{/each}}
          </ul>
          {{#if voteMode}}
            {{#with voteSettings}}
              {{> liquid _id=this.voteId sourceId=this.sourceId targetId=this.targetId wallet=this.wallet editable=true contract=this.contract candidateBallot=this.candidateBallot}}
            {{/with}}
          {{/if}}
        </p>
      {{/if}}
      {{#unless awaitMode}}
        {{#unless voteMode}}
          {{#unless alertMode}}
            <div class="modal-buttons">
              <div class="modal-buttons-padder modal-buttons-padder-left">
                <div id="cancel" class="button login-button button-secondary button-half">
                  <div>{{cancel}}</div>
                </div>
              </div>
              <div class="modal-buttons-padder modal-buttons-padder-right">
                <div id="execute" class="button login-button button-half {{removal}}">
                  <div>{{action}}</div>
                </div>
              </div>
            </div>
          {{else}}
            <div class="modal-buttons">
              <div id="cancel" class="button login-button">
                <div>{{cancel}}</div>
              </div>
            </div>
          {{/unless}}
        {{/unless}}
      {{else}}
        <div class="modal-buttons">
          {{> spinner id='modal' style='height:24px; margin-top:12px;' length=16 color='#fff'}}
        </div>
      {{/unless}}
    </div>
  </div>
</template>
