<template name="modal">
  {{#if showModal}}
    {{> modalWindow}}
  {{/if}}
</template>

<template name="modalWindow">
  <div id="modalToggle" class="w-clearfix modal">
    <div class="w-clearfix alert">
      <div class="alert-header">
        <img class="alert-icon" src="{{pathFor route='home'}}{{icon}}">
        <div>{{{title}}}</div>
      </div>
      <div class="w-clearfix login">
        <div>{{{message}}}</div>

        {{#if displayProfile}}
          <p>
            <div class="w-clearfix identity identity-center">
              {{> avatar profile=profileId includeName=true includeNation=true editable=false}}
            </div>
          </p>
        {{/if}}
        {{#if displayBallot}}
          <p>
            <div class="alert-header">
              {{contractTitle}}
            </div>
            <ul class="options">
              {{#each ballot}}
                {{> fork _id=_id label=label mode=mode rank=rank url=url alternative=true editorMode=false mini=true}}
              {{/each}}
            </ul>
          </p>
        {{/if}}
        <div class="modal-buttons">
          <div id="cancel" class="button login-button button-secondary button-half">
            <div>{{cancel}}</div>
          </div>
          <div id="execute" class="button login-button button-half">
            <div>{{action}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
