<template name="sidebar">

  <div class="sidebar">

    {{> collective}}

    <ul class="menu w-clearfix w-list-unstyled">

      {{> inbox label='delegations' separator=true count=totalDelegates}}

      {{#each delegate}}
        {{> inbox id=id label=label separator=separator value=value url=url selected=selected icon=icon isAvatar=true iconActivated=iconActivated feed=feed}}
      {{else}}
        <div class="menu">
          {{> warning label='no-delegations-found'}}
        </div>
      {{/each}}

      {{> inbox label='all-members' separator=true count=totalMembers}}

      {{#each member}}
        {{> inbox id=id label=label separator=separator value=value url=url selected=selected icon=icon isAvatar=true iconActivated=iconActivated feed=feed}}
      {{else}}
        <div class="menu">
          {{> warning label='no-members-found'}}
        </div>
      {{/each}}
    </ul>

  </div>

</template>
