<template name="sidebar">

  {{#if sidebarContext}}
    <div id='menu' class='left {{style}}'>
      <div class="sidebar">
        <ul class="menu w-clearfix w-list-unstyled">
          {{#each menu}}
            {{> inbox id=id label=label separator=separator value=value url=url selected=selected icon=icon isAvatar=isAvatar iconActivated=iconActivated feed=feed reserve=reserve}}
          {{/each}}
        </ul>

        <!--
        <ul class="menu w-clearfix w-list-unstyled">
          {{> inbox label='delegates' separator=true count=totalDelegates}}
          {{#each delegate}}
            {{> inbox id=id label=label separator=separator value=value url=url selected=selected icon=icon isAvatar=true iconActivated=iconActivated feed=feed}}
          {{else}}
            <div class="menu">
              {{> warning label='no-delegations-found'}}
            </div>
          {{/each}}
        </ul>
        -->

        <div style="height: 50px"></div>
      </div>
      <div class="menu menu-empty menu-footer">
        {{{members}}}
        {{{replicator}}}
        {{> collective}}
      </div>

    </div>
  {{else}}

  {{/if}}
</template>
