<template name="signup">
  <div class="login">
    <div class="w-form">
      <form id="signup-new-user" name="signup-form">
        <div class="w-clearfix login-field">
          <label for="signup-username" class="login-label login-label-form">
            {{_ "username"}}
          </label>
          <img src="{{pathFor route='home'}}images/id-card.png" class="login-icon">
          <input id="signup-input" name="username-signup" type="text" placeholder="{{_ 'username-sample'}}" class="w-input login-input">
          {{#if invalidUsername}}
            {{> warning label="invalid-username"}}
          {{/if}}
          {{#if repeatedUsername}}
            {{> warning label="repeated-username"}}
          {{/if}}
        </div>
        <div class="w-clearfix login-field">
          <label for="signup-email" class="login-label login-label-form">
            {{_ "email"}}
          </label>
          <img src="{{pathFor route='home'}}images/mail-closed.png" class="login-icon">
          <input id="signup-input" name="email-signup" type="text" placeholder="{{_ 'email-sample'}}" class="w-input login-input">
          {{#if invalidEmail}}
            {{> warning label="invalid-email"}}
          {{/if}}
        </div>
        <div class="w-clearfix login-field">
          <label for="signup-password" class="login-label login-label-form">
            {{_ "password"}}
          </label>
          <img src="{{pathFor route='home'}}images/lock.png" class="login-icon">
          <input id="signup-input" name="password-signup" type="password" placeholder="{{_ 'password-sample'}}" class="w-input login-input">
          {{#if invalidPassword}}
            {{> warning label="invalid-password"}}
          {{/if}}
        </div>
        <div class="w-clearfix login-field">
          <label for="signup-password-doublecheck" class="login-label login-label-form">
            {{_ "password-again"}}
          </label>
          <img src="{{pathFor route='home'}}images/lock.png" class="login-icon">
          <input id="signup-input" name="mismatchPassword" type="password" placeholder="{{_ 'password-sample-again'}}" class="w-input login-input">
          {{#if mismatchPassword}}
            {{> warning label="mismatch-password"}}
          {{/if}}
        </div>
        {{#if alreadyRegistered}}
          <div class="extra section">
            {{> warning label="user-exists"}}
          </div>
        {{/if}}
        <div id="signup-button" class="button login-button">
          <div>{{_ 'sign-up'}}</div>
        </div>
      </form>
    </div>
    <div>{{_ "already-have-account"}} <a id='signup' href="#">{{_ "sign-in"}}</a>.</div>
  </div>
</template>
