<template name="inbox">
  <ul class="menu w-clearfix w-list-unstyled">

    <a href="{{pathFor route='home'}}">
      <li class="menu-item menu-item-selected w-clearfix">
        <div class="signal signal-selected {{signalStyle votes}}">
          <div>{{votes}}</div>
        </div>
        <div>{{_ 'all'}}</div>
      </li>
    </a>

    <a href="{{pathFor route='home'}}filter?type=memberships">
      <li class="menu-item w-clearfix">
        <div class="signal {{signalStyle memberships}}">
          <div>{{memberships}}</div>
        </div>
        <div>{{_ 'memberships'}}</div>
      </li>
    </a>

    <a href="{{pathFor route='home'}}filter?type=delegations">
      <li class="menu-item w-clearfix">
        <div class="signal {{signalStyle delegations}}">
          <div>{{delegations}}</div>
        </div>
        <div>{{_ 'delegations'}}</div>
      </li>
    </a>

    <a href="{{pathFor route='home'}}filter?type=drafts">
      <li class="menu-item w-clearfix">
        <div class="signal {{signalStyle drafts}}">
          <div>{{drafts}}</div>
        </div>
        <div>{{_ 'drafts'}}</div>
      </li>
    </a>

  </ul>
</template>
