.off-screen {
  opacity:0;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #3A3044 inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: #3A3044 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #3A3044 inset;
}

input[type="file"] {
    display: none;
}

.button.button-upload {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}


.login {
    text-align: center;
}

.popup {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
}

/* override sidebar style with default state while original css has designer-friendly state for development and design */
.navbar {
  left: 0px;
}
.left {
  margin-left: -320px;
}
.right {
  left: 0px;
}
