<template name="preview">
  <div class="identity identity-transaction w-clearfix" style="float:left">
    <div class="w-clearfix avatar-editor">
      <div class="identity-peer identity-post">
        {{#if ready}}
          <a href="{{url}}" title="{{fullTitle}}" class="identity-label identity-label-micro identity-label-post">
            {{displayTitle}}
          </a>
        {{else}}
          <div class="identity-label identity-label-micro identity-label-post">
            {{_ 'await-contract'}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
