<template name="authenticity">
  <div class="authenticity w-clearfix">
    <div class="authenticity-score">
      <div class="authenticity-bar w-clearfix">
        <div class="authenticity-bar-scale authenticity-bar-selected">
          <div class="authenticate-defcon defcon-1"></div>
        </div>
        <div class="authenticity-bar-scale">
          <div class="authenticate-defcon defcon-2"></div>
        </div>
        <div class="authenticity-bar-scale">
          <div class="authenticate-defcon defcon-3"></div>
        </div>
        <div class="authenticity-bar-scale">
          <div class="authenticate-defcon defcon-4"></div>
        </div>
        <div class="authenticity-bar-scale">
          <div class="authenticate-defcon defcon-5"></div>
        </div>
      </div>
      <div class="authenticity-label">smtp + http + sms + geo +&nbsp;peer.</div>
    </div>
    <div class="authenticity-role">
      <img class="authenticity-role-img" src="{{pathFor route='home'}}images/fingerprint-white.png">
    </div>
  </div>

</template>
