<template name="signatures">

  <div class="signature">

    <h5>{{_ "signatures"}}</h5>

    {{#unless userSigned}}

      <div class="w-clearfix highlight">
        <div class="highlight-label">{{_ 'sign-here'}}</div>
        <div class="arrow"></div>
      </div>

      <ul class="w-list-unstyled w-clearfix extra">
        <li class="w-clearfix identity identity-sign">
          <img id='signature' class="symbol profile-pic profile-sign" src="{{pathFor route='home'}}images/fingerprint-white.png">
          <div class="identity-peer">

            <div id='signature' class="identity-label identity-label-sign">
              {{#if authorMode}}
                {{_ 'sign-author'}}
              {{/if}}
            </div>

          </div>
        </li>
      </ul>

    {{/unless}}


  </div>

</template>
