<template name="signatures">

  <div class="signature">

    <h5>{{_ "signatures"}}</h5>

    {{#if currentUser}}
      {{#unless userSigned}}

        <div class="w-clearfix highlight">
          <div class="highlight-label">{{_ 'sign-here'}}</div>
          <div class="arrow"></div>
        </div>

      {{/unless}}
    {{/if}}

      <ul class="w-list-unstyled w-clearfix extra">

        {{#if currentUser}}
          {{#unless userSigned}}
            <li class="w-clearfix identity identity-sign">
              <img id='sign-author' class="symbol profile-pic profile-sign" src="{{pathFor route='home'}}images/fingerprint-white.png">
              <div class="identity-peer">

                {{#if authorMode}}
                  <div id='sign-author' class="identity-label identity-label-sign">
                    {{_ 'sign-author'}}
                  </div>
                {{/if}}

              </div>
            </li>
          {{/unless}}
        {{/if}}

        {{#each signer}}
          <li class="w-clearfix identity identity-sign">
            {{> avatar profile=this includeName=true editable=false}}
          </li>
        {{/each}}

      </ul>

  </div>

</template>
