<template name="navigation">
  <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
    <div class="w-container navcontainer">

      <!-- {{#if logo}}
        <div class='logo-navbar'>
          <img src="{{getImage 'navbar-icon'}}" class="logo logo-path">
        </div>
      {{/if}} -->

      {{#if phoneScreen}}
        <a id="burger" class="logo w-nav-brand">
          <img src="{{getImage 'navbar-icon'}}" class="menu-button" ontouchstart="">
        </a>
      {{/if}}
      
      <div class="mobile-search">
        {{> search}}
      </div>

      {{> authentication}}
    </div>
  </div>
  {{> alert}}
</template>
