<template name="navigation">
  <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
    <div class="w-container navcontainer">

      {{#if logo}}
        <div class='logo-navbar'>
          <img src="{{navIcon}}" class="logo logo-path">
        </div>
      {{/if}}

      {{#if phoneScreen}}
        <a id="burger" class="logo w-nav-brand">
          <img src="{{navIcon}}" class="menu-button" ontouchstart="">
        </a>
      {{/if}}

      <div class="w-clearfix path">
        {{{screen}}}
      </div>

      {{> authentication}}
    </div>
  </div>
</template>
