<template name="transaction">
  <li class="vote vote-delegation vote-feed vote-search w-clearfix">
    <div class="transaction-data w-clearfix">
      <div class="actor w-clearfix">
        <div class="identity identity-transaction w-clearfix">
        {{#with sender}}
          {{> avatar size=24 profile=this includeName=true includeNation=true editable=false microFont=true disabled=false includeRole=false}}
        {{/with}}
        </div>
      </div>
      <div class="actor">
        <img src="{{pathFor route='home'}}images/arrow-right.png" class="transaction-direction">
      </div>
      <div class="actor">
        {{#with receiver}}
          {{> avatar size=24 profile=this includeName=true includeNation=true editable=false microFont=true disabled=false includeRole=false}}
        {{/with}}
      </div>
      <div class="actor">
        <div class="transaction-value">
          <div class="bar-labels">
            <div class="vote-available label-votes">
              <div class="stage stage-finish-approved">
                <div class="label label-corner">
                  {{value}} {{_ 'votes'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>
