<template name="transaction">
  <li class="vote vote-delegation vote-feed vote-search w-clearfix">

    <div class="ticket-trim">
    </div>

    <div class="float-left half transaction-half">
      <div class="identity identity-transaction w-clearfix">
        <div class="cards transaction-label transaction-score">
          {{_ 'from'}}
        </div>
        {{#with sender}}
          {{> avatar profile=this includeName=true includeNation=true editable=false disabled=false includeRole=false allowRemove=false}}
        {{/with}}
      </div>
    </div>
    <div class="float-left half transaction-half w-clearfix">
      <div class="float-right identity identity-transaction w-clearfix">
        <div class="cards transaction-label transaction-score">
          {{_ 'to'}}
        </div>
        <div class="transaction-wrapper w-clearfix">
          {{#with receiver}}
            {{> avatar profile=this includeName=true includeNation=true editable=false disabled=false includeRole=false allowRemove=false}}
          {{/with}}
        </div>
      </div>

      <div class="transaction w-clearfix">
        <div class="sort-score transaction-score">
          <img class="currency" src="images/micro-delegate.png">
          <div class="currency-label">{{value}}</div>
        </div>
        <div class="cards transaction-score">
          <a href="#">
            {{source}}
          </a>
        </div>
      </div>
    </div>

    <div class="ticket-trim ticket-trim-down">
    </div>

  </li>
</template>
