<template name="verifyEmail">
  <div class="content content-feed">
    <div id="feedItem-placeholder" class="vote vote-search vote-feed nondraggable">
      <div class="checkbox checkbox-custom">
        <div class="meta meta-search">
          <div class="w-list-unstyled w-clearfix identity-list identity-feed-item extra">
            <div class="w-clearfix identity">
              <div class="w-clearfix avatar-editor">
                <img id="collcetive" src="/images/{{collectiveFlag}}" class="symbol profile-pic" style="width:24px; height:24px;" title="eve" ontouchstart="">
                <div class="identity-peer">
                  <a href="/" title="eve" class="identity-label identity-label-micro">
                    {{collectiveName}}
                  </a>
                  <a href="/" class="identity-label identity-label-micro">
                    {{collectiveFlag}}
                  </a>
                </div>
              </div>
              <div class="data data-feed">
                <div class="verifier verifier-live verifier-feed">
                  <div class="option-placeholder short"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-inline-block w-clearfix option-proposal">
            <div class="option-title option-link option-search title-input">
               <div class="title-input title-feed">
                 {{verificationResult}}
              </div>
            </div>
          </div>
          <div class="block block-list">
            <div class="micro-menu">
              <a href="/" class="micro-button micro-button-feed" ontouchstart="">
                <img src="{{pathFor route='home'}}images/vote.png" class="micro-icon">
                <span class="micro-label">{{_ 'start-voting'}}</span>
                <div class="verifier verifier-live verifier-feed"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
