<template name="verifyEmail">
  <div class="content content-feed">
    <div id="feedItem-placeholder" class="vote vote-search vote-feed nondraggable">
      <div class="checkbox checkbox-custom">
        <div class="meta meta-search">
          <div class="w-list-unstyled w-clearfix identity-list identity-feed-item extra">
            <div class="w-clearfix identity">
              <div class="w-clearfix avatar-editor">
                <div class="identity-peer">
                  {{#if verificationResult}}
                    <span>Your email has now been verified, you can vote from <a href="/">home</a> now</span>
                  {{else}}
                    <span>Incorrect email token, please verify the URL is exactly the same as the one in your inbox</span>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
