<template name="home">
  {{#each mode in modeArray}}
    {{> screen this}}
  {{/each}}
</template>

<template name="screen">
  {{#if tag}}
    {{> homeFeed this}}
  {{/if}}
  {{#if geo}}
    {{> homeFeed this}}
  {{/if}}
  {{#if peer}}
    {{> peerFeed this}}
  {{/if}}
  {{#if post}}
    {{> postFeed this}}
  {{/if}}
  {{#if home}}
    {{> homeFeed this}}
  {{/if}}
</template>

<template name="homeFeed">

  <div class="split split-left">
    <div class="content content-feed max100">
      {{#unless isPhone}}
        {{> compose desktopMode=true}}
      {{else}}
        {{#if editorMode}}
          {{> editor contractId=newContractId}}
        {{/if}}
      {{/unless}}
      {{#if isPhone}}
        <input id="hiddenInput" style="visibility: hidden; position: absolute;">
      {{/if}}

      <div id="non-editable-feed">
        <h4>{{_ 'happening-now'}}</h4>
        {{> feed mainFeed}}
      </div>
    </div>
  </div>

  <div class="split split-right">
    {{> ledger mainLedger}}
  </div>

  {{#if isPhone}}
    {{> compose}}
  {{/if}}
</template>

<template name="peerFeed">
  <div class="split split-left">
    <div class="content content-feed content-feed-subsection max100" >
      <div id="non-editable-feed">
        {{> feed options=this.options kind='VOTE' subfeed=true singlePost=true noReplies=true}}
      </div>
    </div>
  </div>
  <div class="split split-right">
    {{> ledger options=this.options singlePost=true hidePost=false peerFeed=true postFeed=false homeFeed=false}}
  </div>
</template>

<template name="postFeed">
  <div class="split split-left">
    <div class="content content-feed subsection max100">
      {{#if isPhone}}
        <input id="hiddenInput" style="visibility: hidden; position: absolute;">
      {{/if}}

      <div id="non-editable-reply-feed">
        {{#if postReady}}
          {{#with thread}}
            {{> feed this}}
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="split split-right">
    {{#if postReady}}
      {{#with votes}}
        {{> ledger this}}
      {{/with}}
    {{/if}}
  </div>

  {{#if isPhone}}
    {{> compose replyMode=true replyId=replyId}}
  {{/if}}
</template>
