<template name="home">
  {{#unless newLogin}}
    {{#each mode in modeArray}}
      {{> screen this}}
    {{/each}}
  {{else}}
    {{> homeFeed this}}
  {{/unless}}
</template>

<template name="screen">
  {{#if post}}
    {{> postFeed this}}
  {{else}}
    {{> homeFeed this}}
  {{/if}}
</template>

<template name="homeFeed">
  {{#unless currentUser}}
    <div class="hero">
    </div>
  {{/unless}}

  <div class="split split-left {{landingMode}}">
    <div class="content content-feed max100">
      {{#unless isPhone}}
        {{#unless replyMode}}
          {{#unless minimizedMode}}
            {{> compose desktopMode=true replyMode=false}}
          {{else}}
            {{> compose desktopMode=true replyMode=false compressed=true}}
          {{/unless}}
        {{else}}
          {{> compose desktopMode=true replyMode=false compressed=true}}
        {{/unless}}
      {{else}}
        {{#if editorMode}}
          {{> editor contractId=newContractId}}
        {{/if}}
      {{/unless}}
      {{#if isPhone}}
        <input id="hiddenInput" style="visibility: hidden; position: absolute;">
      {{/if}}

      <div id="non-editable-feed">
        <h4>{{{feedTitle}}}</h4>
        {{#if feedReady}}
          {{> feed mainFeed}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="split split-right {{landingMode}}">
    {{#if feedReady}}
      {{#with mainLedger}}
        {{> ledger this}}
      {{/with}}
    {{/if}}
  </div>

  {{#if isPhone}}
    {{> compose desktopMode=false replyMode=false}}
  {{/if}}
</template>

<template name="postFeed">
  <div class="split split-left {{landingMode}}">
    <div class="content content-feed subsection max100">
      {{#if isPhone}}
        {{#if editorMode}}
          {{> editor contractId=newContractId}}
        {{/if}}
      {{/if}}

      {{#if isPhone}}
        <input id="hiddenInput" style="visibility: hidden; position: absolute;">
      {{/if}}

      <div id="non-editable-reply-feed">
        {{#if postReady}}
          {{#with thread}}
            {{> feed this}}
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="split split-right {{landingMode}}">
    {{#if postReady}}
      {{#with votes}}
        {{> ledger this}}
      {{/with}}
    {{/if}}
  </div>
</template>
