<template name="power">
  {{#if editable}}
    <div class="w-clearfix rosca rosca-setter">
      {{> bar editable=editable}}
      {{> available user=user}}
      {{> placed user=user}}
    </div>
  {{else}}
    <div class="w-clearfix rosca rosca-id {{styleClass}}">
      {{> bar editable=editable}}
      {{> available user=user}}
      {{> placed user=user}}
    </div>
  {{/if}}

  <div class="elements w-clearfix">
    <div class="hundred power">
      {{> action label=label enabled=editable}}
    </div>
  </div>

</template>

<template name="available">
  <div class='vote-available label-votes'>
    <strong data-new-link='true'>
      {{{votes user}}}
    </strong>
    <span class='vote-label'>
      {{_ 'available-votes'}}
    </span>
  </div>
</template>

<template name="placed">
  <div class='vote-allocated label-votes'>
    <strong data-new-link='true'>
      {{{votes user}}}
    </strong>
    <span class='vote-label'>
      {{_ 'placed-votes'}}
    </span>
  </div>
</template>

<template name="bar">
    {{#if editable}}
      <div id="voteBar" class="w-clearfix result vote-bar">
        <div id="voteSlider" class="result-bar vote-bar" style=" width: {{allocate}} ">
          {{#unless alreadyVoted}}
            {{#if rightToVote}}
              <div id="voteHandle" class="handle"></div>
            {{/if}}
          {{/unless}}
        </div>
        <div class="result-bar vote-bar vote-bar-allocated"  style=" width: {{placed}} "></div>
      </div>
    {{else}}
      <div class="w-clearfix result vote-bar">
        <div class="result-bar vote-bar" style=" width: {{allocate}} "></div>
        <div class="result-bar vote-bar vote-bar-allocated"  style=" width: {{placed}} "></div>
      </div>
    {{/if}}
</template>
