<template name="constituency">
  {{#if currentUser}}
    <div class="login">
      <div class="login-field">
        <label for="name" class="login-label login-label-form">
          {{_ 'voter-nationality'}}
        </label>
        <img src="{{pathFor route='home'}}images/flag.png" class="login-icon">
        <input type="text" id="editCountry" placeholder="{{_ 'earth'}}" autocomplete="false" value="{{country}}" class="w-input login-input country-search">
        {{#if showNations}}
          {{> suggest}}
        {{/if}}
      </div>
      <div class="login-field">
        <label for="name" class="login-label login-label-form">
          {{_ 'email-valid-domain'}}
        </label>
        <img src="{{pathFor route='home'}}images/domain.png" class="login-icon">
        <input type="text" id="editDomain" placeholder="{{_ 'email-domain-placeholder'}}" autocomplete="false" class="w-input login-input login-input-domain">
        {{#if wrongAddress}}
          <div class="margin-top">
            {{> warning label='domain-wrong-address'}}
          </div>
        {{/if}}
      </div>
      <div class="dropdown-buttons">
         <div class="modal-buttons-padder modal-buttons-padder-left">
           <div id="cancel-constituency" class="button login-button button-secondary button-half">
             <div>{{_ 'cancel'}}</div>
           </div>
         </div>
         <div class="modal-buttons-padder modal-buttons-padder-right">
           <div id="execute-constituency" class="button login-button button-half {{buttonDisable}}">
             <div>{{_ 'apply'}}</div>
           </div>
         </div>
      </div>
     </div>
   {{/if}}
</template>
