<template name="constituency">
  {{#if currentUser}}
    <div class="login-field">
      <label for="name" class="login-label login-label-form">
        {{_ 'nationality'}}
      </label>
      <img src="{{pathFor route='home'}}images/flag.png" class="login-icon">
      <input type="text" placeholder="{{_ 'earth'}}" autocomplete="false" value="{{country}}" class="w-input login-input country-search">
      {{#if showNations}}
        {{> suggest}}
      {{/if}}
    </div>
    <div class="login-field">
      <label for="name" class="login-label login-label-form">
        {{_ 'token'}}
      </label>
      <img src="{{pathFor route='home'}}images/token.png" class="login-icon">
      <input type="text" placeholder="{{_ 'bitcoin'}}" autocomplete="false" value="{{country}}" class="w-input login-input country-search">
      {{#if showNations}}
        {{> suggest}}
      {{/if}}
    </div>
    <div class="login-field">
      <label for="name" class="login-label login-label-form">
        {{_ 'domain'}}
      </label>
      <img src="{{pathFor route='home'}}images/domain.png" class="login-icon">
       <input type="text" id="editUserName" placeholder="domainname.com" autocomplete="false" class="w-input login-input">
    </div>
    <!--{{> demographic}}-->
    <div class="modal-buttons">
      <div class="modal-buttons-padder">
        <div id="cancel" class="button login-button button-secondary button-half">
          <div>{{cancel}}</div>
        </div>
      </div>
      <div class="modal-buttons-padder">
        <div id="execute" class="button login-button button-half">
          <div>{{action}}</div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
