<template name="card">
  <div class="login">
      {{> avatar profile=this includeName=true includeNation=true editable=false disabled=true includeRole=false}}

      {{#with profile}}
        {{> liquid _id=this.balanceId targetId=this.targetId wallet=this.wallet isDelegation=false editable=false hideBar=true balanceMode=true}}
      {{/with}}

      {{#if currentUser}}
        {{#unless myself}}
          <div class="login-label title-label">
            {{_ 'alliance'}}
          </div>
          {{#if Template.subscriptionsReady}}
            {{#with delegationContract}}
              {{> transaction contract=this.contract senderId=this.receiverId receiverId=this.senderId onCard=true compressed=true}}
              {{> transaction contract=this.contract senderId=this.senderId receiverId=this.receiverId onCard=true compressed=true}}
            {{/with}}
            {{#with voteSettings}}
              {{> liquid _id=this.voteId sourceId=this.sourceId contract=contract targetId=this.targetId wallet=this.wallet editable=true}}
            {{/with}}
          {{else}}
            {{> spinner id=spinnerId style=spinnerStyle color='#fff' length=8}}
          {{/if}}
        {{/unless}}
      {{/if}}
  </div>
</template>
