<template name="card">
  <div class="login">

      {{> avatar profile=this includeName=true includeNation=true editable=false disabled=true includeRole=false}}
      {{#if currentUser}}
        {{#unless myself}}
          {{#with voteSettings}}
            {{> liquid _id=this.voteId sourceId=this.sourceId contract=contract targetId=this.targetId wallet=this.wallet editable=true}}
          {{/with}}
        {{else}}
          <!--{{> liquid editable=false}}-->
          <!-- {{> authenticity}} -->
        {{/unless}}
      {{/if}}

  </div>
</template>
