.off-screen {
  opacity:0;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-text-fill-color: #5a0075 !important;
  -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: #eaeaea 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
}


@media (max-width: 767px) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: #442f58 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #442f58 inset;
  }
}

input[type="file"] {
    display: none;
}

.button.button-upload {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}


.split.split-left.split-post-landing {
  padding-top: 0px;
}

@media (max-width: 991px) {

  .split.split-left.split-post-landing {
      margin-top: 70px;
  }

  .split.split-left.split-desktop {
    margin-top:0px;
  }

  .split-post-landing {
    top:auto;
  }
}


.login {
    text-align: center;
}

.popup {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
}

/* override sidebar style with default state while original css has designer-friendly state for development and design */
.navbar {
  left: 0px;
}
.right {
  left: 250px;
}


@media (max-width: 991px) {
  #content, #modalToggle, .modal { /* .title-input {*/
    overflow: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

}

.modal {
  opacity: 0;
}

body {
  overflow-x: hidden;
  position: relative;
}

#titleContent {
  caret-color: black;
}

.rosca {
  display: table;
}

.vote {
  will-change: transform;
}

.checkmark {
  display: inline-block;

  &:after {
    /*Add another block-level blank space*/
    content: "";
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 3px;
    height: 6px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sidebar {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 991px) {
  #content {
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 991px) {
  .content-feed {
    overflow:hidden;
  }
}

textarea, select, input, button, #titleContent { outline: none; }

video {
  border-radius: 5px;
}

body, h4, h1, h2 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.split-anon {
  position:unset;
}

@media (max-width: 767px) {
    .card-title {
      text-decoration: underline;
      text-decoration-color: #eaeaea;
      margin-top: 5px;
  }

  .right {
    left: 0px;
  }
}

.split.split-left.split-landing.split-anon {
  padding-top:0px;
  margin-top: -20px;
}

@media (max-width: 991px) {
  .split.split-left.split-landing.split-anon {
    margin-top: 0px;
  }
}


.hero-secondary {
  background: linear-gradient(0deg, #f2f2f8 95%, #ebe7ef);
  padding: 60px 10px 80px 10px;
  z-index: 1;
  box-shadow: 0px -3px 10px 0px white;
  background-color: #f2f2f8;
  margin-top: 0px;
  text-align: center;
}

.hero-cover {
  z-index: 1;
}

.accounts-dialog .login-button {
  margin: 15px 0px 0px;
  padding: 12px 14px;
  border-radius: 6px;
  background-color: var(--main-menu-color);
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--main-menu-color);
  font-size: 14px;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  border-style: solid;
  border-color: #ff617e;
  background-color: #ff617e;
  color: #fff;
}

.accounts-dialog input[type=text][type], .accounts-dialog input[type=email][type], .accounts-dialog input[type=password][type] {
  width: 100%;
  height: 44px;
  margin-bottom: 0px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #c7b7cc;
  background-color: transparent;
  box-shadow: none;
  color: #5a0075;
  font-size: 16px;
  font-weight: 300;
  border-radius:0px;
  text-align: left;
  -webkit-text-fill-color: #5a0075 !important;
}

.accounts-dialog:focus {
  border-color:#ff617e;
}

.accounts-dialog label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 11px;
  line-height: 22px;
  font-weight: 300;
  text-transform: uppercase;
}

.accounts-centered-dialog {
  display: block;
  overflow: hidden;
  max-width: 400px;
  margin-top: -100px;
  padding: 18px 12px;
  border-color: #f3f3f3 #e0e0e0 #e0e0e0 #f3f3f3;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 5px;
  background-color: #eaeaea;
  box-shadow: 0 6px 20px 4px rgba(0, 0, 0, .13);
  font-size: 16px;
  text-align: center;
}

.toggle-label {
  float: left;
  text-transform: none;
  font-size: 14px;
}

.toggle-button {
  width: 26px;
  height: 26px;
  margin: 2px;
  border-radius: 100px;
  background-color: #fff;
  transition: all 200ms ease;
}

.toggle-button.toggle-button-active {
  margin-left: 32px;
}

.toggle-setting {
  clear: both;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  margin: -5px 0px 0px;
  padding: 10px 10px;
  background: #e4e4e4;
}

.toggle {
  width: 60px;
  height: 30px;
  float: right;
  border-radius: 100px;
  background-color: #ccc;
  cursor: pointer;
}

.toggles {
  margin-bottom:10px;
  line-height:27px;
}

 .login-advanced {
   margin-bottom:20px;
 }

 .login-advanced-link {
  border: solid #ff617e;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 2px;
 }

 .login-advanced-link.login-advanced-link-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: -2px;
  z-index:-1;
 }

 .login-advanced-link.login-advanced-link-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index:-1;
 }

.help-tooltip {
  position:absolute;
  font-size:11px;
  color:#a57213;
  background-color:#feda96;
  line-height:16px;
  max-width:200px;
  text-align:left;
  padding:7px;
  border-radius:3px;
  z-index:1;
  box-shadow:4px 4px 15px #0000003d;
}

.hero-cta-input {
-webkit-appearance: none;
}

.poll {
  display: inline-block;
  width: 100%;
}

.poll-choice {
  padding: 5px;
  display: inline-block;
  width: 50%;
}

@media (max-width: 767px) {

  .poll-choice {
    padding: 5px;
    clear:both;
    /* display: inline-block; */
    width: 100%;
  }

}

.choice {
    width: 100%;
    /* box-shadow: 0px 3px 6px 0px #88888826; */
    float: left;
    line-height: 32px;
    /* margin-bottom: -17px; */
    margin: 0px;
    text-transform: none;
    color: #000;
    background: #ffffff;
    text-align: left;
    font-size: 12px;
    /* padding: 7px; */
    /* text-transform: none; */
    border-radius: 5px;
    border: 1px solid #ede9f3;
    border-top: 1px solid #f1edf7;
    border-left: 1px solid #f1edf7;
    padding: 5px 10px 9px;
    transition: all 200ms ease;
}

.choice:hover {
    background: #fcf9ff;
    /* border: 1px solid #5d0077; */
    margin: -2px 0px 2px 0px;
    box-shadow: 0px 3px 6px 0px #88888847;
    border: 1px solid #f8f3ff;
    border-top: 1px solid #faf8fd;
    border-left: 1px solid #faf8fd;
}

.choice:active {
    background: #fcf9ff;
    /* border: 1px solid #5d0077; */
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px #88888847;
    border: 1px solid #ede9f3;
    border-top: 1px solid #f1edf7;
    border-left: 1px solid #f1edf7;

}

.poll-score-bar {
    background: #fff;
    margin: 8px 0px 0px;
    height: 16px;
    float: left;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.poll-score-bar-fill {
  width: 0%;
  height: 20px;
  background: #00c190;
  transition: all 200ms ease;
}

.section-poll {
  margin:0px;
}

.micro-button.micro-button-feed.no-underline.micro-button-poll {
  float: right;
  margin: 1px -3px;
  padding: 0px;
  height: 25px;
}

.post-footer {
  margin: 0px -5px;
}

.login-label-subtitle {
  margin-bottom: 15px;
}

.toggle-disabled {
  opacity: 0.3;
  cursor: default;
}

.checkbox-mini {
width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 7px;
    margin-left: 2px;
    padding: 2px;
    float: left;
    border: 1px solid #ebe4f3;
    border-radius: 25px;
    background-color: #fff;
}

.check-mini-selected-box {
  background: #00c190;
  border: 1px solid #00c190;
}

.check-mini-unselected-box {
  background: #fff;
}


.checkmark_kick.check-mini-selected-mark,
.checkmark_stem.check-mini-selected-mark,
.checkmark_kick.check-mini-unselected-mark,
.checkmark_stem.check-mini-unselected-mark {
  background: #fff;
}


.checkmark_kick {
    width: 1px;
    height: 5px;
    background-color: #00c190;
    transform: rotate(129deg);
    margin-top: 7px;
    margin-bottom: 0px;
    margin-left: 3px;
}

.checkmark_stem {
width: 1px;
    height: 11px;
    background-color: #00c190;
    transform: rotate(34deg);
    margin: auto;
    margin-top: -11px;
    margin-left: 8px;
}

.poll-score-percentage {
    color: #fff;
    float: right;
    position: absolute;
    font-size: 9px;
    margin: 0px 7px;
}

.poll-score-percentage.poll-score-small {
  color:#5a5a5a;
}

.checkbox-mini.check-mini-selected-box:hover {
  margin:5px 7px 1px 2px;
  border: 1px solid #00c190;
  box-shadow: 0px 1px 5px #00000040;
}

.token-ticker {
  min-width: 35px;
  padding: 3px 3px 3px 5px;
  float: left;
  font-size: 0.65em;
  line-height: 11px;
  font-weight: 400;
  text-align: center;
  color: var(--main-link-color);
}

.token-balance {
  min-width: 20px;
  padding: 3px 5px;
  float: left;
  color: var(--main-link-color);
  font-size: 1em;
  border-left: 0px;
  line-height: 11px;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
}

.token-ticker:hover {
  text-decoration:underline;
  color: var(--main-menu-color);
}


.checkbox-mini.checkbox-mini-remove {
    background-color: #ff617e;
    position: absolute;
    border-color: #ff617e;
    opacity:0;
}

.checkmark_kick.checkmark-kick-remove {
width: 1px;
    height: 10px;
    background-color: #fff;
    transform: rotate(135deg);
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 6px;
}

.checkmark_stem.checkmark-stem-remove {
    width: 1px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    margin: auto;
    margin-top: -10px;
    margin-left: 6px;
}

.checkbox-mini.checkbox-mini-remove:hover {
  opacity:1;
}

.vote.vote-search.vote-feed.nondraggable.vote-poll:active {
    margin-top: -4px;
    margin-bottom: 25px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    color: #0d0d17;
}

.stage.stage-vote.stage-loosing {
    border-color: #e6e6e6;
    padding: 0px;
    background-color: transparent;
    background-color: #e6e6e6;
    width: 0px;
    height: 0px;
    min-width: 0px;
    overflow: hidden;
}

.button.login-button.button-half.button-half-disabled {
  opacity:0.2;
}

.election-rule {
    background: transparent;
    color: var(--main-link-color);
    font-size: 0.7em;
    display: inline-block;
    padding: 0px;
    border-radius: 0px;
    line-height: 27px;
    margin: 15px 5px 0px 0px;
    cursor: default;
}

@media (max-width: 991px) {
  .election-rule {
    margin-bottom: 10px;
  }
}



.budget {
  margin-top:15px;
}

.token-wrap-next {
  margin-top:20px;
}

.poll-score {
  margin-bottom: 60px;
}

.poll-score-button {
  margin-bottom: 0px;
}

.editor-button {
  font-size: 11px;
  line-height: 27px;
}

.switch-button { 
    color: #5a0075;
    float: left;
    font-size: 11px;
    margin: 3px;
    border: 1px solid #5a0075;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.switch-button.switch-button-selected,
.switch-button.switch-button-selected:hover {
  background-color: #5a0075;
  color: white;
}

.switch-button.switch-button-disabled,
.switch-button.switch-button-disabled:hover {
  background-color:transparent;
  color: grey;
  border-color:grey;
  cursor:default;
}


.switch-button:hover {
  background-color:#5a00750f;
}

.switcher {
    margin: -5px -3px 10px;
    clear: both;
    display: inline-block;
}

.toggles.toggles-untitled {
  margin: 5px 0px 5px;
}

.blockchain-time {
  background: #e4e4e4;
  text-transform: none;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 10px;
  border-radius: 5px;
  margin: -5px 0px;
}

.editor-menu {
  margin: 0px -16px 10px;
  background: #ffffff;
  display: inline-block;
  padding: 5px 5px;
  box-shadow: 0px 1px 0px 0px #d4d4d459;
  border-radius: 0px;
  width: 110%;
}

.countdown {
    clear: both;
    margin: 5px 0px 5px;
}

.countdown-label {
  font-size: 11px;
  color: #7d849f;
  text-align:left;
  display:inline-block;
}

.countdown-votes {
  float: right;
}

.countdown-timer {
  height: 1px;
  background: #01c190;
}

.countdown-timer.countdown-timer-alert {
  background: #feda96;  
}

.countdown-timer.countdown-timer-final {
  background: #ff617e;
}

.help {
  display: inline-block;
  margin-top: 8px;
  margin-left: 2px;
  /* padding-right: 5px; */
  /* padding-left: 5px; */
  padding: 0px 3px;
  float: right;
  border: 0px;
  border-radius: 100px;
  background-color: #ff617e;
  color: #fff;
  font-size: 0.79em;
  line-height: 10px;
  font-weight: 400;
  cursor: default;
}

.card {
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, .2);
}

.token-wrap.token-wrap-multi {
  margin-bottom:10px;
}

.menu.menu-wallet {
  margin-bottom:-10px;
}

.sidebar-avatar {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.parameter {
  padding: 0px 15px 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 15px 10px 0px;
  color: #5a0075;
  border: 1px solid #f2eff5;
  min-width: 140px;
  background: #f9fafb;
  float: left;
  height: 80px;
  overflow: hidden;
}

.parameter-name {
  color: #7d849f;
  line-height: 28px;
  font-size: 11px;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.smart-contract {
  display: inline-block;
}

.margin-top-minus-three {
    margin-top: -9px;
    line-height: 28px;
}

.parameter-avatar {
  text-align:center;
}

.parameter-token {
  padding-top: 13px;
  margin: 0 auto;
  display: inline-block;
}

.parameter-line {
  clear: left;
}

.verifier.verifier-live.verifier-feed.verifier-mini.verifier-key {
    font-size: 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media (max-width: 1200px) {

  .verifier.verifier-live.verifier-feed.verifier-mini.verifier-key {
    font-size: 9px;
    letter-spacing: 0.1em;
  }

}

@media (max-width: 991px) {
  .verifier.verifier-live.verifier-feed.verifier-mini.verifier-key {
    font-size:8px;
  }
}

.symbol.profile-pic {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid #e8e2ef;
  border-radius: 3px;
  background-color: #e8e2ef;
}

.symbol.dao-pic {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid #e8e2ef;
  border-radius: 50px;
  background-color: #e8e2ef;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  color: var(--main-link-color);
  font-size: 15px;
  line-height: 28px;
  font-weight: 100;
}

@media (max-width: 991px) {
 h4 {
    margin-bottom: 10px;
    font-weight:400;
  }

  .user-logger {
    margin-top: 3px;
    margin-right: 10px;
  }

  .parameter {
    padding: 0px 10px 10px;
  }

  .parameter-name {
    margin: 0px -10px 0px;
  }

  .hero {
    margin-bottom: -25px;
  }
}

.title-description {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poll-score-percentage {
  color: #fff;
  float: right;
  position: absolute;
  font-size: 12px;
  line-height: 36px;
  margin: 0px 7px;
}

.poll-score-bar {
  background: #efefef;
    margin: 8px 0px 0px;
  height: 20px;
  float: left;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.countdown-timer-bar {
  background: #efefef;
}

.countdown-timer-queue {
  background: #6577ff;
}

.countdown-timer-process {
  background: #6577ff;
}

.countdown-timer-grace {
  background: #b25dcc;
}

.countdown-timer-voting {
  background: #ffbe00;
}

.period {
  background: #e4e4e4;
  color: #ffffff;
  padding: 0px 10px;
  font-size: 0.65em;
  margin: 0px;
  text-align: center;
  display: inline-block;
}

@media (max-width: 479px) {
  .period {
    font-size: 0.7em;
  }
}

.period-queue {
  background: #eef1ff;
  color: #6577ff;
  border: 1px solid #6577ff;
}

.period-voting {
  color: #ffbe00;
  border: 1px solid #ffbe00;
  background: #fff8e9;
}

.period-process {
  background: #eef1ff;
  color: #6577ff;
  border: 1px solid #6577ff;
}

.period-grace {
  background: #f6edf9;
  color: #b25dcc;
  border: 1px solid #b25dcc;
}

.period-complete {
  background: #f3f3f3;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
}

.period-passed {
  background: #e0f6f0;
  color: #01c190;
  border: 1px solid #01c190;
}

.period-rejected {
  background: #ffecf0;
  color: #ff3d67;
  border: 1px solid #ff3d67;
}

.period-failed {
  background: #ffecf0;
  color: #ff3d67;
  border: 1px solid #ff3d67;
}

.period-aborted {
  background: #e8e8e8;
  color: #000;
  border: 1px solid #000;
}

.poll-score-bar-fill-negative {
  background: #ff3d67;
}


.topbar {
  z-index: 12800;
}

.topbar,
.navbar {
  background: var(--main-menu-color);
  box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.65);
  border:none;
}

.hero-crypto-login {
  display: inline-block; 
  margin: -9px 3px -10px -15px;
  width: 35px;
}

.qr-code-address {
  max-height: 100px;
  max-width: 100px;
  display: block;
  padding: 10px;
  background-color: #eceef2;
  cursor: pointer;
  border: 1px solid #e0e2e6;
  border-radius: 5px;
}

.qr-code-address:hover {
  border-color: var(--main-link-color);
}

.icon-up2 {
  margin-top:-2px;
}

.qr-code-address-text {
  color: #581073;
  border-radius: 5px;
  font-size: 10px;
  text-align: center;
  margin: 10px 0px -15px;
  border: 1px solid #581073;
}

.qr-code-address-text:hover {
  background-color: #581073;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .sidebar-desktop {
    margin-top: 55px;
  }

  .login {
    padding: 5px 5px 10px;
  }

  .left {
    box-shadow: none;
  }

}

.login-button-only {
  margin: 20px 0px 15px;
}

.election-rule-can-vote {
  color: #00c190;
}

.election-rule-not-member {
  color: #ff3d67;
}

.election-rule-top {
  margin-top: 0px;
}

.transaction-action {
  float: right;
  font-size: 0.5em;
  font-weight: 400;
  padding: 4px 0px;
  color: #7d849f;
  text-transform: uppercase;
  line-height: 12px;
  border-radius: 3px;
  margin-top: -2px;
  margin: 2px 3px 0px 0px;
  cursor: pointer;
}

.transaction-action:hover {
  text-decoration: underline;
}

.transaction-action-ragequit {
  color: #ff9a00;
}

.transaction-action-passed {
  color: #01c190;
}

.transaction-action-rejected {
  color: #ff3d67;
}

.transaction-signal {
  width: 10px;
  height: 10px;
  margin: 0px 2px 1px;
}

.title-ballot {
  margin-top: 0px;
}

.guild-label {
  font-size: 0.7em;
  float: left;
  line-height: 38px;
  clear: both;
}

.guild-label.guild-large-items {
  width: 100%;
  padding: 0px;
  position: relative;
}

.guild-value {
  float:right;
}

.guild-row {
  border-bottom: 1px solid #f1f1f1;
  display: inline-block;
  padding: 0px 7px;
  width: 100%;
  background-color: #f9fafb;
  margin: -5px 0px;
}

.guild-row-total {
  color: white;
  background-color: #00c091;
  border-bottom: none;
  margin-bottom: -6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.guild {
  margin:0px -10px -7px;
}

.guild-icon {
  width: 24px;
  height: 24px;
  float: left;
  margin: 7px 10px 0px 0px;
}

.guild-title {
  float: left;
  clear: right;
  margin-bottom: -14px;
  margin-top: 0px;
}

.guild-detail {
  clear: left;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 5px 0px 0px;
  margin-bottom: 0px;
}

.guild-name {
  float: left;
}

.guild-title-label {
  font-size: 1.2em;
}

.guild-chart {
  width: 100%;
}

.guild-meta {
  float: left;
  line-height: 28px;
}

.guild-row-last {
  border-bottom: 0px;
  margin-bottom: -7px;
  font-weight: 500;
}

.warning.summon {
  background-color: #eee6f0;
  color: #864b99;
  padding: 0px 10px;
  font-size: 0.75em;
  margin: 5px 0px;
  text-align: center;
  display: inline-block;
  border: 1px solid #864b99;
}

.warning.summon.ragequit {
  background-color: #f6e3ec;
  color: #c5538d;
  border: 1px solid #c5538d;
}


.token-total {
  border: 1px solid white;
  color: white;
  background: transparent;
}

.token-ticker.token-total {
  border-right: none;
}

.token-balance.token-total {
  border-left: none;
}

.vote.vote-search.vote-feed.vote-delegation.guild-block {
  border: 5px solid #f9fafb;
}

.mobile-search {
  position: absolute;
  left: 50px;
  right: 85px;
}

.chart {
  width: 100% !important;
  height: 150px !important;
  padding: 0px 0px 0px;
  border-radius: 6px;
  margin: 0px 0px 10px;
}

.verifier.verifier-live.verifier-feed.verifier-mini.verifier-key.verifier-guild {
  font-size:8px;
}

.guild-avatar {
  display: inline-block;
  float:left;
  margin: -3px 10px -15px -10px;
}

.guild-replica {
  padding: 0px 7px;
  display: inline-block;
  margin: -4px 0px 5px;
}

.qr-wrapper {
  padding-right: 12px;
  float: left;
  width: 50%;
}

.replica {
  float: right;
  left: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.replica-detail {
  position: absolute;
  color: #7d849f;
  padding: 0px 0px;
  border-radius: 5px;
  margin: 28px auto 0px;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 3em;
  left: 68px;
}

.replica-label {
  font-size: 4em;
  /* line-height: 100px; */
  color: #580073;
  top: 0px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding: 25% 0;
  right: 0px;
  text-align: center;
}

.replica-squad {
  text-align: center;
  display: block;
  background: #efe7f2;
  border-radius: 5px;
  height: 100%;
}

.parameter-guild {
  float: right;
  right: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 110px;
  overflow:hidden;
}


.replica-bar {
  height: 20px;
  background: #eceef2;
  border-radius: 100px;
  left: 65px;
  display: inline-block;
  position: absolute;
  right: 10px;
  margin: 5px 0px;
  overflow: hidden;
  box-shadow: inset 1px 0px 2px 0px #d4d4d4;
}

.replica-bar-score {
  width: 30%;
  background: #580073;
  height: 20px;
  margin: 0px;
}

.replica-score {
  float: left;
  width: 50px;
  margin: 0px;
  position: absolute;
  left: 10px;
  color: #ffffff;
  font-size: 1.5em;
  height: 50px;
  background: #8d96a9;
  padding: 5px 0px;
  border-radius: 100px;
  font-weight: 300;
}

.replica-semaphore-very {
  background-color: #00c190;
}
.replica-semaphore-likely {
  background-color: #00c190;
}
.replica-semaphore-maybe {
  background-color: #feda96;
}
.replica-semaphore-unlikely {
  background-color: #ff3d67;
}
.replica-semaphore-not {
  background-color: #ff3d67;
}
.replica-semaphore-unknown {
  background-color: none;
}

.dao {
  float:right;
}

.date-info {
  display: block;
  float: right;
}

.sync-animation {
  margin: 20px 0px;
  max-width: 350px;
}

.spinner-loader {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .sync-animation {
    max-width: 250px;
  }
}

.sync-status-bar {
  max-width: 500px;
  width: 90%;
  clear: both;
  margin: 20px auto;
  height: 30px;
}

.sync-status-message {
  max-width: 500px;
  width:90%;
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 1.6em;
  color: #5d5d5d;
}

.poll-survey {
  display: block;
  margin: 5px -5px -5px;
  padding: 0px;
}

.poll-score-bar.poll-sync {
  border: 1px solid #580173;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.alert-signal {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
  padding: 10px 15px;
  line-height: 22px;
  float: right;
  margin: 10px 10px 0px;
  background-color: #fde776;
  color: #7b6909;
  overflow: hidden;
  font-size: 13px;
  box-shadow: 0px 3px 9px #00000030;
  border: 1px solid #e4d37b;
  border-radius: 5px;
  clear: both;
}

.alert-wrapper {
  z-index: 9998;
}

.alert-signal-mobile {
  margin: 0 20px 10px;
  float: none;
}

.alert-wrapper-mobile {
  position: fixed;
  z-index: 100000;
  bottom: 10px;
  width:100%;
}

.verifier.verifier-live.verifier-feed.verifier-mini.verifier-pending {
  color: #ffbe00;
  background: #fff8e9;
  padding: 0px 5px;
  margin: 5px 0px 0px;
  border-radius: 5px;
  border: 1px solid #ffbe00;
}

.tab-menu {
  background: #e3e6ef;
  position: sticky;
  top: -6010px;
  padding: 6010px 10px 0px;
  border-bottom: 1px solid #daddef;
  z-index: 9999;
  margin: -6000px 0px 10px 0px;
  box-shadow: 0px -6px 10px 0px black;
  text-align:center;
}

.tab-menu.tab-menu-scroll {
  top: -5952px;
}

.tab-button {
  margin: 0px 10px 0px 0px;
  padding: 12px 20px 12px;
  display: inline-block;
  width: 40%;
}

.tab-button-selected {
  border-bottom: 2px solid #580073;
}

.ledger-title.ledger-title-empty {
  height: 5px;
}

.signout {
  width: 20px;
  height: 20px;
}

.hero-menu-link.hero-menu-link-signin-simple.hero-menu-link-signin-simple-icon {
  opacity: 0.8;
}

.hero-menu-link.hero-menu-link-signin-simple.hero-menu-link-signin-simple-icon:hover {
  opacity: 1;
}

.hero-menu-link.hero-menu-link-signin-simple.hero-menu-link-signin-simple-icon.mobile {
  margin: 16px 5px 15px 0px;
  padding: 0px;
  opacity: 1;  
}

.hero-menu-link.hero-menu-link-signin-simple.hero-menu-link-signin-simple-icon.mobile:active {
  padding: 1px 0px 0px 0px;
};
