<template name="compose">
  {{#if currentUser}}
    {{#if proposalDrafting}}
      {{#if enabled}}
        <div id="action" class="cast {{displayCancel}}" ontouchstart="">
          <div class="action-label">
            <div>{{_ 'propose'}}</div>
          </div>
          <img id="action-hotspace" class="action-icon" src="{{pathFor route='home'}}{{icon}}">
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="comment">
  <div class="micro-menu">
        <a href="{{verifiedEmailOnly}}" id="add-comment" class="micro-button micro-button-feed micro-button-comment" ontouchstart="">
          <span class="micro-label">{{label}}</span>
        </a>
      </div>
</template>
