<template name="authentication">
  <div class="w-clearfix authentication">
    {{#if postButton}}
      {{#if context}}
        <div id='navbar-post-button' class='navbar-button navbar-button-active navbar-button-action {{postDisabled}}' ontouchstart=''>
          <img src="{{pathFor route='home'}}images/{{iconDisabled}}" class="icon float-left">
          <div class='navbar-button-action-label'>
            {{_ 'post'}}
          </div>
        </div>
      {{else}}
        {{> userInfo toggle=toggle}}
      {{/if}}
    {{else}}
      {{> userInfo toggle=toggle}}
    {{/if}}
  </div>
</template>

<template name="userInfo">
  {{#if currentUser}}
    <div id='loggedUser' class="user-logger {{toggle}}">
      {{> avatar includeName=false size=40 displayPopup=false}}
    </div>
  {{else}}
    <div id='loggedUser' class="navbar-button {{toggle}}">
      <img src="{{pathFor route='home'}}images/anonymous-white.png" class="symbol profile-pic profile-pic-navbar">
    </div>
  {{/if}}
</template>
