<template name="authentication">
  <div class="w-clearfix authentication">
    {{#if postButton}}
      {{#if context}}
        <div id='navbar-post-button' class='navbar-button navbar-button-active navbar-button-action {{postDisabled}}' ontouchstart=''>
          <img src="{{pathFor route='home'}}images/{{iconDisabled}}" class="icon float-left">
          <div class='navbar-button-action-label'>
            {{_ 'post'}}
          </div>
        </div>
      {{else}}
        {{> userInfo toggle=toggle}}
      {{/if}}
    {{else}}
      {{> userInfo toggle=toggle}}
    {{/if}}
  </div>
  {{#if currentUser}}
    <div id="mobile-logout" class="hero-menu-link hero-menu-link-signin-simple hero-menu-link-signin-simple-icon mobile" target="_blank">
      <img src="{{getImage 'signout'}}" title="{{_ 'sign-out'}}" class="signout">
    </div>
  {{/if}}
</template>

<template name="userInfo">
  {{#if currentUser}}
    <div id='loggedUser' class="user-logger {{toggle}}">
      {{> avatar includeName=false size=30 displayPopup=false}}
    </div>
  {{else}}
    <div id="loggedUser" class="hero-button hero-button-mobile hero-signin">
      <div class="hero-menu-link hero-menu-link-signin {{loginMode}}" target="_blank">{{_ 'sign-in'}}</div>
    </div>
  {{/if}}
</template>
