<template name="authentication">
  <div class="w-clearfix authentication">
    {{#if postButton}}
      <div id='navbar-post-button' class='navbar-button navbar-button-active navbar-button-action {{postDisabled}}' ontouchstart=''>
        <div class='navbar-button-action-label'>
          {{_ 'post-as'}}
        </div>
        {{#if currentUser}}
          <div id='loggedUser' class="user-logger avatar-wrapper {{toggle}}">
            {{> avatar includeName=false size=32 displayPopup=false}}
          </div>
        {{else}}
          <div id='loggedUser' class="{{toggle}}">
            <img src="{{pathFor route='home'}}images/anonymous-white.png" class="symbol profile-pic profile-pic-navbar">
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if currentUser}}
        <div id='loggedUser' class="user-logger {{toggle}}">
          {{> avatar includeName=false size=40 displayPopup=false}}
        </div>
      {{else}}
        <div id='loggedUser' class="navbar-button {{toggle}}">
          <img src="{{pathFor route='home'}}images/anonymous-white.png" class="symbol profile-pic profile-pic-navbar">
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>
