<template name="alternative">

  <div class="extra">

    <div class="w-clearfix search-custom {{searchInput}}">
      <img src="{{pathFor route='home'}}images/search.png" class="search-icon">
      <div id="searchInput" class="search-input" contenteditable="true">
        {{_ 'search-input'}}
      </div>
    </div>

    <ul id="proposalSuggestions" class="w-list-unstyled w-clearfix selector selector-proposals connectedBallot">
      {{#each getProposals}}
          {{> feedItem}}
      {{/each}}

      <!-- Remove Proposal -->
      <li id="removeBallotOption" class="selector-modal selector-proposals-modal nondraggable" style='{{removeProposal}}'>
        <div class="selector-warning selector-warning-large"><img src="{{pathFor route='home'}}images/trash.png" class="icon-trash icon-trash-large">
          <div>{{_ 'remove-option'}}</div>
        </div>
      </li>

      <!-- Create Proposal -->
      <li class="selector-modal selector-proposals-modal nondraggable" style='{{createProposal}}'>
        <div class="selector-create selector-create-modal">
            <div class="selector-modal-label">{{{_ 'no-match-proposal'}}}</div>
            <div class="vote vote-search vote-feed">
              <div class="checkbox checkbox-custom">
                {{> stage text='DRAFT'}}
                <a href="#" class="w-inline-block w-clearfix option-proposal">
                  <div class="option-title option-link option-search">
                    {{{newProposal}}}
                  </div>
                </a>
                <div class="meta">
                  <div class="data">
                    <img src="{{pathFor route='home'}}images/globe.png" class="url-icon">
                    <div class="verifier verifier-live">
                      <a data-new-link="true" href="#">{{{newProposalURL}}}</a>
                        <div data-new-link='true' class='state {{verifierMode}}'>{{{URLStatus}}}</div>
                    </div>
                  </div>
                  <div class="data"><img src="{{pathFor route='home'}}images/time.png" class="url-icon">
                    <div class="verifier verifier-live">
                      <a href="#">{{{newProposalTimestamp}}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block block-list">
                <div class="micro-menu">
                  <div class="micro">
                    <a id="addNewProposal" class="micro-button micro-button-addballot {{addBallot}} w-clearfix w-inline-block" href="#">
                      <img class="micro-icon" src="{{pathFor route='home'}}images/micro-add.png">
                      <div class="micro-label">{{_ 'add-to-ballot'}}</div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </li>
    </ul>
    <div class="shadow-fake"></div>

  </div>

</template>
