<template name="coin">
  {{#if currentUser}}
    <div class="login">
      <div class="login-field">
        <label for="name" class="login-label login-label-form">
          {{_ 'token-balance'}}
        </label>
        <img src="{{pathFor route='home'}}images/token.png" class="login-icon">
        <input type="text" placeholder="{{_ 'bitcoin'}}" autocomplete="false" value="{{token}}" class="w-input login-input token-search">
        {{#if showTokens}}
          {{> suggest tokenList=true}}
        {{/if}}
      </div>
     </div>
   {{/if}}
</template>
