<template name="coin">
  {{#if currentUser}}
    <div class="login">
      <div class="login-field">
        <label for="name" class="login-label login-label-form">
          {{_ 'voting-token'}}
        </label>
        <img src="{{pathFor route='home'}}images/token.png" class="login-icon">
        <input type="text" placeholder="{{_ 'ethereum'}}" autocomplete="false" value="{{token}}" class="w-input login-input token-search">
        {{#if showTokens}}
          {{> suggest tokenList=true}}
        {{/if}}
      </div>
      <div class="login-field">
        <label for="name" class="login-label login-label-form">
          {{_ 'blockchain-address'}}
        </label>
        <img src="{{pathFor route='home'}}images/blockchain-address.png" class="login-icon">
        <input type="text" id="editDomain" placeholder="{{_ 'blockchain-address-placeholder'}}" autocomplete="false" class="w-input login-input login-input-domain">
      </div>
      <div class="login-field login-field-last">
        <label for="name" class="login-label login-label-form">
          {{_ 'cost-per-vote'}}
        </label>
        <img src="{{pathFor route='home'}}images/token-fee.png" class="login-icon">
        <input type="text" id="editDomain" placeholder="{{_ 'cost-placeholder'}}" autocomplete="false" class="w-input login-input login-input-domain">
      </div>
      <div class="extra">
         <div class="modal-buttons-padder">
           <div id="cancel-coin" class="button login-button button-secondary button-half">
             <div>{{_ 'cancel'}}</div>
           </div>
         </div>
         <div class="modal-buttons-padder">
           <div id="execute-coin" class="button login-button button-half">
             <div>{{_ 'apply'}}</div>
           </div>
         </div>
       </div>
     </div>
   {{/if}}
</template>
