<template name="contract">

  <div class="content">

    {{#if isDelegation}}

      <div class="contract">
        <div class="paper">
          {{> title editorMode=false}}
          {{> agreement editorMode=false dynamicMode=true}}
          {{> conditions}}
          {{> semantics editorMode=true}}
          {{> signatures delegationMode=true editorMode=false}}
          {{> democracy}}
        </div>
      </div>

    {{else}}

      {{#if editorMode}}

        <!-- Editable -->
        <div class="contract">
          <div class="paper">
            {{> title editorMode=true}}
            {{> agreement editorMode=true}}
            {{> semantics editorMode=true}}
            {{> signatures authorMode=true editorMode=true}}
          </div>
          <div class="paper">
            {{> ballot editorMode=true}}
          </div>
          <div class="paper paper-execute">
            {{> action label='launch-vote' enabled=true}}
          </div>
        </div>

      {{else}}

        <div class="split">
          <!-- Votable -->
          <div class="contract">
            <div class="paper">
              {{> title editorMode=false}}
              {{> agreement editorMode=false}}
              {{> semantics editorMode=false}}
              {{> signatures authorMode=true editorMode=false}}
            </div>
            <div class="paper">
              {{> ballot editorMode=false}}
            </div>
          </div>
        </div>

        <div class="split split-right">
          {{> agora}}
        </div>

      {{/if}}

    {{/if}}

  </div>

</template>

<template name="democracy">
  <div class="execution">
    <div class="block">
      {{> power editable=true}}
      <div class="elements w-clearfix">
        <div class="hundred power">
          {{> action label='place-votes' enabled=true}}
        </div>
      </div>
    </div>
  </div>
</template>
