<template name="landing">
  {{> team}}
  {{> press}}
  {{> paper}}
  {{> partners}}
  {{> clients}}
  {{> social}}
</template>

<template name="paper">
  <div class="hero hero-quarter">
    <div class="landing-center">
      <div class="landing-sub-header">
        <h1 class="landing-sub">{{_ 'white-paper'}}</h1>
        <div class="landing-sub-content">
          {{{_ 'white-paper-detail'}}}
        </div>  
      </div>
      <div class="landing-item">
        <img class='paper-screenshot' src='/images/social-smart-contract.png'>
      </div>
      <div class="landing-item">
        <img class='paper-screenshot' src='/images/token-economics.png'>
      </div>
    </div>
    <div class="landing-button-menu">
      <div class="button login-button button-landing not-mobile">
          <img class="button-landing-icon" src="/images/pdf.png">
          {{_ 'white-paper-pdf'}}
      </div>
      <div class="button login-button button-landing button-landing-secondary not-mobile">
          <img class="button-landing-icon" src="/images/pdf-secondary.png">
          {{_ 'token-economics-pdf'}}
      </div>
    </div>
  </div>
</template>

<template name="team">
  <div class="hero hero-secondary">
    <div class="landing-center">
      <h1 class='landing-sub landing-sub-big'>{{_ 'community-title'}}</h1>
      <div class="landing-map-menu">
        <img class='paper-screenshot paper-video' src='/images/landing-community.png'>
      </div>
      <div class="landing-sub-header">
        <div class="landing-sub-content">
          {{{_ 'community-detail'}}}
        </div>  
      </div>
    </div>
    <div class="landing-button-menu">
      <div class="button login-button button-landing not-mobile">
        <img class="button-landing-icon" src="/images/proof-of-human.png">
        {{_ 'community-join'}}
      </div>
      <div class="button login-button button-landing button-landing-secondary not-mobile">
        <img class="button-landing-icon" src="/images/embassy-secondary.png">
        {{_ 'community-embassy'}}
      </div>
    </div>  
  </div>
</template>


<template name="clients">
  <div class="hero hero-quarter hero-quarter-last">
    <div class="landing-center">
      <h1 class='landing-sub landing-sub-big'>{{_ 'our-clients'}}</h1>
      <div class="landing-sub-header landing-sub-half">
        <div class="landing-sub-content landing-quote">
          {{{_ 'client-quote-first'}}}
        </div> 
        <div class="landing-arrow-down"></div>
        <img src="/images/muneeb.jpg" class="symbol profile-pic profile-landing" ontouchstart="">
        <div class="landing-quote-source">
          Muneeb Ali
          <br>
          CEO of <a href="https://blockstack.org" target="_blank">Blockstack</a>.
        </div>
      </div>
      <div class="landing-sub-header landing-sub-half">
        <div class="landing-sub-content landing-quote">
          {{{_ 'client-quote-second'}}}
        </div>
        <div class="landing-arrow-down"></div>
        <img src="/images/tibi.jpg" class="symbol profile-pic profile-landing" ontouchstart="">  
        <div class="landing-quote-source">
          Esteban Ordano
          <br>
          CTO of <a href="https://decentraland.org">Decentraland</a>.
        </div>
      </div>
      <div class="landing-button-menu">
        <div class="button login-button button-landing not-mobile">
          <img class="button-landing-icon" src="/images/node.png">
          {{_ 'setup-node'}}
        </div>
        <div class="button login-button button-landing button-landing-secondary not-mobile">
          <img class="button-landing-icon" src="/images/source-code-secondary.png">
          {{_ 'source-code'}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="press">  
  <div class="hero hero-tertiary">    
    <div class="landing-center">
      <div class="landing-item">
        <img class='landing-logo' src='/images/landing-logo-wired.png'>
      </div>
      <div class="landing-item">
        <img class='landing-logo' src='/images/landing-logo-mit.png'>
      </div>  
      <div class="landing-item">
        <img class='landing-logo' src='/images/landing-logo-atlantic.png'>
      </div>
      <div class="landing-item">
        <img class='landing-logo' src='/images/landing-logo-coindesk.png'>
      </div>
      <div class="landing-item">
        <img class='landing-logo' src='/images/landing-logo-bbc.png'>
      </div>        
    </div>
  </div>
</template>

<template name="partners">  
    <div class="hero hero-tertiary">    
      <div class="landing-center">
        <div class="landing-item">
          <img class='landing-logo' src='/images/landing-logo-yc.png'>
        </div>
        <div class="landing-item">
          <img class='landing-logo' src='/images/landing-logo-ted.png'>
        </div>        
        <div class="landing-item">
          <img class='landing-logo' src='/images/landing-logo-singularity.png'>
        </div>
        <div class="landing-item">
          <img class='landing-logo' src='/images/landing-logo-wef.png'>
        </div>
        <div class="landing-item">
          <img class='landing-logo' src='/images/landing-logo-oecd.png'>
        </div>
      </div>
    </div>
  </template>

<template name="social">
  <div class="hero hero-fifth">
      <div class="landing-center landing-footer">
        <ul class="landing-list">
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="#">{{_ 'blog'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="#">{{_ 'white-paper'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="#">{{_ 'token-economics'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="#">{{_ 'investor-deck'}}</a>
          </li>
        </ul>
        <ul class="landing-list">
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="#">{{_ 'source-code'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="#">{{_ 'testnet'}}</a>
          </li>            
        </ul>
      </div>
  </div>
</template>