<template name="landing">
  {{> team}}
  {{> press}}
  {{> model}}
  {{> paper}}
  {{> partners}}
  {{> clients}}
  {{> social}}
</template>


<template name="model">
  <div class="hero hero-quarter hero-quarter-last">
    <div class="landing-center">
      <h1 class='landing-sub landing-sub-big'>{{{_ 'token-title'}}}</h1>
      <div class="landing-company-list">
        {{{_ 'token-model'}}}
      </div>
    </div>
    <div class="landing-scheme">
      <div class="landing-coin">
        <img src="/images/token-identity.png">
      </div>
      <div class="landing-coin-connect">
        <div class="landing-scheme-arrow">
            <div class="landing-coin-connect-label">
              {{{_ 'token-step-a'}}}
            </div>
            <div class="landing-coin-connect-value">
                {{{_ 'token-detail-a'}}}
            </div>
            <div class="landing-scheme-arrow-right"></div>
        </div>
      </div>
      <div class="landing-coin">
        <img src="/images/token-hour.png">
      </div>
      <div class="landing-coin-connect">
          <div class="landing-scheme-arrow">
              <div class="landing-coin-connect-label">
                {{{_ 'token-step-b'}}}
              </div>
              <div class="landing-coin-connect-value">
                {{{_ 'token-detail-b'}}}
              </div>
              <div class="landing-scheme-arrow-right"></div>
          </div>
      </div>
      <div class="landing-coin">
        <img src="/images/token-vote.png">
      </div>
    </div>
  </div>
</template>

<template name="paper">
  <div class="hero hero-quarter">
    <div class="landing-center">
      <h1 class='landing-sub landing-sub-big'>{{{_ 'white-paper'}}}</h1>
      <div class="landing-sub-header">
        <div class="landing-sub-content">
          {{{_ 'white-paper-detail'}}}
        </div>  
      </div>
      <div class="landing-item">
        <a class="landing-link-clean" href="http://paper.democracy.earth" target="_blank">
          <img class='paper-screenshot' src='/images/social-smart-contract.png'>
        </a>
      </div>
      <div class="landing-item">
        <a class="landing-link-clean" href="http://economics.democracy.earth" target="_blank"> 
          <img class='paper-screenshot' src='/images/token-economics.png'>
        </a>
      </div>
    </div>
    <div class="landing-button-menu">
      <a class="landing-link-clean" href="http://paper.democracy.earth" target="_blank"> 
        <div class="button login-button button-landing not-mobile">
          <img class="button-landing-icon" src="/images/pdf.png">
          {{_ 'white-paper-pdf'}}
        </div>
      </a>
      <a class="landing-link-clean" href="http://economics.democracy.earth" target="_blank"> 
        <div class="button login-button button-landing button-landing-secondary not-mobile">
          <img class="button-landing-icon" src="/images/pdf-secondary.png">
          {{_ 'token-economics-pdf'}}
        </div>
      </a>
    </div>
  </div>
</template>

<template name="team">
  <div id="video-modal" class="w-clearfix modal" style="{{modalVideo}}">
  </div>
  <div class="landing-video" style="{{showVideo}}">
    <video id="democracy-video" width="100%" height="auto" controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowFullScreen autoplay>
      <source src="https://s3-us-west-2.amazonaws.com/democracyearth/landing/Liquid+Democracy+with+Santiago+Siri.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="hero hero-secondary">
    <div class="landing-center">
      <h1 class='landing-sub landing-sub-big'>{{{_ 'community-title'}}}</h1>
      <div class="landing-map-menu">
        <img id="hello-video" class='paper-screenshot paper-video' src='/images/landing-community.png'>
      </div>
      <div class="landing-sub-header">
        <div class="landing-sub-content">
          {{{_ 'community-detail'}}}
        </div>  
      </div>
    </div>
    <div class="landing-button-menu">
      <div id="community-join" class="button login-button button-landing not-mobile">
        <img class="button-landing-icon" src="/images/proof-of-human.png">
        {{_ 'community-join'}}
      </div>
      <a class="landing-link-clean" href="http://ambassadors.democracy.earth" target="_blank">
        <div class="button login-button button-landing button-landing-secondary not-mobile">
          <img class="button-landing-icon" src="/images/embassy-secondary.png">
          {{_ 'community-embassy'}}
        </div>
      </a>
    </div>  
  </div>
</template>


<template name="clients">
  <div class="hero hero-quarter hero-quarter-last">
    <div class="landing-center">
      <h1 class='landing-sub landing-sub-big'>{{{_ 'our-clients'}}}</h1>
      <div class="landing-company-list">
        {{{_ 'landing-companies'}}}
      </div>
      <div class="landing-sub-header landing-sub-dapp">
        <a class="landing-link-clean" href="https://vote.blockstack.org" target="_blank">
          <img class="landing-client-square" src="/images/client-blockstack.png">
        </a>
      </div>
      <div class="landing-sub-header landing-sub-half landing-sub-quote">
        <div class="landing-sub-content landing-quote">
          {{{_ 'client-quote-first'}}}
        </div> 
        <div class="landing-arrow-down"></div>
        <img src="/images/muneeb.jpg" class="symbol profile-pic profile-landing" ontouchstart="">
        <div class="landing-quote-source">
          Muneeb Ali
          <br>
          Cofounder of <a href="https://blockstack.org" target="_blank">Blockstack</a>.
        </div>
      </div>
      <div class="landing-sub-header landing-sub-dapp">
        <a class="landing-link-clean" href="https://agora.decentraland.org" target="_blank">
          <img class="landing-client-round" src="/images/client-decentraland.png">
        </a>
      </div>
      <div class="landing-sub-header landing-sub-half landing-sub-quote">
        <div class="landing-sub-content landing-quote">
          {{{_ 'client-quote-second'}}}
        </div>
        <div class="landing-arrow-down"></div>
        <img src="/images/tibi.jpg" class="symbol profile-pic profile-landing" ontouchstart="">  
        <div class="landing-quote-source">
          Esteban Ordano
          <br>
          Cofounder of <a href="https://decentraland.org" target="_blank">Decentraland</a>.
        </div>
      </div>
      <div class="landing-button-menu">
        <a class="landing-link-clean" href="http://setup.democracy.earth" target="_blank">
          <div class="button login-button button-landing not-mobile">
            <img class="button-landing-icon" src="/images/node.png">
            {{_ 'setup-node'}}
          </div>
        </a>
        <a class="landing-link-clean" href="https://github.com/DemocracyEarth/sovereign" target="_blank">
          <div class="button login-button button-landing button-landing-secondary not-mobile">
            <img class="button-landing-icon" src="/images/source-code-secondary.png">
            {{_ 'source-code'}}
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<template name="press">  
  <div class="hero hero-tertiary">    
    <div class="landing-center">
      <div class="landing-item">
        <a class="landing-link-clean" href="https://wired.com/story/santiago-siri-radical-plan-for-blockchain-voting/" target="_blank"> 
          <img class='landing-logo' src='/images/landing-logo-wired.png'>
        </a>
      </div>
      <div class="landing-item">
        <a class="landing-link-clean" href="https://www.technologyreview.es/listas/35-innovadores-con-menos-de-35/2017/visionarios/santiago-siri-argentina" target="_blank"> 
          <img class='landing-logo' src='/images/landing-logo-mit.png'>
        </a>
      </div>  
      <div class="landing-item">
        <a class="landing-link-clean" href="https://www.theatlantic.com/international/archive/2014/07/designing-an-operating-system-for-democracy/374526/" target="_blank"> 
          <img class='landing-logo' src='/images/landing-logo-atlantic.png'>
        </a>
      </div>
      <div class="landing-item">
        <a class="landing-link-clean" href="https://coindesk.com/humans-on-the-blockchain-why-crypto-is-the-best-defense-against-ai-overlords" target="_blank"> 
          <img class='landing-logo' src='/images/landing-logo-coindesk.png'>
        </a>
      </div>
      <div class="landing-item">
        <a class="landing-link-clean" href="https://www.youtube.com/watch?v=7bAOT-57KeE" target="_blank"> 
          <img class='landing-logo' src='/images/landing-logo-bbc.png'>
        </a>
      </div>        
    </div>
  </div>
</template>

<template name="partners">  
    <div class="hero hero-tertiary">    
      <div class="landing-center">
        <div class="landing-item">
          <a class="landing-link-clean" href="https://www.fastcompany.com/3043388/why-y-combinator-funded-a-radical-political-party-in-argentina" target="_blank"> 
            <img class='landing-logo' src='/images/landing-logo-yc.png'>
          </a>
        </div>
        <div class="landing-item">
          <a class="landing-link-clean" href="https://www.ted.com/talks/pia_mancini_how_to_upgrade_democracy_for_the_internet_era" target="_blank"> 
            <img class='landing-logo' src='/images/landing-logo-ted.png'>
          </a>
        </div>        
        <div class="landing-item">
          <a class="landing-link-clean" href="https://www.youtube.com/watch?v=4g_UhyMwxAk" target="_blank"> 
            <img class='landing-logo' src='/images/landing-logo-singularity.png'>
          </a>
        </div>
        <div class="landing-item">
          <a class="landing-link-clean" href="https://youtu.be/AlDRfT0G0LE?t=994" target="_blank"> 
            <img class='landing-logo' src='/images/landing-logo-wef.png'>
          </a>
        </div>
        <div class="landing-item">
          <a class="landing-link-clean" href="https://www.oecd.org/gov/innovative-government/embracing-innovation-in-government-colombia.pdf" target="_blank"> 
            <img class='landing-logo' src='/images/landing-logo-oecd.png'>
          </a>
        </div>
      </div>
    </div>
  </template>

<template name="social">
  <div class="hero hero-fifth">
      <div class="landing-center landing-footer">
        <ul class="landing-list">
          <li class="landing-list-item landing-list-item-title">
            {{_ 'landing-footer-resources'}}
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://words.democracy.earth" target="_blank">{{_ 'landing-footer-blog'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://paper.democracy.earth" target="_blank">{{_ 'landing-footer-white-paper'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://economics.democracy.earth" target="_blank">{{_ 'landing-footer-token-economics'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://investors.democracy.earth" target="_blank">{{_ 'landing-footer-investor-deck'}}</a>
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://press.democracy.earth" target="_blank">{{_ 'landing-footer-press-kit'}}</a>
          </li>
        </ul>
        <ul class="landing-list">
          <li class="landing-list-item landing-list-item-title">
            {{_ 'landing-footer-development'}}
          </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://code.democracy.earth" target="_blank">{{_ 'landing-footer-source-code'}}</a>
          </li>
          <li class="landing-list-item">
              <a class="landing-list-item-link" href="http://doc.democracy.earth" target="_blank">{{_ 'landing-footer-documentation'}}</a>
            </li>
          <li class="landing-list-item">
            <a class="landing-list-item-link" href="http://testnet.democracy.earth" target="_blank">{{_ 'landing-footer-testnet'}}</a>
          </li>            
        </ul>
        <ul class="landing-list landing-closing">
          <div class="landing-list-item landing-list-item-title">
            {{_ 'landing-footer-social-media'}}
          </div>
          <div class="landing-list-social-button">
            <a class="landing-link-clean" href="https://twitter.com/democracyearth" target="_blank">
              <img class="landing-footer-social-icon" src="/images/twitter.png">
            </a>
            <a class="landing-link-clean" href="https://facebook.com/democracyearth" target="_blank">
              <img class="landing-footer-social-icon" src="/images/facebook.png">
            </a>
            <a class="landing-link-clean" href="https://github.com/democracyearth" target="_blank">
              <img class="landing-footer-social-icon" src="/images/github.png">
            </a>
            <a class="landing-link-clean" href="https://medium.com/@democracyearth" target="_blank">
              <img class="landing-footer-social-icon" src="/images/medium.png">
            </a>
          </div>
          <img class="landing-footer-logo" src="/images/democracy-earth-white.png">
        </ul>
      </div>
  </div>
</template>