<template name="search">

  <div class="extra">

    <div class="w-clearfix search-custom {{searchInput}}">
      <img src="{{pathFor route='home'}}images/search.png" class="search-icon">
      <div id="searchInput" class="search-input" contenteditable="true">
        {{_ 'search-input'}}
      </div>
    </div>

    <ul id="proposalSuggestions" class="w-list-unstyled w-clearfix selector selector-proposals connectedBallot">
      {{#each getProposals}}
          {{> feedItem this addBallot=true}}
      {{/each}}

      <!-- Remove Proposal -->
      <li id="removeBallotOption" class="selector-modal selector-proposals-modal nondraggable" style='{{removeProposal}}'>
        <div class="selector-warning selector-warning-large"><img src="{{pathFor route='home'}}images/trash.png" class="icon-trash icon-trash-large">
          <div>{{_ 'remove-option'}}</div>
        </div>
      </li>

      <!-- Create Proposal -->
      <li class="selector-modal selector-proposals-modal nondraggable" style='{{createProposal}}'>
        <div class="selector-create selector-create-modal">
          <div class="selector-modal-label">{{{_ 'no-match-proposal'}}}</div>
          <div class="w-clearfix extra">
            <div class="vote vote-search">
              <div class="w-clearfix checkbox checkbox-custom">
                <a href="#" class="w-inline-block w-clearfix option-proposal">
                  <div class="option-title option-link option-search">
                    {{{newProposal}}}
                  </div>
                </a>
                <div class="meta meta-search">
                  {{{newProposalURL}}}
                  {{{newProposalTimestamp}}}
                </div>
              </div>
              <div id="addNewProposal" class="action action-search {{newProposalStatus}}">
                <div>+</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="shadow-fake"></div>

  </div>

</template>

<template name="proposal">
  <li class="w-clearfix vote vote-search nondraggable">
    <div id="add-suggested-proposal" class="action action-search">
      <div>+</div>
    </div>
    <div class="w-clearfix checkbox checkbox-custom">
      <a href="{{../url}}" class="w-inline-block w-clearfix option-proposal">
        <div class="option-title option-link option-search">
          {{{../title}}}
        </div>
      </a>
      {{{briefDescription ../description}}}
      <div class="meta meta-search">
        {{{proposalURL ../url}}}
        {{{proposalDate ../timestamp}}}
        <!--<div class="data"><img src="{{pathFor route='home'}}images/block.png" class="url-icon">
          <div class="verifier verifier-live">blockchain ID: 1MBM...khTF</div>
        </div>-->
      </div>
    </div>
  </li>
</template>
