<template name="topbar">
  <div class="hero-navbar topbar">
    <div id="nav-home" class="hero-home-button" ontouchstart="">
      <img class="hero-logo" src="{{pathFor route='home'}}{{picture}}" />
      {{#if logoExtended}}
        {{#if isPhone}}
          <img class="hero-logo landing-brand" src="{{pathFor route='home'}}{{logoExtended}}" />
        {{/if}}
      {{/if}}
    </div>
    <div id="collective-login" class="hero-button hero-button-mobile hero-signin">
        <div class="hero-menu-link hero-menu-link-signin {{loginMode}}" target="_blank">{{_ 'sign-in'}}</div>
    </div>
    <div class="hero-menu">
      {{#each navbarItem}}
        {{#if this.selected}}
          <div class="hero-button">
            {{#unless postMode}}
              <a class="hero-menu-link hero-menu-link-selected" href="{{this.url}}">{{_ this.label}}</a>
            {{else}}
              <a class="hero-menu-link" href="{{this.url}}">{{_ this.label}}</a>
            {{/unless}}
          </div>
        {{else}}
          <div class="hero-button">
            <a class="hero-menu-link" href="{{this.url}}" target="_blank">{{_ this.label}}</a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</template>
