<template name="hero">
  <div class="hero">
    {{#unless postMode}}
      {{> navbar}}
      <div class="hero-title">
        <h1>{{{title}}}</h1>
        {{{about}}}
      </div>
    {{else}}
      {{> navbar postMode=postMode}}
    {{/unless}}
  </div>
</template>

<template name="navbar">
  <div class="hero-navbar">
    <a href="{{pathFor route='home'}}">
      <img class="hero-logo" src="{{pathFor route='home'}}{{picture}}" />
    </a>
    <div id="collective-login" class="hero-button hero-button-mobile hero-signin">
        <div class="hero-menu-link hero-menu-link-signin {{loginMode}}" target="_blank">{{_ 'sign-in'}}</div>
    </div>
    <div class="hero-menu">
      <div class="hero-button">
          <a class="hero-menu-link" href="https://market.decentraland.org">{{_ 'marketplace'}}</a>
        </div>
      <div class="hero-button">
        <a class="hero-menu-link" href="https://docs.decentraland.org">{{_ 'docs'}}</a>
      </div>
      <div class="hero-button">
          {{#unless postMode}}
            <a class="hero-menu-link hero-menu-link-selected" href="https://agora.decentraland.org">{{_ 'agora'}}</a>
          {{else}}
            <a class="hero-menu-link" href="https://agora.decentraland.org">{{_ 'agora'}}</a>
          {{/unless}}
      </div>
      <div class="hero-button">
        <a class="hero-menu-link" href="http://blog.decentraland.org">{{_ 'blog'}}</a>
      </div>
    </div>
  </div>
</template>

<template name="demo">
  <!-- NOTE: free style template, this includes a demo as an outside link with demonstration inside iframe-->
  <iframe src="https://token-nqe44fwr0.now.sh/" style="border: 0px; height: 300px; top: 60px;"></iframe>
</template>