<template name="hero">
  <div class="hero hero-cover">
   <!--{{> navbar postMode=postMode}}
    {{#unless postMode}}
      {{> navbar}}
      <div class="hero-title">
        <h1>{{{title}}}</h1>
        {{{about}}}
      </div>
      {{> demo}}
      {{#if callToAction}}
        <div class="hero-call-to-action">
          <div class="hero-cta-box">
            <input id="lead" type="text" placeholder="{{_ 'email'}}" class="hero-cta-input" />
            <div id="join" class="button button-cta">
              {{#if unclicked}}
                {{_ 'join'}}
              {{else}}
                {{> spinner id='modal' style='height:24px; margin-top:12px;' color='#fff' length=12}}
              {{/if}}
            </div>
            <div class="hero-warn">
              {{#if invalidEmail}}
                <div class="extra extra-warning-hero">
                  {{> warning label="invalid-email"}}
                </div>
              {{/if}}
              {{#if userExists}}
                <div class="extra extra-warning-hero">
                  {{> warning label="user-exists"}}
                </div>
              {{/if}}
              {{#if heroEmailUserCreated}}
                <div class="extra extra-warning-hero">
                  {{> warning label="user-created-email"}}
                </div>
              {{/if}}
            </div>
          </div>
          <div class="hero-cta-alternative">
            &#183;
            <a class="hero-link" href="http://setup.democracy.earth" target="_blank">
              {{_ 'start-a-democracy'}}
            </a>
          </div>
        </div>
      {{/if}}
    {{else}}
      {{> navbar postMode=postMode}}
    {{/unless}}-->
  </div>
</template>

<template name="navbar">
  <div class="hero-navbar">
    <div id="nav-home" class="hero-home-button" ontouchstart="">
      <img class="hero-logo" src="{{pathFor route='home'}}{{picture}}" />
      {{#if logoExtended}}
        {{#if isPhone}}
          <img class="hero-logo landing-brand" src="{{pathFor route='home'}}{{logoExtended}}" />
        {{/if}}
      {{/if}}
    </div>
    <div id="collective-login" class="hero-button hero-button-mobile hero-signin">
        <div class="hero-menu-link hero-menu-link-signin {{loginMode}}" target="_blank">{{_ 'sign-in'}}</div>
    </div>
    <div class="hero-menu">
      {{#each navbarItem}}
        {{#if this.selected}}
          <div class="hero-button">
            {{#unless postMode}}
              <a class="hero-menu-link hero-menu-link-selected" href="{{this.url}}">{{_ this.label}}</a>
            {{else}}
              <a class="hero-menu-link" href="{{this.url}}">{{_ this.label}}</a>
            {{/unless}}
          </div>
        {{else}}
          <div class="hero-button">
            <a class="hero-menu-link" href="{{this.url}}" target="_blank">{{_ this.label}}</a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</template>

<template name="demo">
  {{{renderTemplate}}}
</template>