<template name="vote">
<!--  {{#if currentUser}}-->

    {{#if showNotice}}
      {{> notice}}
    {{/if}}

    {{> contract}}

<!--  {{/if}} -->
</template>

<template name="contract">

  <div class="contract">

    <div class="paper">

      <!-- Kind -->
      {{> kind title='draft-proposal' icon='images/ribbon.png' stage='DRAFT'}}

      <!-- Title -->
      {{> title}}

      <!-- Agreement -->
      {{> agreement}}

      <!-- Tags -->
      {{> semantics}}

      <!-- Signatures -->
      {{> signatures authorMode=true}}

    </div>

    <div class="paper">

      <!-- Vote -->
      {{> ballot stage='DRAFT'}}

    </div>

    <div class="paper paper-execute">

      <!-- Execution -->
      {{> action}}

    </div>

  </div>
</template>
