<template name="profile">
  <div class="id id-logged">
    <ul class="w-list-unstyled w-clearfix extra">
      <li class="w-clearfix identity"><img src="images/Screen Shot 2016-01-27 at 12.05.33 AM.png" class="symbol profile-pic">
        <div class="identity-peer">
          <div class="identity-verified"><img src="images/white-tick.png" class="identity-verified-tick">
          </div><a href="#" class="identity-label">Satoshi Nakamoto</a>
          <div class="identity-nation">Earth</div>
        </div>
      </li>
    </ul>
    <div class="w-clearfix rosca rosca-id">
      <div class="w-clearfix result vote-bar">
        <div class="result-bar vote-bar"></div>
        <div class="result-bar vote-bar vote-bar-allocated"></div>
      </div>
      <div class="vote-available label-votes"><strong data-new-link="true">27</strong> <span><a href="#">available votes</a></span>
      </div>
      <div class="vote-allocated label-votes"><strong data-new-link="true">36</strong>&nbsp; <a href="#">Placed votes</a>
      </div>
    </div>
    <ul class="w-list-unstyled w-clearfix extra">
      <li class="w-clearfix tag"><img src="images/handshake-right.png" class="hash-icon">
        <a href="#" class="w-inline-block w-clearfix hash-link">
          <div class="hash-tag">Bitcoin</div>
        </a>
        <div class="tag-bitcoin">
          <div>Ƀ 1.48</div>
        </div>
      </li>
      <li class="w-clearfix tag"><img src="images/handshake-right.png" class="hash-icon">
        <a href="#" class="w-inline-block w-clearfix hash-link">
          <div class="hash-tag">Blockchain</div>
        </a>
        <div class="tag-bitcoin">
          <div><strong data-new-link="true">Ƀ</strong>&nbsp;3,25</div>
        </div>
      </li>
      <li class="w-clearfix tag"><img src="images/handshake-right.png" class="hash-icon">
        <a href="#" class="w-inline-block w-clearfix hash-link">
          <div class="hash-tag">Cryptocurrencies</div>
        </a>
        <div class="tag-bitcoin">
          <div><strong data-new-link="true">Ƀ</strong>&nbsp;3,25</div>
        </div>
      </li>
    </ul>
    <div><a href="#">See all 23 delegations.</a>
    </div>
  </div>
</template>
