<template name="balance">
  <div class="token {{tokenStyle}}">
    <div class="token-ticker {{tokenTotal}}" style="{{tickerStyle}}">
      {{ticker}}
    </div>
    <div class="token-balance {{tokenTotal}}" style="{{balanceStyle}}">
      {{#if hasPending}}
        <div class="token-pending">
          {{pending}}
        </div>
      {{/if}}
      <div class="token-score">
        {{balance}}
      </div>
    </div>
    {{#unless disableStake}}
      <div class="token-stake">
        <span class="token-stake-value">
          {{percentage}}
        </span>
        {{_ 'staked'}}
        &mdash;
        <span class="token-stake-value">
          {{available}}
        </span>
        {{_ 'available'}}
      </div>
    {{/unless}}
  </div>
</template>
