.off-screen {
  opacity:0;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-text-fill-color: #5a0075 !important;
  -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: #eaeaea 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #eaeaea inset;
}


@media (max-width: 767px) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: #442f58 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #442f58 inset;
  }
}

input[type="file"] {
    display: none;
}

.button.button-upload {
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}


.login {
    text-align: center;
}

.popup {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
}

/* override sidebar style with default state while original css has designer-friendly state for development and design */
.navbar {
  left: 0px;
}
.right {
  left: 0px;
}

#content, #modalToggle, .modal { /* .title-input {*/
  overflow: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.modal {
  opacity: 0;
}

body {
  overflow-x: hidden;
  position: relative;
}

#titleContent {
  caret-color: black;
}

.rosca {
  display: table;
}

.vote {
  will-change: transform;
}

.checkmark {
  display: inline-block;

  &:after {
    /*Add another block-level blank space*/
    content: "";
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 3px;
    height: 6px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #000;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

.checkmark_stem {
  width: 10%;
  height: 83%;
  background-color: #6c5b7c;
  transform: rotate(37deg);
  margin: auto;
  margin-top: -84%;
  margin-left: 56%;
}

.checkmark_kick {
  width: 12%;
  height: 41%;
  background-color: #6c5b7c;
  transform: rotate(129deg);
  margin-top: 47%;
  margin-bottom: 0%;
  margin-left: 16%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sidebar {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#content {
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 991px) {
  .content-feed {
    overflow:hidden;
  }
}

textarea, select, input, button, #titleContent { outline: none; }

video {
  border-radius: 5px;
}

body, h4, h1, h2 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.split-anon {
  position:unset;
}

.hero-secondary {
  background: linear-gradient(0deg, #f2f2f8 95%, #ebe7ef);
  padding: 60px 10px 80px 10px;
  z-index: 1;
  box-shadow: 0px -20px 20px 20px white;
  background-color: #f2f2f8;
  color: white;
  margin-top: 30px;
  text-align:center;
}

.content.content-agora {
  z-index: -1;
}

.landing-item {
  display: inline;
  /* width: 70%; */
  text-align: center;
}

.landing-left {
  width: 60%;
  text-align: center;
}

.landing-sub {
  font-size: 32px;
  /* text-shadow: 0px 14px 20px #00000021; */
  padding-top: 10px;
  line-height: 1.2em;
}

.landing-button-menu {
  clear:both;
  text-align:center;
}

.button.login-button.button-landing {
  margin: 40px 5px 0px;
  padding: 12px;
  max-width: 240px;
  display: inline-block;
  font-size: 14px;
  border-width: 3px;
}

.button.login-button.button-landing.button-landing-secondary {
  background: #5a007514;
  color: #580074;
}

.landing-sub-content {
  float: none;
  font-size: 16px;
  line-height: 1.6em;
  margin: 30px -30px 0px 0px;
  text-align: left;
  color: black;
}

.landing-sub-half-sshot {
  min-height:300px;
}

.landing-client-round, .landing-client-square {
  max-width: 120px;
  margin: 15px;
  /* display: block; */
  box-shadow: 0px 4px 12px 0px #cacaca;
  border-radius: 120px;
  transition: all 200ms ease;
  cursor:pointer;
}

.landing-sub-header.landing-sub-dapp {
  width:30%;
  text-align:right;
}

.landing-client-round:hover, .landing-client-square:hover {
  margin-top:10px;
  margin-bottom:20px;
  box-shadow: 0px 20px 64px 0px #cacaca;
}


.landing-sub-half.landing-sub-quote {
  width: 65%;
  max-width: 600px;
  margin-left: -20px;
  padding: 0px 20px;
}

.landing-client-square {
  border-radius: 35px;
}

.landing-sub-header {
  margin: 0 auto;
  max-width: 500px;
  padding: 0px 30px;
  text-align: left;
  font-size: 18px;
  float: left;
  color: #02020282;
  width: 35%;
  line-height: 1.6em;
}

.landing-company-list {
  clear: both;
  margin-top: 40px;
  margin: 0px 0px 30px;
}

.landing-right {
  width: 31%;
  float: right;
}

.landing-sub-half {
  width:50%;
  float:left;
  margin-top:-15px;
  margin-bottom: 30px;
}

.hero-last {
  padding-top: 0px;
}

.landing-quote {
  background: white;
  border: 2px #e8e2ec solid;
  padding: 15px;
  color: #a982b5;
  font-size: 17px;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  box-shadow: 12px 12px #e8e2ec;
}

.landing-center {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.paper-screenshot {
  max-width: 25%;
  box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.21);
  margin: 15px 25px;
  transition: all 200ms ease;
  cursor: pointer;
}

.paper-video {
  width: 580px;
  max-width: 580px;
  border-radius: 5px;
}

.landing-sub-big {
  font-size: 36px;
  border-bottom: 6px solid #5a0075;
  margin: 0px auto 30px auto;
  display: table;
}

.paper-screenshot:hover {
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 12px 40px 10px rgba(0, 0, 0, 0.22);
  color: #0d0d17;
}

.landing-logo {
  max-width: 130px;
  margin: 0px 20px;
  opacity: 0.8;
  cursor: pointer;
}

.landing-logo:hover {
  opacity: 1;
}

.hero-tertiary {
  background: linear-gradient(0deg, #009770 75%, #017759);
  padding: 40px 20px;
  background-color: #009770;
}

.profile-landing {
  width: 60px;
  height: 60px;
  margin-left: 60px;
  margin-top: 0px;
}

.landing-quote-source {
  float: left;
  margin: 12px;
  text-align:left;
}

.landing-arrow-down {
  width: 0;
  height: 0;
  margin-left: 30px;
  margin-top: -2px;
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  border-top: 30px solid #fff;
  box-shadow: 10px 0px #e8e2ec;
}


.hero-quarter {
  padding-top: 85px;
  padding-bottom: 85px;
}

.hero-quarter-last {
  padding-top: 60px;
  padding-bottom: 90px;
}

.landing-footer {
  text-align: left;
  color: white;
}

.landing-list {
  list-style: none;
  /* text-transform: uppercase; */
  font-size: 15px;
  line-height: 30px;
  min-width: 300px;
  float: left;
  margin-bottom:30px;
}

.landing-list-item {
  margin:5px 0px;
}

.landing-list-item-link {
  color: #ffffff8a;
  font-weight:200;
}

.landing-footer-logo {
  max-width: 150px;
  margin-top: 50px;
}

.landing-closing {
  text-align: right;
}

.landing-footer-social-icon {
  max-width:60px;
  opacity:0.6;
  cursor:pointer;
}

.landing-footer-social-icon:hover {
  opacity: 1;
}

.landing-list-item-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 10px;
}

.landing-list-item-link:hover {
  color: #ffffffc4;
  text-decoration: dashed;
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

.landing-section-title {
  color: #ffffffd9;
  font-size: 32px;
  margin-bottom: 30px;
  text-transform: none;
  border-bottom: 0px dotted;
  width: auto;
  text-shadow: 0px 14px 20px #00000021;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
  clear: both
}

.landing-map-menu {
  max-width: 65%;
  margin: 0 auto;
  float: left;
}

.hero-fifth {
  padding: 60px 20px 40px 20px;
  background:linear-gradient(0deg, #4a1d58 85%, #390548);
  margin-bottom:-20px;
}

.button-landing-icon {
  max-width: 24px;
  margin-right: 10px;
  margin-top: -3px;
}

@media (max-width: 991px) {
  .landing-item {
      float: none;
      clear:both;
  }

  .landing-sub-half {
    margin-top:20px;
  }

  .landing-quote {
    margin:30px;
  }

  .landing-list {
    min-width:210px;
  }

  .landing-closing {
    text-align:left;
  }

  .landing-sub-header.landing-sub-half {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .landing-arrow-down {
    margin: -2px 60px 0px;
  }

  .hero-tertiary {
    padding: 40px 0px;
  }

  .landing-map-menu {
    max-width: 100%;
    float: none;
  }

  .paper-screenshot.paper-video {
    max-width: 600px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .paper-screenshot.paper-video:hover {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .landing-sub-content {
    text-align: center;
    margin: 0px;
  }

  .landing-sub-header {
    width: 100%;
    max-width: none;
    padding: 0 20px;
    margin-bottom: 25px;
    text-align: center;
  }

  .landing-logo {
    margin:10px;
  }

  .hero-secondary, .hero-quarter {
    padding: 40px 10px 60px 10px;
  }

  .landing-sub {
    font-size: 30px;
    text-align: center;
  }

  .paper-screenshot {
    max-width: 250px;
    margin: 10px 25px 20px 25px;
  }

  .paper-screenshot:hover {
    margin: 10px 25px 20px 25px;
    box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.21); /* box-shadow: 1px 12px 40px 10px rgba(0, 0, 0, 0.22); */
    color: #0d0d17;
  }

  .not-mobile {
    display: none;
  }
}



@media (max-width: 767px) {
  .paper-screenshot {
    max-width: 200px;
    margin: 15px 25px;
  }

  .landing-footer-logo {
    max-width: 130px;
    display:none;
  }

  .landing-closing {
    clear:both;
  }

  .landing-client-round, .landing-client-square {
    max-width: 100px;
    margin: 25px 15px;
  }

  .landing-client-square {
    border-radius: 25px;
  }

  .button.login-button.button-landing {
    margin: 30px 5px -20px 5px;
    width: 100%;
    display: inline-block;
    max-width: 250px;
  }

  .landing-arrow-down {
    margin: -32px 60px 0px;
  }


  .landing-sub-header.landing-sub-half {
    margin-top: -10px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .landing-sub {
    border-bottom: none;
  }

  .landing-quote {
    margin:30px;
  }

  .landing-section-title {
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .landing-sub-header {
    margin-bottom: 25px;
    padding: 0px;
  }

  .paper-screenshot:hover {
    margin: 15px 25px;
  }

  .landing-center {
    padding:0 10px;
  }
}

@media (max-width: 479px) {
  .paper-screenshot {
    max-width: 200px;
    margin: 5px 10px 20px 10px;
  }

  .button.login-button.button-landing {
    margin: 30px auto -20px auto;
    max-width: none;
    display:block;
  }

  .landing-client-round, .landing-client-square {
    max-width: 70px;
    margin: 25px 35px 25px 0px;
  }

  .landing-client-square {
    border-radius: 15px;
  }

  .landing-quote-source {
    font-size: 14px;
    line-height: 1.6em;
    padding-top: 6px;
    margin-left: 40px;
  }

  .landing-sub-header.landing-sub-half {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .landing-arrow-down {
    margin: -12px 60px 0px;
  }
  
  .landing-quote {
    margin:10px;
  }

  .paper-screenshot:hover {
    margin: 5px 10px 20px 10px;
  }

  .landing-logo {
    max-width: 100px;
    margin:10px;
  }
}

