<template name="synchronizer">
  <div class="hero">
    <div class="landing-center">
      <img src="{{getImage 'blocks'}}" class="sync-animation">
      <h2>{{_ 'synchronizer-scanning'}}</h2>
      <div class="sync-status-bar">
        <div class="poll-score poll-score-button">
          <div class="poll-score-bar poll-sync">
            <div class="poll-score-bar-fill" style="width: {{percentage}}">
            </div>
          </div>
          <div class="poll-score-percentage">
            {{percentage}}
          </div>
        </div>
      </div>
      <div class='sync-status-message'>
        {{{message}}}
      </div>
    </div>
  </div>
</template>