<template name="feedItem">

  <li class="vote vote-search vote-feed">
    <div class="checkbox checkbox-custom">

      {{> stage text=stage executionStatus=executionStatus}}

      <a class="w-inline-block w-clearfix option-proposal" href="{{url}}">
        <div class="option-title option-link option-search">
          {{title}}
        </div>
      </a>

      <ul class="w-list-unstyled w-clearfix identity-list extra">
        {{#each signatures}}
          <li class="w-clearfix identity">
            {{> avatar size=28 profile=this includeName=true includeNation=false editable=false smallFont=true}}
          </li>
        {{/each}}
      </ul>

      <div class="rich-text rich-text-preview">
        {{description}}
      </div>

      <div class="extra">
        {{#each tags}}
            {{> tag _id=_id nonDraggable=true}}
        {{/each}}
      </div>

      <div class="meta meta-search">
        <div class="data"><img class="url-icon" src="{{pathFor route='home'}}images/time.png">
          <div class="verifier verifier-live">{{sinceDate timestamp}}</div>
        </div>

        <!-- TODO
        <div class="data"><img class="url-icon" src="{{pathFor route='home'}}images/block.png">
          <div class="verifier verifier-live">{{blockchain}}</div>
        </div>
        -->

      </div>

    </div>

    <div class="block block-list">


        {{#if editorMode stage}}
          <div class="micro-menu">
            <div class="micro">
              <a class="micro-button micro-button-remove w-clearfix" href="/remove?id={{_id}}">
                <img class="micro-icon" src="{{pathFor route='home'}}images/micro-trash.png">
                <div class="micro-label">{{_ 'remove'}}</div>
              </a>
            </div>
            <div class="micro">
              <a class="micro-button w-clearfix" href="/vote/draft?id={{_id}}">
                <img class="micro-icon" src="{{pathFor route='home'}}images/micro-draft.png">
                <div class="micro-label">{{_ 'edit-this-draft'}}</div>
              </a>
            </div>
          </div>
        {{/if}}

        <!--

        {{#if voterMode stage}}
        <div class="w-clearfix elements">
          <div class="w-clearfix polis">
            <div class="power hundred">
              {{> power styleClass='rosca-feed'}}
            </div>
          </div>
          <div class="w-clearfix vote-cta">
            <div class="power hundred">
              {{> feedButton id=_id url='/vote/draft?id=' label='edit-draft'}}
            </div>
          </div>
        </div>
        {{/if}}

        !-->




    </div>

  </li>
</template>
