<template name="feedItem">

  <li class="vote vote-search">
    <div class="checkbox checkbox-custom">

      {{> stage text=stage executionStatus=executionStatus}}

      <a class="w-inline-block w-clearfix option-proposal" href="{{url}}">
        <div class="option-title option-link option-search">
          {{title}}
        </div>
      </a>

      <ul class="w-list-unstyled w-clearfix identity-list extra">
        {{#each signatures}}
          <li class="w-clearfix identity">
            {{> avatar size=28 profile=this includeName=true includeNation=false editable=false smallFont=true}}
          </li>
        {{/each}}
      </ul>

      <div class="rich-text rich-text-preview">
        {{description}}
      </div>

      <div class="extra">
        {{#each tags}}
            {{> tag _id=_id nonDraggable=true}}
        {{/each}}
      </div>

      <div class="meta meta-search">
        <div class="data"><img class="url-icon" src="{{pathFor route='home'}}images/time.png">
          <div class="verifier verifier-live">{{sinceDate timestamp}}</div>
        </div>

        <!-- TODO
        <div class="data"><img class="url-icon" src="{{pathFor route='home'}}images/block.png">
          <div class="verifier verifier-live">{{blockchain}}</div>
        </div>
        -->

      </div>

    </div>

    <div class="block block-list">
      <div class="w-clearfix elements">

        <div class="w-clearfix polis">
          <div class="power hundred">
            {{> power styleClass='rosca-feed'}}
          </div>
        </div>


        <div class="w-clearfix vote-cta">
          <div class="power hundred">
            <a class="w-inline-block w-clearfix button execute button-small" href="{{url}}">
              <div class="execution-label">
                {{_ "vote-proposal"}}
              </div>
              <img class="button-icon execute-icon" src="{{pathFor route='home'}}images/access.png">
            </a>
          </div>
        </div>

      </div>
    </div>

  </li>
</template>
