<template name="power">
  {{#if editable}}
    {{#if rightToVote}}
      <div class="w-clearfix rosca rosca-setter">
        {{> bar editable=editable}}
        {{> capital user=user}}
      </div>
    {{else}}
      <div class="w-clearfix rosca rosca-setter">
        {{> bar editable=false}}
        {{> capital user=user}}
      </div>
    {{/if}}
  {{else}}
    <div class="w-clearfix rosca rosca-id {{styleClass}}">
      {{> bar editable=editable}}
      {{> capital user=user}}
    </div>
  {{/if}}
  <!--
  {{#if editable}}
    <div class="elements w-clearfix">
      <div class="hundred power">
        {{> action label=label enabled=editable}}
        {{#if confirmationRequired}}
          <div class="extra" style="margin: 5px -5px;">
            <div class="button-wrap-half">
              <div id='confirmation' class="button execute">
                {{_ 'confirm'}}
              </div>
            </div>
            <div class="button-wrap-half">
              <div id='rejection' class="button execute reject">
                {{_ 'reject'}}
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
  -->
</template>

<template name="capital">
  <div class='vote-available label-votes'>
    <div class="stage {{style 'available'}}">
      <div class='label label-corner'>
        <strong>
          {{{getVotes 'available'}}}
        </strong>
        <span>
          {{_ 'available-votes'}}
        </span>
      </div>
    </div>
    <div class="stage {{style 'inBallot'}}">
      <div class='label label-corner'>
        <strong>
          {{{getVotes 'inBallot'}}}
        </strong>
        <span>
          {{_ 'place-in-ballot'}}
        </span>
      </div>
    </div>
    <div class="stage {{style 'allocateQuantity'}}">
      <div class='label label-corner'>
        <strong>
          {{{getVotes 'allocateQuantity'}}}
        </strong>
        <span>
          {{_ 'place-in-ballot'}}
        </span>
      </div>
    </div>
  </div>
  <div class='vote-allocated label-votes'>
    <div class="stage {{style 'placed'}}">
      <div class='label label-corner'>
        <strong>
          {{{getVotes 'placed'}}}
        </strong>
        <span>
          {{_ 'placed-votes'}}
        </span>
      </div>
    </div>
  </div>
</template>

<template name="bar">
    {{#if editable}}
      <div id="voteBar-{{voteId}}" class="w-clearfix result vote-bar">
        <div id="voteSlider-{{voteId}}" class="result-bar vote-bar" style=" width: {{allocate}} ">

          <!-- handle -->
          <div id="voteHandle-{{voteId}}" class="handle" title="{{_ 'slide-to-vote'}}">
          </div>

          <!-- inBallot allocated -->
          <div class="result-bar vote-bar vote-bar-allocated vote-bar-allocated-placed"  style=" width: {{inBallot}} "></div>

        </div>
        <div class="result-bar vote-bar vote-bar-allocated"  style=" width: {{placed}} "></div>
      </div>
    {{else}}
      <div class="w-clearfix result vote-bar">
        <div class="result-bar vote-bar {{hundred}}" style=" width: {{allocate}} ">

            <!-- inBallot allocated -->
            <div class="result-bar vote-bar vote-bar-allocated vote-bar-allocated-placed"  style=" width: {{inBallot}} "></div>

        </div>
        <div class="result-bar vote-bar vote-bar-allocated"  style=" width: {{placed}} "></div>
      </div>
    {{/if}}
</template>
