<template name="power">
  {{#if editable}}
    {{#if rightToVote}}
      <div class="w-clearfix rosca rosca-setter">
        {{> bar editable=editable}}
        {{> capital user=user}}
      </div>
    {{else}}
      <div class="w-clearfix rosca rosca-setter">
        {{> bar editable=false}}
        {{> capital user=user}}
      </div>
    {{/if}}
  {{else}}
    <div class="w-clearfix rosca rosca-id {{styleClass}}">
      {{> bar editable=editable}}
      {{> capital user=user}}
    </div>
  {{/if}}
</template>

<template name="capital">
  <div class='vote-available label-votes'>
    <div class="stage {{style 'available'}}">
      <div class='label label-corner'>
        {{{getVotes 'available'}}}
      </div>
    </div>
    <div class="stage {{style 'inBallot'}}">
      <div class='label label-corner'>
        {{{getVotes 'inBallot'}}}
      </div>
    </div>
    <div class="stage {{style 'allocateQuantity'}}">
      <div class='label label-corner'>
        {{{getVotes 'allocateQuantity'}}}
      </div>
    </div>
  </div>
  <div class='vote-allocated label-votes'>
    <div class="stage {{style 'placed'}}">
      <div class='label label-corner'>
        {{{getVotes 'placed'}}}
      </div>
    </div>
  </div>
</template>

<template name="bar">
  <div class="result-bar vote-bar vote-bar-allocated vote-bar-allocated-placed w-clearfix" style=" width: {{inBallot}};">
    <div class="arrow-wrapper arrow-wrapper-bottom">
      <div class="arrow-up">
        <div class="arrow-up arrow-up-inner"></div>
      </div>
    </div>
  </div>

  <div id="voteBar-{{voteId}}" class="w-clearfix result vote-bar">

    <!-- available -->
    <div id="voteSlider-{{voteId}}" class="result-bar vote-bar" style=" width: {{allocate}} ">

      <!-- handle -->
      <div id="voteHandle-{{voteId}}" class="handle"></div>

    </div>

    <!-- placed -->
    <div class="result-bar vote-bar vote-bar-allocated"  style=" width: {{placed}} "></div>
  </div>
</template>
