<template name="authors">

  <div class="signature">

    <h5>{{_ "signatures"}}</h5>

    <ul class="w-list-unstyled w-clearfix extra">
      <li class="w-clearfix identity identity-sign">
        <a href="#" class="w-inline-block symbol profile-pic profile-sign">
          <img src="{{pathFor route='home'}}images/fingerprint.png" class="profile-thumb">
          <span class="identity-label">
            {{_ "sign-author"}}
          </span>
        </a>
      </li>
    </ul>

  </div>

</template>
