<template name="ballot">

  <div class="section">

    <div class="w-clearfix paper-header">
      <img src="{{pathFor route='home'}}images/ballotbox.png" class="section-icon">
      <div>{{_ "draft-ballot"}}</div>
    </div>

    <div class="description">
      <ul class="w-list-unstyled settings">
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "closing-date-of-poll"}}</div>
          <div class="value">
            {{> calendar}}
          </div>
        </li>
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "allow-voters-suggest"}}</div>
          <div class="w-clearfix value">
            {{> toggle setting="allowForks" value=allowForks}}
          </div>
        </li>
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "enable-multiple-choice"}}</div>
          <div class="w-clearfix value">
            {{> toggle setting="multipleChoice" value=multipleChoice}}
          </div>
        </li>
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "executive-decision"}}</div>
          <div class="w-clearfix value">
            {{> toggle setting="executiveDecision" value=executiveDecision}}
          </div>
        </li>
      </ul>
    </div>

    <div class="extra">
      <ul class="w-list-unstyled" style="margin-top:10px">
      {{#if backdating}}
        {{> warning backdating=backdating}}
      {{/if}}
      </ul>
    </div>

    {{#if executiveDecision}}
      <div class="section">
        <h5>{{_ "executive-options"}}</h5>
        <div class="w-clearfix elements">
          <ul class="w-list-unstyled w-clearfix options">
            {{> fork executive=true mode="AUTHORIZE"}}
            {{> fork executive=true mode="REJECT"}}
          </ul>
        </div>
      </div>
    {{/if}}

    <div class="section">

      {{#if ballotReady}}
        {{#if executiveDecision}}
          <h5>{{_ "alternative-options"}}</h5>
        {{else}}
          <h5>{{_ "only-ballot-options"}}</h5>
        {{/if}}
      {{/if}}

      <div class="w-clearfix elements">
        <ul id="ballotOption" class="w-list-unstyled w-clearfix options connectedBallot">
          {{#each options}}
            {{> fork _id=_id label=label alternative=true}}
          {{/each}}
        </ul>
      </div>

      <div class="extra">
        {{#if disabledCheckboxes}}
          {{> warning disabledCheckboxes=disabledCheckboxes}}
        {{/if}}
        {{#if duplicateFork}}
          {{> warning duplicateFork=duplicateFork}}
        {{/if}}
        {{#if unauthorizedFork}}
          {{> warning unauthorizedFork=unauthorizedFork}}
        {{/if}}
        {{#if emptyBallot}}
          {{> warning emptyBallot=emptyBallot}}
        {{/if}}
      </div>

    </div>


    {{> search}}

  </div>
</template>
