<template name="ballot">
  <div class="section">
    <h2>{{_ "vote"}}</h2>

    <div class="description">
      <ul class="w-list-unstyled settings">
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "closing-date-of-poll"}}</div>
          <div class="value">
            {{> calendar}}
          </div>
        </li>
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "allow-voters-suggest"}}</div>
          <div class="w-clearfix value">
            <div id="toggle-allowForks" class="toggle {{allowForks}}">
              <div class="toggle-button {{allowForks}}"></div>
            </div>
          </div>
        </li>
        <li class="w-clearfix setting">
          <div class="text setting-label">{{_ "enable-multiple-choice"}}</div>
          <div class="w-clearfix value">
            <div id="toggle-multipleChoice" class="w-clearfix toggle {{multipleChoice}}">
              <div class="toggle-button {{multipleChoice}}"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="w-clearfix elements">
      <ul id="ballotOption" class="w-list-unstyled w-clearfix options connectedBallot">
        {{#each options}}
          {{> fork _id=_id label=label authorized=authorized keyword=keyword draftView=../draftView}}
        {{/each}}
      </ul>
    </div>

    {{> search}}

    <div class="extra">
      <ul class="w-list-unstyled">
      {{#if disabledCheckboxes}}
        <li class="warning">{{_ "disabled-checkboxes"}}</li>
      {{/if}}
      {{#if backdating}}
        <li class="warning">{{_ "backdating"}}</li>
      {{/if}}
      {{#if duplicateFork}}
        <li class="warning">{{_ "duplicate-fork"}}</li>
      {{/if}}
      {{#if unauthorizedFork}}
        <li class="warning">{{_ "unauthorized-fork"}}</li>
      {{/if}}
      </ul>
    </div>

  </div>
</template>

<template name="fork">
  <li class="vote {{checkbox ../mode ../authorized}}" rank="{{../rank}}" value="{{_id}}">
    <div class="w-clearfix checkbox">
      <div id="ballotCheckbox" class="option {{option ../mode}}">
        <div class="tick"><img src="{{pathFor route='home'}}images/white-tick-thin.png" class="tick-image hover">
        </div>
      </div>
      <div class="w-clearfix checkbox">
        <a href="{{pathFor route='vote'}}/{{keyword}}" class="option-title {{decision ../mode}}">
          {{caption ../mode ../label}}
        </a>
      </div>
    </div>
  </li>
</template>
