<template name="calendar">
  <div id="toggleCalendar" class="w-clearfix calendar-menu {{toggleStatus}}">
    <img src="{{pathFor route='home'}}images/calendar-active.png"  style="{{displayCalendar}}" class="calendar-icon calendar-icon-active">
    <img src="{{pathFor route='home'}}images/calendar.png" class="calendar-icon" style="{{displayCalendar true}}">
    <div class="control">{{closingDate}}</div>
  </div>
  <div id='date-picker' class="calendar" style="{{displayCalendar}}"></div>
</template>
