<template name="login">
  <div class="w-clearfix paper-header card-header">
    <img src="{{pathFor route='home'}}images/fingerprint-white.png" class="section-icon">
    <div>{{_ "identity"}}</div>
    <div class="stage stage-finish-approved stage-card stage-anon">
      <div class="label label-corner">{{_ "anonymous-mode"}}</div>
    </div>
  </div>

  <div class="tabs" value="{{update}}">
    <div id="tab-button" value=true tab=0 class="tab tab-active">
      <div>{{_ "default"}}</div>
    </div>
    <div id="tab-button" value=false tab=1 class="tab">
      <div>{{_ "authenticate"}}</div>
    </div>
  </div>
  <div id="tab-view">
    <div class="tab-content" tab=1 style="{{tabDisplay}}">
      <div class="login">
        {{{_ "use-blockchain-id"}}}
        <img src="{{pathFor route='home'}}images/qrplaceholder.png" class="qr-code qr-sign">
        <div class="login-label">
          {{_ "scan-with"}} <a href="#">{{_ "phone-app"}}</a>
        </div>
      </div>
    </div>
    <div class="tab-content" tab=0 style="{{tabDisplay}}">
      <div class="login">
        <div class="w-form">
          <form id="email-form-3" name="email-form-3" data-name="Email Form 3">
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "email"}}</label>
              <img src="{{pathFor route='home'}}images/mail-closed.png" class="login-icon">
              <input type="text" placeholder="{{_ 'email-sample'}}" class="w-input login-input">
            </div>
            <div class="w-clearfix login-field">
              <label for="name" class="login-label login-label-form">{{_ "password"}}</label>
              <img src="{{pathFor route='home'}}images/lock.png" class="login-icon">
              <input type="password" placeholder="{{_ 'password-sample'}}" class="w-input login-input">
            </div>
            <input type="submit" value="{{_ 'sign-in'}}" data-wait="{{_ 'please-wait'}}" class="w-button button login-button">
          </form>
          <!--<div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
          </div>
          <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
          </div>-->
        </div>
        <div>{{_ "dont-have-account"}} <a href="#">{{_ "sign-up"}}</a>.</div>
        <div class="w-clearfix extra">
          <div class="button button-social facebook">{{_ 'facebook'}}</div>
          <div class="button button-social twitter">{{_ 'twitter'}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
