<template name="navbar">
  <div data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
    <div class="w-container navcontainer">
      <a href="#" class="w-nav-brand w-clearfix logo"><img src="{{pathFor route='home'}}images/olive.png" class="logo-pic">
      </a>
      <div class="jurisdiction">
        <div><strong>{{> loginButtons}}</strong></div>
      </div>
      <nav role="navigation" class="w-nav-menu"><a href="#" class="w-nav-link navlink">{{username}}</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</template>
