<template name="organization">
  {{#if currentUser}}

    {{> society draftView=true}}

  {{/if}}
</template>

<template name="society">
  <div class="contract">
    <div class="w-clearfix paper">


      <!-- Kind -->
      <a href="#" class="w-inline-block kind"><img src="{{pathFor route='home'}}images/icon-institution.png" class="icon">
        <div class="label label-corner">{{_ "tag-kind"}}</div>
      </a>


      <!-- Fund with Bitcoin -->
      <div class="w-clearfix portrait">
        <a href="#" class="w-inline-block portrait-pic"><img src="{{pathFor route='home'}}images/bitcoin.png" class="portrait-icon">
          <p class="hash-link bitcoin-fund">{{_ "fund-organization"}}</p>
        </a>
        <div class="verifier"><strong data-new-link="true">{{_ "budget"}}</strong> {{_ "budget-detail"}}</div>
      </div>


      <!-- Profile of Organization -->
      <div class="w-form editor">
        <div class="w-clearfix profile">
          <div class="user">
            <div class="field headline-field split">
              <input id="Title-4" type="text" placeholder="{{_ 'organization-title'}}" name="Title-4" required="required" data-name="Title 4" class="w-input input headline-input">
              <div class="verifier"><strong data-new-link="true">{{_ 'tag-url'}}</strong> {{_ 'at'}} <a data-new-link="true" href="#">democracy.earth/tag/<strong>brand</strong></a> <strong data-new-link="true" class="available">{{_ 'available'}}</strong>
              </div>
            </div>
            <div class="field bio">
              <textarea id="description-2" placeholder="{{_ 'tag-description'}}" name="description-2" data-name="Description 2" class="w-input description input"></textarea>
              <div class="verifier"><strong data-new-link="true">{{_ 'tag-definition'}}</strong> {{_ 'tag-definition-detail'}}</div>
            </div>
            <div class="field split field-left">
              <input id="Title-7" type="text" placeholder="{{_ 'jurisdiction-global'}}" name="Title-7" required="required" data-name="Title 7" class="w-input input input-active">
              <div class="verifier"><strong data-new-link="true">{{_ 'jurisdiction'}}</strong> {{_ 'jurisdiction-detail'}}</div>
            </div>
          </div>
        </div>
        <div class="mask interest-profile"></div>
      </div>

      <!-- By laws
      <div class="section">
        <h2>{{_ "constitution"}}</h2>
        <ul class="w-list-unstyled settings">
          <li class="w-clearfix setting">
            <div class="text setting-label">{{_ "private-organization"}}</div>
            <div class="w-clearfix value">
              <div class="toggle">
                <div class="toggle-button"></div>
              </div>
            </div>
          </li>
        </ul>
      </div> -->

      <!-- Members -->
      <div class="section">
        <h2>{{_ "members"}}</h2>
        <ul class="w-list-unstyled w-clearfix">
          <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/portrait.png" class="symbol profile-pic">
            <a href="#" class="w-inline-block hash-link">
              <div class="identity-label">Mair Williams</div>
            </a>
          </li>
        </ul>
      </div>

      <!-- Blockchain part for Delegation -->
      <div class="execution">
        <div class="block">
          <div class="w-clearfix elements">
            <div class="power hundred">
              <a href="#" class="w-clearfix w-inline-block button execute"><img src="{{pathFor route='home'}}images/noun_196288_cc.png" class="button-icon execute-icon">
                <div>{{_ "apply"}} <strong data-new-link="true"> {{_ "membership"}}</strong>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
