<template name="peer">
  {{#if currentUser}}

    {{> passport draftView=true}}

  {{/if}}
</template>

<template name="passport">
  <div class="contract">
    <div class="paper">

      <!-- Kind -->
      <a href="#" class="w-inline-block kind"><img src="{{pathFor route='home'}}images/icon-institution.png" class="icon">
        <div class="label label-corner">{{_ "peer"}}</div>
      </a>

      <div class="w-form editor">


        <!-- Portrait -->
        <div class="w-clearfix portrait">
          <a href="#" class="w-inline-block portrait-pic"><img src="{{pathFor route='home'}}images/portrait.png" class="portrait-icon">
            <p>{{_ "upload-portrait"}}</p>
          </a>
          <div class="verifier"><strong data-new-link="true">{{_ "picture"}}</strong> {{_ "picture-detail"}}</div>
          <div class="w-clearfix score">
            <div class="w-clearfix score-bar">
              <div class="score-block score-complete"></div>
              <div class="score-block score-complete"></div>
              <div class="score-block score-complete"></div>
              <div class="score-block"></div>
              <div class="score-block"></div>
              <div class="score-block"></div>
              <div class="score-block"></div>
              <div class="score-block"></div>
              <div class="score-block"></div>
              <div class="score-block"></div>
            </div>
            <ul class="w-list-unstyled extra">
              <li class="warning score-label">{{_ "identity-completion"}}<strong data-new-link="true"> 30%</strong>
              </li>
            </ul>
          </div>
        </div>


        <!-- User -->
        <div class="w-clearfix profile">
          <div class="user">
            <div class="field headline-field split">
              <input id="Title-4" type="text" placeholder="@Username" name="Title-4" required="required" data-name="Title 4" class="w-input input headline-input">
              <div class="verifier"><strong data-new-link="true">{{_ "passport-url"}}</strong> {{_ "at"}} <a data-new-link="true" href="#">democracy.earth/peer/<strong>username</strong></a> <strong data-new-link="true" class="available">{{_ "available"}}</strong>
              </div>
            </div>
            <div class="field split field-left">
              <input id="Title-5" type="text" placeholder="Given Names" name="Title-5" required="required" data-name="Title 5" class="w-input input">
              <div class="verifier"><strong data-new-link="true">{{_ "given-names"}}</strong> {{_ "first-name"}}</div>
            </div>
            <div class="field split field-right">
              <input id="Title-6" type="text" placeholder="Surname" name="Title-6" required="required" data-name="Title 6" class="w-input input input-active">
              <div class="verifier"><strong data-new-link="true">{{_ "surname"}}</strong> {{_ "family-name"}}</div>
            </div>
            <div class="field split field-left">
              <input id="Title-7" type="text" placeholder="🌎 Nation" name="Title-7" required="required" data-name="Title 7" class="w-input input">
              <div class="verifier"><strong data-new-link="true">{{_ "nationality"}} </strong> {{_ "birth-place"}}</div>
            </div>
            <div class="field split field-right">
              <input id="Title-8" type="text" placeholder="🌎 Country" name="Title-8" required="required" data-name="Title 8" class="w-input input">
              <div class="verifier"><strong data-new-link="true">{{_ "residence"}}</strong> {{_ "city-country"}}</div>
            </div>
            <div class="field bio">
              <textarea id="description-2" placeholder="Describe this contract's proposal in detail." name="description-2" data-name="Description 2" class="w-input description input"></textarea>
              <div class="verifier"><strong data-new-link="true">{{_ "bio"}}</strong> {{_ "bio-detail"}}</div>
            </div>
          </div>
        </div>
        <div class="mask"></div>



        <!-- Tags -->
        <!-- MAKE A COMPONENT OUT OF ALL OF THIS -->
        <div class="section">
          <h2>{{_ "interests"}}</h2>
          <div class="semantics">
            <form id="tag-form" name="tag-form" data-name="Tag Form">
              <ul class="w-list-unstyled w-clearfix">
                {{#each semantics}}
                  {{> tag draftView=../draftView _id=_id}}
                {{/each}}
                {{#if maxReached}} {{else}}
                  <li class="w-clearfix tag-custom"><img src="{{pathFor route='home'}}images/hash.png" class="hash-icon hash-icon-custom">
                    <input id="text-custom-tag" type="text" placeholder="{{_ 'custom-tag'}}" name="name" data-name="Name" class="w-input tag input custom-tag">
                    <div id="add-custom-tag" class="action hash-action">
                      <div>
                        <strong>＋</strong>
                      </div>
                    </div>
                    <!--<div class="verifier"><strong data-new-link="true">{{_ 'interest-url'}} </strong>{{_ 'at'}} <a href="{{pathFor route='tag'}}">{{pathFor route='tag'}}</a> {{_ 'is'}} <strong data-new-link="true" class="available">{{_ 'available'}}</strong>
                    </div>-->
                  </li>
                {{/if}}
              </ul>
            </form>
            <!-- Warnings -->
              <ul class="w-list-unstyled">
                {{#if unauthorizedTags}}
                  <li class="warning">{{_ "tags_lack_authorization"}}</li>
                {{/if}}
                {{#if duplicateTags}}
                  <li class="warning">{{_ "duplicate_tags"}}</li>
                {{/if}}
                {{#if maxReached}}
                  <li class="warning">{{_ "max_tags_reached"}}</li>
                {{/if}}
              </ul>
          </div>
        </div>
        <!-- END OF: MAKE A COMPONENT OUT OF ALL OF THIS -->






        <!-- Identities -->
        <div class="section">
          <h2>{{_ "identities"}}</h2>
          <div class="extra">
            <ul class="w-list-unstyled w-clearfix identity-list">
              <li class="w-clearfix identity twitter"><img src="{{pathFor route='home'}}images/twitter.png" class="symbol profile-pic">
                <a href="#" class="w-inline-block hash-link twitter-link">
                  <div class="identity-label twitter-link">{{_ "connect-twitter"}}</div>
                </a>
              </li>
              <li class="w-clearfix identity facebook"><img src="{{pathFor route='home'}}images/facebook.png" class="symbol profile-pic">
                <a href="#" class="w-inline-block hash-link facebook-link">
                  <div class="identity-label facebook-link">{{_ "connect-facebook"}}</div>
                </a>
              </li>
              <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/mail.png" class="symbol profile-pic">
                <a href="#" class="w-inline-block hash-link">
                  <div class="identity-label">{{_ "valid-email"}}</div>
                </a>
              </li>
            </ul>
          </div>
        </div>



        <!-- Peers -->
        <div class="section">
          <h2>{{_ "peers"}}</h2>
          <ul class="w-list-unstyled w-clearfix">
            <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/portrait.png" class="symbol profile-pic">
              <a href="#" class="w-inline-block hash-link">
                <div class="identity-label">Aaron Swartz</div>
              </a>
            </li>
            <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/portrait.png" class="symbol profile-pic">
              <a href="#" class="w-inline-block hash-link">
                <div class="identity-label">Ed Snowden</div>
              </a>
            </li>
            <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/portrait.png" class="symbol profile-pic">
              <a href="#" class="w-inline-block hash-link">
                <div class="identity-label">Satoshi Nakamoto</div>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</template>
