<template name="vote">
<!--  {{#if currentUser}}-->

    {{> contract}}

<!--  {{/if}} -->
</template>

<template name="contract">

  <div class="contract">

    <div class="paper">

      <!-- Kind -->
      {{> kind}}

      <!-- Title -->
      {{> title}}

      <!-- Agreement -->
      {{> agreement}}

      <!-- Tags -->
      {{> semantics}}

      <!-- Authors -->
      {{> authors}}

    </div>

    <div class="paper">

      <!-- Vote -->
      {{> ballot}}

    </div>

    <div class="paper paper-execute">

      <!-- Execution -->
      {{> execution}}

    </div>

  </div>
</template>
