<template name="vote">
  {{#if currentUser}}

    {{> contract}}

  {{/if}}
</template>

<template name="contract">
  <div class="contract">
    <div class="paper">

      <!-- Kind -->
      {{> kind}}

      <!--****************************************************-->
      <!-- View 1: Draft -->
      <!--****************************************************-->

      <!-- Title -->
      <form id="title-form" class="title-form" name="title-form" data-name="Title Form">
        {{> title draftView=draftView}}
      </form>

      <!-- Agreement -->
      {{> agreement}}

      <!-- Authors -->
      {{> authors}}

      <div class="section">
        <h2>{{_ "topics"}}</h2>
        <div class="extra">
          <form id="tag-form" name="tag-form" data-name="Tag Form">
            <ul id="tagList" class="w-list-unstyled w-clearfix semantics connectedSortable">
              <li class="w-clearfix tag tag-empty nondraggable" style="{{emptyList}}">
                <div class="hash-tag hash-tag-empty">{{_ 'no-tags'}}</div>
              </li>
              {{#each semantics}}
                {{> tag _id=_id}}
              {{/each}}
            </ul>
          </form>

          <!-- Tag Picker -->
          <div class="w-clearfix tag-custom {{searchBox}}">
            <img src="{{pathFor route='home'}}images/search.png" class="search-icon">
            <div id="tagSearch" class="search-input" contenteditable="true">
              {{_ 'search-tag'}}
            </div>
          </div>
          <ul id="tagSuggestions" class="w-list-unstyled w-clearfix selector connectedSortable">
            <li class="selector-modal nondraggable" style='{{createTag}}'>
              <div class="selector-create">
                <div class="selector-modal-label">{{_ 'no-match-tag'}}</div>
                <div class="w-clearfix extra">
                  <div class="tag">
                    <div class="w-clearfix tag-label"><img src="{{pathFor route='home'}}images/hashtag.png" class="hash-icon">
                      <a href="#" class="w-clearfix w-inline-block hash-link">
                        <div class="hash-tag">{{{newTag}}}</div>
                      </a>
                    </div>
                    <div id="add-custom-tag" class="action">
                      <div>
                        <strong>＋</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="selector-modal nondraggable" style='{{removeTag}}'>
              <div class="selector-warning"><img src="{{pathFor route='home'}}images/trash.png" class="icon-trash">
                <div>{{_ 'remove-tag'}}</div>
              </div>
            </li>
            {{#each getTags}}
                {{> tag suggestion=true _id=_id}}
            {{/each}}
          </ul>


          <!-- Warnings -->
          <ul class="w-list-unstyled">
            {{#if duplicateTags}}
              <li class="warning">{{_ "duplicate_tags"}}</li>
            {{/if}}
            {{#if maxReached}}
              <li class="warning">{{_ "max_tags_reached"}}</li>
            {{/if}}
            {{#if minTags}}
              <li class="warning">{{_ "min-tags-allowed"}}</li>
            {{/if}}
          </ul>
        </div>

      </div>

      <!-- Vote -->
      {{> ballot draftView=draftView}}

      <!-- Execution status of the contract -->
      {{> execution draftView=draftView}}

    </div>
  </div>
</template>

<template name="title">
  <div class="field headline-field">
    <!--<input id="contract-title" type="text" placeholder="{{_ 'headline'}}" name="title" value="{{declaration}}" required="required" data-name="Title" class="w-input input headline-input input-active">
    <div class="verifier verifier-live"><strong data-new-link="true">{{_ 'vote-url'}} </strong>{{_ 'at'}} <a href="{{pathFor route='vote'}}">{{pathFor route='vote'}}</a> {{_ 'is'}} <strong data-new-link="true" class="available">{{_ 'available'}}</strong>
    </div>-->

    <div id="titleEditable" onkeypress="return (this.innerText.length <= {{titleLength}})" class="input headline-input input-active" contenteditable="true">
      <div>{{declaration}}</div>
    </div>

    <div class="meta">
      <div class="data"><img src="{{pathFor route='home'}}images/globe.png" class="url-icon">
        <div class="verifier verifier-live">
          <a data-new-link="true" href="#">{{{contractURL}}}</a>
          {{{URLStatus}}}
        </div>
      </div>
      <div class="data"><img src="{{pathFor route='home'}}images/time.png" class="url-icon">
        <div class="verifier verifier-live">
          <a href="#">{{timestamp}}</a>
        </div>
      </div>
      <div class="data"><img src="{{pathFor route='home'}}images/block.png" class="url-icon">
        <div class="verifier verifier-live">
          <a href="#">blockchain ID: 1MBM...khTF</a>
        </div>
      </div>
    </div>

    {{#if duplicateURL}}
      <div class='extra'>
        <ul class="w-list-unstyled">
            <li class="warning">{{_ "url-duplicate"}}</li>
        </ul>
      </div>
    {{/if}}

  </div>
</template>

<template name="kind">
  <div class="{{style}}">
    <div class="label label-corner">{{text}}</div>
  </div>
</template>

<template name="agreement">
  <div class="section">
    <h2>{{_ "proposal"}}</h2>
    <div id="editor" class="w-richtext rich-text editor-draft editable">
        {{{descriptionEditor}}}
    </div>
  </div>
</template>

<template name="authors">
  <div class="section">
    <h5>{{_ "signatures"}}</h5>
    <ul class="w-list-unstyled w-clearfix extra">
      <li class="w-clearfix identity identity-sign">
        <a href="#" class="w-inline-block symbol profile-pic profile-sign">
          <img src="{{pathFor route='home'}}images/fingerprint.png" class="profile-thumb">
          <div class="identity-label">{{_ "sign-author"}}</div>
        </a>
      </li>
    </ul>
  </div>
</template>

<template name="tag">
  <li class="w-clearfix tag {{authorization}}" id="draggable" value="{{../_id}}">
    <div class="tag-label">
      <img src="{{pathFor route='home'}}images/hashtag.png" class="hash-icon">
      {{#if suggestion}}
        <a href="#" class="w-clearfix w-inline-block hash-link {{authorization hover=true}}">
          <div class="hash-tag">{{{../text}}}</div>
        </a>
        <div id="add-suggested-tag" class="action">
          <div>
            <strong>＋</strong>
          </div>
        </div>
      {{else}}
        <a href="{{../url}}" class="w-clearfix w-inline-block hash-link {{authorization hover=true}}">
          <div class="hash-tag">{{{../label}}}</div>
        </a>
      {{/if}}
    </div>
  </li>
</template>

<template name="execution">
  <div class="execution">
    <div class="block">
      <div class="w-clearfix elements">
        <!--<div class="power">
          {{#if draftView}}
            {{> status step=1 max=3}}
          {{else}}
            {{> status step=2 max=3}}
          {{/if}}
        </div>-->
        <div class="power hundred contract-save-draft">
          <a href="#" class="w-clearfix w-inline-block button execute">
            <div>{{_ "save_for"}} <strong>{{_ "review"}}</strong>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
