<template name="vote">
  {{#if currentUser}}

    {{> contract}}

  {{/if}}
</template>

<template name="contract">
  <div class="contract">
    <div class="paper">

      <!-- Kind -->
      {{> kind}}

      <!--****************************************************-->
      <!-- View 1: Draft -->
      <!--****************************************************-->

      <!-- Title -->
      <form id="title-form" class="title-form" name="title-form" data-name="Title Form">
        {{> title draftView=draftView}}
      </form>

      <!-- Agreement -->
      {{> agreement}}

      <!-- Authors -->
      {{> authors}}

      <div class="section">
        <h2>{{_ "topics"}}</h2>
        <div class="extra">
          <form id="tag-form" name="tag-form" data-name="Tag Form">
            <ul class="w-list-unstyled w-clearfix">
              {{#each semantics}}
                {{> tag _id=_id}}
              {{/each}}
            </ul>
          </form>

          <!-- Tag Picker -->
          {{#unless maxReached}}
            <ul class="w-list-unstyled w-clearfix selector">
              <li class="w-clearfix tag-custom"><img src="{{pathFor route='home'}}images/search.png" class="search-icon">
                <div>{{_ 'search-tag'}}</div>
              </li>
              {{#each tags}}
                  {{> tag suggestion=true _id=_id}}
              {{/each}}
            </ul>
          {{/unless}}

          <!-- Warnings -->
          <ul class="w-list-unstyled">
            {{#if unauthorizedTags}}
              <li class="warning">{{_ "tags_lack_authorization"}}</li>
            {{/if}}
            {{#if duplicateTags}}
              <li class="warning">{{_ "duplicate_tags"}}</li>
            {{/if}}
            {{#if maxReached}}
              <li class="warning">{{_ "max_tags_reached"}}</li>
            {{/if}}
          </ul>
        </div>

      </div>

      <!-- Vote -->
      {{> ballot draftView=draftView}}

      <!-- Execution status of the contract -->
      {{> execution draftView=draftView}}

    </div>
  </div>
</template>

<template name="title">
  <div class="field headline-field">
    <!--<input id="contract-title" type="text" placeholder="{{_ 'headline'}}" name="title" value="{{declaration}}" required="required" data-name="Title" class="w-input input headline-input input-active">
    <div class="verifier verifier-live"><strong data-new-link="true">{{_ 'vote-url'}} </strong>{{_ 'at'}} <a href="{{pathFor route='vote'}}">{{pathFor route='vote'}}</a> {{_ 'is'}} <strong data-new-link="true" class="available">{{_ 'available'}}</strong>
    </div>-->

    <div id="titleEditable" onkeypress="return (this.innerText.length <= {{titleLength}})" class="input headline-input input-active" contenteditable="true">
      <div>{{declaration}}</div>
    </div>

    <div class="meta">
      <div class="data"><img src="{{pathFor route='home'}}images/globe.png" class="url-icon">
        <div class="verifier verifier-live">
          <a data-new-link="true" href="#">{{{contractURL}}}</a>
          {{{URLStatus}}}
        </div>
      </div>
      <div class="data"><img src="{{pathFor route='home'}}images/time.png" class="url-icon">
        <div class="verifier verifier-live">
          <a href="#">{{timestamp}}</a>
        </div>
      </div>
      <div class="data"><img src="{{pathFor route='home'}}images/block.png" class="url-icon">
        <div class="verifier verifier-live">
          <a href="#">blockchain ID: 1MBM...khTF</a>
        </div>
      </div>
    </div>

    {{#if duplicateURL}}
      <div class='extra'>
        <ul class="w-list-unstyled">
            <li class="warning">{{_ "url-duplicate"}}</li>
        </ul>
      </div>
    {{/if}}

  </div>
</template>

<template name="kind">
  <div class="{{style}}">
    <div class="label label-corner">{{text}}</div>
  </div>
</template>

<template name="agreement">
  <div class="section">
    <h2>{{_ "proposal"}}</h2>
    <div id="editor" class="w-richtext rich-text editor-draft editable">
        {{{descriptionEditor}}}
    </div>
  </div>
</template>

<template name="authors">
  <h5>Signatures</h5>
  <ul class="w-list-unstyled w-clearfix extra">
    <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/Screen Shot 2016-01-27 at 12.05.33 AM.png" class="symbol profile-pic">
      <div class="identity-peer">
        <div class="identity-verified"><img src="{{pathFor route='home'}}images/white-tick.png" class="identity-verified-tick">
        </div><a href="#" class="identity-label">Satoshi Nakamoto</a>
        <div class="identity-nation">🌎Earth</div>
      </div>
    </li>
    <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/portrait.png" class="symbol profile-pic">
      <div class="identity-peer"><a href="#" class="identity-label">Barack Obama</a>
        <div class="identity-nation">🇺🇸 United States of America</div>
      </div>
    </li>
    <li class="w-clearfix identity"><img src="{{pathFor route='home'}}images/anonymous.png" class="symbol profile-pic">
      <div class="identity-peer"><a href="#" class="identity-label">{{_ "anonymous"}}</a>
        <div class="identity-nation">🌎Earth</div>
      </div>
    </li>
    <li class="w-clearfix identity identity-sign">
      <a href="#" class="w-inline-block symbol profile-pic profile-sign"><img src="{{pathFor route='home'}}images/fingerprint.png" class="profile-thumb">
        <div class="identity-label">{{_ "sign-author"}}</div>
      </a>
    </li>
  </ul>
</template>

<template name="tag">
  <li class="w-clearfix tag {{authorization}}"><img src="{{pathFor route='home'}}images/hashtag.png" class="hash-icon">
    {{#if suggestion}}
      <a href="#" class="w-clearfix w-inline-block hash-link {{authorization hover=true}}">
        <div class="hash-tag">{{../text}}</div>
      </a>
      <div id="add-suggested-tag" class="action {{authorization hover=true}}">
        <div><strong>＋</strong>
        </div>
      </div>
    {{else}}
      <a href="{{../url}}" class="w-clearfix w-inline-block hash-link {{authorization hover=true}}">
        <div class="hash-tag">{{../label}}</div>
      </a>
      <div id="tag-remove" class="action {{authorization hover=true}}">
        <div>&#10006;</div>
      </div>
    {{/if}}
  </li>
</template>

<template name="execution">
  <div class="execution">
    <div class="block">
      <div class="w-clearfix elements">
        <!--<div class="power">
          {{#if draftView}}
            {{> status step=1 max=3}}
          {{else}}
            {{> status step=2 max=3}}
          {{/if}}
        </div>-->
        <div class="power hundred contract-save-draft">
          <a href="#" class="w-clearfix w-inline-block button execute">
            <div>{{_ "save_for"}} <strong>{{_ "review"}}</strong>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
