<template name="terms">
  <div class="content content-feed">
    <h2>App Mining Voting Terms</h2>
    <div class="terms-body">
      Voters are to review certain decentralized apps submitted for app mining and displayed on vote.blockstack.org using the following criteria:
      <br/>
      <ol type="i">
        <li>Voting occurs on a monthly basis with each voting period corresponding to the calendar month;</li>
        <li>Voters will be assigned 1,000 votes that they may cast as they wish in a cumulative voting format on Blockstack apps listed on the platform;</li>
        <li>Voters may vote “yes” if they think the app is benefiting the Blockstack ecosystem and should be rewarded;</li>
        <li>Voters may vote “no” if they think Blockstack should not support the app and instead prioritize other apps;</li>
        <li>Voters may change their votes until the voting deadline;</li>
        <li>Voters may delegate their votes to other valid voters;</li>
        <li>Votes cannot be bought or sold;</li>
        <li>Voters must submit votes in good faith and not in collusion with another party;</li>
        <li>Any violation of these rules may result in the annulment of improperly cast votes and ineligibility to participate in voting any further;</li>
        <li>Other criteria that Blockstack may designate to Reviewer in writing from time-to-time</li>
      </ol>
    </div>
  </div>
</template>