<template name="signatures">
  <div class="signature">
    <h5>{{_ "signatures"}}</h5>
    {{#if editorMode}}
      {{#if currentUser}}
        {{#unless userSigned}}
          <div class="w-clearfix highlight">
            <div class="highlight-label">{{_ 'sign-here'}}</div>
            <div class="arrow"></div>
          </div>
        {{/unless}}
      {{/if}}
    {{/if}}
      <ul class="w-list-unstyled w-clearfix extra">
        {{#if editorMode}}
          {{#if currentUser}}
            {{#unless userSigned}}
              <li class="w-clearfix identity identity-sign">
                <img id='sign-author' class="symbol profile-pic profile-sign" src="{{pathFor route='home'}}images/fingerprint-white.png">
                  {{#if authorMode}}
                    <div class="signature-role {{roleStyle}}">
                      {{_ 'author'}}
                    </div>
                  {{/if}}
              </li>
            {{/unless}}
          {{/if}}
        {{/if}}
        {{#if editorMode}}
          {{#each signer}}
            <li class="w-clearfix identity identity-sign">
                {{> avatar profile=this includeName=true includeNation=true editable=false disabled=false includeRole=true allowRemove=true}}
            </li>
          {{/each}}
        {{else}}
          {{#if delegationMode}}
            {{#each signer}}
              <li class="w-clearfix identity identity-sign">
                {{> avatar profile=this includeName=true includeNation=true editable=false disabled=true includeRole=true allowRemove=true}}
              </li>
            {{/each}}
          {{else}}
            {{#each signer}}
              <li class="w-clearfix identity identity-sign">
                {{> avatar profile=this includeName=true includeNation=true editable=false disabled=false includeRole=true}}
              </li>
            {{/each}}
          {{/if}}
        {{/if}}
      </ul>
      <div class="timestamp">
        <div class="cards">{{timestamp}}</div>
      </div>
  </div>
</template>
