<template name="login">
  {{#if currentUser}}
    <div class="w-clearfix paper-header card-header">
      <div id="logout" class="stage stage-placed stage-card button">
        <div class="label label-corner">
          {{_ 'log-out'}}
        </div>
        <img src="{{pathFor route='home'}}images/logout.png" class="logout">
      </div>
      <div class="card-title">
        {{> cardNavigation main}}
        {{_ 'identity'}}
      </div>
    </div>
    {{> profile}}
  {{else}}
    <!--<div class="w-clearfix paper-header card-header">
      <div class="stage stage-finish-approved stage-card stage-anon button">
        <div class="label label-corner">
          {{_ 'anonymous-mode'}}
        </div>
      </div>
      <div class="card-title">
        {{> cardNavigation}}
        {{_ 'identity'}}
      </div>
    </div>-->
    {{> emailLogin}}
  {{/if}}
</template>

<template name="cardNavigation">
  {{#if main}}
    <img src="{{pathFor route='home'}}images/fingerprint-white.png" class="section-icon">
  {{else}}
    <div id="card-back">
      <img src="{{pathFor route='home'}}images/back.png" class="section-icon section-icon-active">
    </div>
  {{/if}}
</template>
