<template name="login">
  {{#if currentUser}}
    <div class="w-clearfix paper-header card-header">
      <div id="logout" class="stage stage-placed stage-card button">
        <div class="label label-corner">
          {{_ "log-out"}}
        </div>
        <img src="{{pathFor route='home'}}images/logout.png" class="logout">
      </div>
      <div class="card-title">
        <img src="{{pathFor route='home'}}images/fingerprint-white.png" class="section-icon">
        {{_ "identity"}}
      </div>
    </div>
    {{> profile}}
  {{else}}
    <div class="w-clearfix paper-header card-header">
      <div class="stage stage-finish-approved stage-card stage-anon button">
        <div class="label label-corner">
          {{_ "anonymous-mode"}}
        </div>
      </div>
      <div class="card-title">
        <img src="{{pathFor route='home'}}images/fingerprint-white.png" class="section-icon">
        {{_ "identity"}}
      </div>
    </div>
    {{> logger}}
  {{/if}}
</template>
