<template name="login">
  {{#if currentUser}}
    <div class="w-clearfix paper-header card-header">
      <div id="logout" class="stage stage-placed stage-card button">
        <div class="label label-corner">
          {{_ 'sign-out'}}
        </div>
        <img src="{{getImage 'logout'}}" class="logout">
      </div>
      <div class="card-title">
        {{> cardNavigation main}}
        {{_ 'identity'}}
      </div>
    </div>
    {{> profile}}
  {{else}}
    {{> emailLogin}}
  {{/if}}
</template>

<template name="cardNavigation">
  {{#if main}}
    <img src="{{getImage 'fingerprint'}}" class="section-icon">
  {{else}}
    <div id="card-back">
      <img src="{{getImage 'back'}}" class="section-icon section-icon-active">
    </div>
  {{/if}}
</template>
