<template name="collective">
  <div id='collective-login' class="collective {{toggle}}" title="{{currentUser.username}}">
    {{#if hasLogo}}
      <img class="collective-icon" src="{{pathFor route='home'}}{{picture}}">
    {{/if}}
    <div class="collective-profile">
      <div id="collective-home" class="collective-title">
        {{title}}
      </div>
      {{#if currentUser}}
        {{> avatar size=20 profile=currentUser._id loginMode=true includeName=false includeNation=false editable=false microFont=true disabled=true includeRole=false}}
        {{username}}
      {{else}}
        {{_ 'log-in-network'}}
      {{/if}}
    </div>
  </div>
</template>
