<template name="collective">
  <div class="collective">
    {{#if hasLogo}}
      <a href="/">
        <img class="collective-icon" src="{{pathFor route='home'}}{{picture}}">
      </a>
    {{/if}}
    <div class="collective-title">
      {{title}}
    </div>
    {{description}}

    <!-- TODO: stats of collective
      <div class="collective-info">
        <div class="collective-stat w-clearfix"><img class="collective-stat-icon" src="images/member-card.png">
          <div>
            <a wf-temp-elem="">
              45&nbsp;members
            </a>
          </div>
        </div>
      </div>
    -->

  </div>
</template>

<template name="flag">

</template>
