<template name="fork">
  {{#if executive}}
    <li id="ballotProposalOption" class="{{style 'vote'}} {{checkbox mode}}">
      <div class="w-clearfix checkbox">
        <div id="ballotCheckbox" class="{{style 'option'}} {{tickStyle}}">
          <div id="tickbox" class="tick {{tickStyle}}">
            <img src="{{pathFor route='home'}}images/white-tick-thin.png" class="{{style 'tick-image'}} hover {{tickStatus}}">
          </div>
        </div>
        <div class="w-clearfix checkbox">
          <div class="{{style 'option-title'}} {{decision mode}}">
            {{_ mode}}
          </div>
        </div>
      </div>
      {{#if displayResult}}
        {{> result mode=mode contract=contract _id=_id}}
      {{/if}}
    </li>
  {{else}}
    <li id="ballotProposalOption" class="{{style 'vote'}} {{checkbox ../mode}} {{dragMode}}" rank="{{../rank}}" value="{{../_id}}">
      <div class="w-clearfix checkbox">
        <div id="ballotCheckbox" class="{{style 'option'}} {{option ../mode}}">
          <div id="tickbox" class="{{style 'tick'}} {{option ../mode}}">
            {{#if mini}}
              {{#if isReject}}
                <img src="{{pathFor route='home'}}images/white-tick-red.png" class="{{style 'tick-image'}}">
              {{else}}
                <img src="{{pathFor route='home'}}images/white-tick-green.png" class="{{style 'tick-image'}}">
              {{/if}}
            {{else}}
              <img src="{{pathFor route='home'}}images/white-tick-thin.png" class="{{style 'tick-image'}} hover {{tickStatus}}">
            {{/if}}
          </div>
        </div>
        <div class="w-clearfix checkbox">
          {{#if mini}}
            <div class="{{style 'option-title'}} {{length}} {{decision ../mode}}">
              {{caption ../mode ../label}}
            </div>
          {{else}}
            <a href="{{../url}}" class="{{style 'option-title'}} {{length}} {{decision ../mode}}">
              {{caption ../mode ../label}}
            </a>
          {{/if}}
        </div>
      </div>
    </li>
  {{/if}}
</template>

<template name="result">
  <div class="result-score {{checkbox mode}}">
    <div class="result-total {{checkbox mode}}">
      {{{total}}}
    </div>
    <div class="result-total result-right {{checkbox mode}}">
      {{{percentage}}}
    </div>
  </div>
  <div class="result {{checkbox mode}} {{hundred}}">
    <div id="result-bar-{{forkId}}" class="result-bar {{checkbox mode}}">
    </div>
  </div>
</template>
