<template name="fork">
  {{#if executive}}
    <li id="ballotProposalOption" class="{{style 'vote'}} {{checkbox mode}}">
      <div class="w-clearfix checkbox">
        <div id="ballotCheckbox" class="{{style 'option'}} {{tickStyle}}">
          <div id="tickbox" class="tick {{tickStyle}}">
            <img src="{{pathFor route='home'}}images/white-tick-thin.png" class="{{style 'tick-image'}} hover {{tickStatus}}">
          </div>
        </div>
        <div class="w-clearfix checkbox">
          <div class="{{style 'option-title'}} {{decision mode}}">
            {{_ mode}}
          </div>
        </div>
      </div>
    </li>
  {{else}}
    <li id="ballotProposalOption" class="{{style 'vote'}} {{checkbox ../mode}} {{dragMode}}" rank="{{../rank}}" value="{{../_id}}">
      <div class="w-clearfix checkbox">
        <div id="ballotCheckbox" class="{{style 'option'}} {{option ../mode}}">
          <div id="tickbox" class="tick">
            <img src="{{pathFor route='home'}}images/white-tick-thin.png" class="{{style 'tick-image'}} hover {{tickStatus}}">
          </div>
        </div>
        <div class="w-clearfix checkbox">
          <a href="{{../url}}" class="{{style 'option-title'}} {{length}} {{decision ../mode}}">
            {{caption ../mode ../label}}
          </a>
        </div>
      </div>
    </li>
  {{/if}}
</template>
