<template name="poll">
  {{#if placeholder}}
    <div class="section section-poll w-clearfix">
      <div class="poll">
        {{#each listItem}}
          <div id="single-vote" class="poll-choice">
            <div id="pollPlaceholder" class="button half choice">
              <div class="checkbox-mini">
                <div class="checkmark_kick"></div>
                <div class="checkmark_stem"></div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#if ready}}
      <div class="section section-poll w-clearfix">
        <div class="poll">
          {{#each item}}
            {{> ballot poll=true contract=this.contract pollTotals=this.totals editorMode=this.editor}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</template>