<template name="title">
  <div class="field headline-field">

    {{#if editorMode}}
      {{> titleContent editorMode=editorMode}}
    {{else}}
      <div id="titleContent" tab=0 class="title-input">
        {{declaration}}
      </div>
    {{/if}}

    <div class="meta">

      {{> stage text=stageLabel executionStatus=executionStatus closingDate=closingDate}}

      {{#if editorMode}}
        <div class="data"><img src="{{pathFor route='home'}}images/globe.png" class="url-icon">
          <div class="verifier verifier-live">
              <a data-new-link="true">{{{contractURL}}}</a>
              <div data-new-link='true' class='state {{verifierMode}}'>{{{URLStatus}}}</div>
          </div>
        </div>
      {{/if}}

      <div class="data">
        <img src="{{pathFor route='home'}}images/time.png" class="url-icon">
        <div class="verifier verifier-live">
          {{#if editorMode}}
            {{timestamp}}
          {{else}}
            {{timestamp}}
          {{/if}}
        </div>
      </div>

      <!-- TODO blockchain stuff:
      <div class="data"><img src="{{pathFor route='home'}}images/block.png" class="url-icon">
        <div class="verifier verifier-live">
          <a>{{_ "blockchain-address"}} <strong>{{blockchainAddress}}</strong></a>
        </div>
      </div>-->
    </div>

    {{#if editorMode}}
      <div class='extra'>
        {{#if missingTitle}}
          {{> warning label="title-required" style='forbidden'}}
        {{/if}}
        {{#if mistypedTitle}}
          {{> warning label="title-mistyped" style='forbidden'}}
        {{/if}}
        {{#if duplicateURL}}
          {{> warning label="url-duplicate" style='forbidden'}}
        {{/if}}
      </div>
    {{/if}}

  </div>
</template>

<template name="titleContent">
  <div class="title-input {{sampleMode}}">
    {{#with declaration}}
      {{{editable}}}
    {{/with}}
  </div>
</template>
