<template name="title">
  <div class="field headline-field">
    {{#if editorMode}}
      {{#if missingTitle}}
        <div id="emptyTitle" class="title-input title-input-void scrollFix">
          {{_ 'whats-going-on'}}
        </div>
      {{/if}}
      {{> titleContent editorMode=editorMode contractId=contractId}}
    {{else}}
      <div tab=0 class="title-input scrollFix">
        {{declaration}}
      </div>
    {{/if}}
  </div>
</template>

<template name="titleContent">
  <div class="title-input title-input-editor {{sampleMode}}">
    {{#with declaration}}
      <div id='titleContent' contenteditable='true' style='height: {{viewport}};' tabindex=0>{{text}}</div>
    {{/with}}
  </div>
</template>
