<template name="title">
  <div class="field headline-field">
    {{#if editorMode}}
      {{#if isPhone}}
        {{#if missingTitle}}
          <div id="emptyTitle" class="title-input title-input-void scrollFix">
            {{_ 'whats-going-on'}}
          </div>
        {{/if}}
      {{/if}}
      {{> titleContent editorMode=editorMode}}
    {{else}}
      <div tab=0 class="title-input scrollFix">
        {{declaration}}
      </div>
    {{/if}}

    {{#if editorMode}}
      {{#unless isPhone}}
        <div class="meta">
          <div class="data"><img src="{{pathFor route='home'}}images/globe.png" class="url-icon">
            <div class="verifier verifier-live">
                <a data-new-link="true">{{{contractURL}}}</a>
                <div data-new-link='true' class='state {{verifierMode}}'>{{{URLStatus}}}</div>
            </div>
          </div>
        </div>
        <div class='extra'>
          {{#if missingTitle}}
            {{> warning label="title-required" style='forbidden'}}
          {{/if}}
          {{#if mistypedTitle}}
            {{> warning label="title-mistyped" style='forbidden'}}
          {{/if}}
          {{#if duplicateURL}}
            {{> warning label="url-duplicate" style='forbidden'}}
          {{/if}}
        </div>
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="titleContent">
  <div class="title-input {{sampleMode}}">
    {{#with declaration}}
      {{{editable}}}
    {{/with}}
  </div>
</template>
