<template name="forgotPassword">
  Please enter email below:
  <input id="recovery-email" type="text" placeholder="{{_ 'email-sample'}}" class="w-input login-input">
  <div id="recovery-button" class="button login-button">
    <div>{{_ 'continue-password-recovery'}}</div>
  </div>
  {{#if error1}}
    <div class="extra section">
      {{> warning label="user-not-found"}}
    </div>
  {{/if}}
  {{#if error2}}
    <div class="extra section">
      {{> warning label="something-wrong"}}
    </div>
  {{/if}}
    {{#if emailSent}}
    <div class="extra section">
      {{> warning label="email-sent"}}
    </div>
  {{/if}}
  <div>
    <a id='forgot-pw' href="#">{{_ "cancel-password-recovery"}}</a>
  </div>
</template>
