<template name="profile">
  {{#if configProfile}}
    {{> profileEditor}}
  {{else}}
    <div class="login">
      {{> avatar}}
      {{> wallet}}
      <ul class="w-list-unstyled w-clearfix extra">
        <li class="w-clearfix tag"><img src="{{pathFor route='home'}}images/handshake-right.png" class="hash-icon">
          <a href="#" class="w-inline-block w-clearfix hash-link">
            <div class="hash-tag">Bitcoin</div>
          </a>
        </li>
        <li class="w-clearfix tag"><img src="{{pathFor route='home'}}images/handshake-right.png" class="hash-icon">
          <a href="#" class="w-inline-block w-clearfix hash-link">
            <div class="hash-tag">Blockchain</div>
          </a>
        </li>
        <li class="w-clearfix tag"><img src="{{pathFor route='home'}}images/handshake-right.png" class="hash-icon">
          <a href="#" class="w-inline-block w-clearfix hash-link">
            <div class="hash-tag">Cryptocurrencies</div>
          </a>
        </li>
      </ul>
      <div>
        <a href="#">
          {{_ 'see-all'}} {{totalDelegations}} {{_ 'delegations'}}.
        </a>
        <a href="#" id="logout">
          {{_ 'log-out'}}
        </a>
      </div>
    </div>
  {{/if}}
</template>
