<template name="profile">
  {{#if configProfile}}
    {{> profileEditor}}
  {{else}}
    <div class="login">
      {{> avatar includeName=true includeNation=true editable=true}}

      {{#unless socialMediaLogin}}
        {{#unless currentUser.emails.[0].verified}}
          <div class="extra float-left">
            {{> warning label="pending-verification"}}
          </div>
        {{/unless}}
      {{/unless}}

      {{> power user=userId}}


      <!-- TODO Delegations, consider if I will show them here (I doubt this)

      {{#if hasDelegations}}
        <ul class="w-list-unstyled w-clearfix extra">
          {{#each tags}}
            {{> tag _id=_id}}
          {{/each}}
        </ul>
        <div class="left">
          <a href="#">
            {{_ 'see-all'}} {{totalDelegations}} {{_ 'delegations'}}.
          </a>
        </div>
      {{else}}
        <div class="tag tag-empty">
          <div>{{_ 'no-delegations'}}</div>
        </div>
      {{/if}}

    -->

    </div>
  {{/if}}
</template>

<template name="userTags">

    <li class="w-clearfix tag"><img src="{{pathFor route='home'}}images/handshake-right.png" class="hash-icon">
      <a href="#" class="w-inline-block w-clearfix hash-link">
        <div class="hash-tag">Bitcoin</div>
      </a>
    </li>
    <li class="w-clearfix tag"><img src="{{pathFor route='home'}}images/handshake-right.png" class="hash-icon">
      <a href="#" class="w-inline-block w-clearfix hash-link">
        <div class="hash-tag">Blockchain</div>
      </a>
    </li>
    <li class="w-clearfix tag"><img src="{{pathFor route='home'}}images/handshake-right.png" class="hash-icon">
      <a href="#" class="w-inline-block w-clearfix hash-link">
        <div class="hash-tag">Cryptocurrencies</div>
      </a>
    </li>

</template>
