<template name="popup">
    {{#unless mobile}}
      <div id="{{id}}" class="popup">
        <div id="card-{{id}}" class="w-clearfix card">
          {{> Template.dynamic template=content data=dataObject}}
        </div>
      </div>
    {{else}}
      <div id="{{id}}" class="w-clearfix modal">
        <div id="card-{{id}}" class="w-clearfix alert" style="{{modalPosition}}">
          {{> Template.dynamic template=content data=dataObject}}
        </div>
      </div>
    {{/unless}}
</template>
