<template name="replica">  
  <div id="non-editable-feed" class="ledger">
    <div class="vote vote-delegation vote-feed vote-search guild-block">
      <div class="guild">
        <div class="guild-row">
          <div class="guild-label">
            {{#with replica.user}}
              {{> avatar size=24 profile=this._id includeName=false includeNation=false editable=false microFont=false disabled=false includeRole=false}}
            {{/with}}
            <div class="guild-name">
              <div class="guild-title">
                <a href="{{url}}" class="guild-title-label" target="_blank">{{name}}</a>
              </div>
            </div>
            <div class="guild-detail">
              <div class="guild-meta">
                <img src="{{getImage 'vote-icon-black'}}" class="clock-icon guild-verifier">
                <div class="verifier verifier-live verifier-feed verifier-mini">{{{members}}}</div>
              </div>
              <div class="guild-meta">
                <img src="{{getImage 'key'}}" class="clock-icon guild-verifier">
                <a href="{{blockchainLink}}" target="_blank" class="verifier verifier-live verifier-feed verifier-mini verifier-key verifier-guild">{{{publicAddress}}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>